<app-page-title [title]="'pages.department.title' | translate"></app-page-title>
<app-content>
    <div class="card card-custom">
        <div class="card-header flex-wrap border-0 pt-6 pb-0">
            <div class="card-title">
                <h3 class="card-label font-weight-bolder" id="title">{{ 'departments.title-description-list' | translate
                    }}</h3>
            </div>
            <!-- <div class="card-toolbar">
                <a [routerLink]="['../new']" class="btn btn-success font-weight-bolder">{{ 'departments.add-department' | translate}}</a>
            </div> -->
            <div class="card-toolbar pc-container-menu">
                <erp-shared-import-button (click)="departmentTable.openImportDepartmentsModal()" class="mr-2">
                    {{'button.import' | translate}}
                </erp-shared-import-button>
                <erp-shared-export-button class="btn mr-3" (click)="departmentTable.getHeaders(getTitle())">
                    {{'button.export' | translate}}
                </erp-shared-export-button>
            </div>
            <div class="col mobile-container-menu w-100">
                <erp-shared-import-button [width]="mobileButtonLength" (click)="departmentTable.openImportDepartmentsModal()" >
                    {{'button.import' | translate}}
                </erp-shared-import-button>
                <erp-shared-export-button [width]="mobileButtonLength" class="btn mt-2 border-0 w-100" (click)="departmentTable.getHeaders(getTitle())">
                    {{'button.export' | translate}}
                </erp-shared-export-button>
            </div>
        </div>
        <div class="card-body pt-0">
            <app-department-table #departmentTable></app-department-table>
        </div>
    </div>
</app-content>