<div id="kt_content" class="content d-flex flex-column flex-column-fluid">
  <div class="card card-custom gutter-b">
    <div class="card-header flex-wrap border-0 py-5">
      <div class="card-title" id="title">{{'pages.modules-details.permissions' | translate}}</div>
      <erp-shared-export-button (click)="getHeaders(getTitle())">
        {{'button.export' | translate}}
      </erp-shared-export-button>
    </div>
    <div class="card-header border-0 pt-0 pb-0 row">
      <div class="col-lg col-12">
        <erp-shared-search-input 
          (handleSearch)="setFilter('description', $event)" 
          [placeholder]="'pages.modules-details.search-by-description' | translate" 
          [showIcon]="false" [useDebounce]="false" #description>
        </erp-shared-search-input>
      </div>
      <div class="col-lg col-12 pt-lg-0 pt-2">
        <erp-shared-search-input 
          (handleSearch)="setFilter('code', $event)" 
          [placeholder]="'pages.modules-details.search-by-code' | translate" 
          [showIcon]="false" [useDebounce]="false" #code>
        </erp-shared-search-input>
      </div>
      <div class="col-lg-auto col-12 pt-lg-0 pt-2">
        <div class="w-100 text-right d-lg-block d-none">
          <app-button (handle)="clearFields()" [value]="'button.reset' | translate" class="mr-5"></app-button>
          <app-confirm-button (handle)="getPermissions()" [value]="'button.search' | translate"></app-confirm-button>
        </div>
        <div class="w-100 d-lg-none d-flex flex-column">
          <app-confirm-button class="w-100" width="100%" (handle)="getPermissions()" [value]="'button.search' | translate"></app-confirm-button>
          <app-button class="w-100 pt-2" width="100%" (handle)="clearFields()" [value]="'button.reset' | translate"></app-button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div
        class="table-responsive-xl datatable datatable-bordered datatable-head-custom datatable-default datatable-primary datatable-loaded"
        id="kt_datatable">
        <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
        <table class="datatable table font-size-lg" *ngIf="!isLoading">
          <thead class="text-uppercase text-muted">
            <tr>
              <th scope="col" style="width: 110px">{{'table.code' | translate}}</th>
              <th scope="col">{{'table.permission' | translate}}</th> 
            </tr>
          </thead>
          <tbody class="text-dark-75" *ngIf="permissions">
            <tr *ngFor="let item of permissions">
              <td>{{item.code}}</td>
              <td>{{item.description}}</td>
            </tr>
          </tbody>
          <tbody class="datatable-body text-dark-75" *ngIf="!permissions">
            <tr *ngIf="!permissions">
              <td colspan="4" class="text-center">
                {{'messages.no-records' | translate}}
              </td>
            </tr>
          </tbody>
        </table>
        <div pagination class="datatable-pager datatable-paging-loaded" [page]="pagination.currentPage" *ngIf="permissions"
          [total]="pagination.totalPages" [totalRecords]="pagination.totalCount" [size]="pagination.pageSize"
          (sizeChange)="getPermissions({ page: 1, itemsPerPage: $event })"
          (pageChange)="getPermissions({ page: $event, itemsPerPage: pagination.pageSize })">
        </div>
      </div>
    </div>
  </div>
</div>
