<div class="modal-header px-5">
    <h3 class="modal-title mb-0">{{'upload-avatar.title' | translate}}</h3>
  </div>
  <div class="modal-body px-5">
    <ngx-dropzone (change)="onSelect($event)" class="font-weight-light justify-content-center" [multiple]="false" accept=".jpg, .jpeg, .png" [disabled]="files.length > 0">
      <ngx-dropzone-label>
        <h4>{{'upload-avatar.drop-msg' | translate}}</h4>
        <p class="text-muted">{{'upload-avatar.sure-image-msg' | translate}}</p>
      </ngx-dropzone-label>
      <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f">
        <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
      </ngx-dropzone-image-preview>
    </ngx-dropzone>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary mr-2" (click)="activeModal.dismiss()">{{'button.cancel' | translate}}</button>
    <button type="button" class="btn btn-success" (click)="uploadAvatar()">{{'upload-avatar.upload-btn' | translate}}</button>
  </div>
  