<app-loading-spinner *ngIf="isLoading" [contentHeight]="'80vh'" [height]="'5rem'" [width]="'5rem'"
  [colorClass]="'text-primary'">
</app-loading-spinner>

<div *ngIf="!isLoading" class="content d-flex flex-column flex-column-fluid" id="kt_content">
  <app-page-title title="{{'change-password-comp.title' | translate}}"
    subTitle="{{'set-password.subheader' | translate}} {{userData.name + ' ' + userData.lastName}}">
  </app-page-title>

  <div class="d-flex flex-column-fluid">
    <div class="container">
      <div class="card card-custom gutter-b">
        <div class="card-body p-0">
          <div class="row justify-content-center my-7 px-8 my-lg-10 px-lg-10">
            <div class="col-xl-12 col-xxl-7">
              <form class="form" id="kt_contact_add_form" [formGroup]="passwordForm">
                <h3 class="mb-10 font-weight-bold text-dark">
                  {{'change-password-comp.password-details' | translate}}:
                </h3>
                <div class="form-group row">
                  <label class="col-xl-4 col-lg-4 col-form-label">{{'set-password.password' | translate}}</label>
                  <div class="col-lg-8 col-xl-8">
                    <input class="form-control form-control-lg form-control-solid" name="password" type="password"
                      formControlName="password"
                      [ngClass]="{'is-invalid': hasErrors('password'), 'is-valid': passwordForm.get('password').valid}" />
                    <div *ngIf="hasErrors('password')" class="fv-plugins-message-container">
                      <div *ngIf="hasError('password', 'required')" data-field="password" data-validator="notEmpty"
                        class="fv-help-block">
                        {{ 'change-password-comp.password-is-required' | translate }}
                        <span class="btn py-0 px-2" data-container="body" data-toggle="tooltip" placement="right"
                          [ngbTooltip]="tipContent" triggers="click:blur">
                          <i class="flaticon-questions-circular-button text-primary"></i>
                        </span>
                      </div>
                      <div *ngIf="hasError('password', 'pattern')" data-field="password" data-validator="notEmpty"
                        class="fv-help-block">
                        {{ 'change-password-comp.please-use-valid-password' | translate }}
                        <span class="btn py-0 px-2" data-container="body" data-toggle="tooltip" placement="right"
                          [ngbTooltip]="tipContent" triggers="click:blur">
                          <i class="flaticon-questions-circular-button text-primary"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label
                    class="col-xl-4 col-lg-4 col-form-label">{{'change-password-comp.repeat-password' | translate}}</label>
                  <div class="col-lg-8 col-xl-8">
                    <input class="form-control form-control-lg form-control-solid" name="repeatNewPassword"
                      type="password" formControlName="repeatNewPassword"
                      [ngClass]="{'is-invalid': hasErrors('repeatNewPassword'), 'is-valid': passwordForm.get('repeatNewPassword').valid}" />
                    <div *ngIf="hasErrors('repeatNewPassword')" class="fv-plugins-message-container">
                      <div *ngIf="hasError('repeatNewPassword', 'required')" data-field="repeatNewPassword"
                        data-validator="notEmpty" class="fv-help-block">
                        {{ 'change-password-comp.password-is-required' | translate }}</div>
                      <div *ngIf="hasError('repeatNewPassword', 'pattern')" data-field="repeatNewPassword"
                        data-validator="notEmpty" class="fv-help-block">
                        {{ 'change-password-comp.please-use-valid-password' | translate }}
                        <span class="btn py-0 px-2" data-container="body" data-toggle="tooltip" placement="right"
                          [ngbTooltip]="tipContent" triggers="click:blur">
                          <i class="flaticon-questions-circular-button text-primary"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label
                    class="col-xl-4 col-lg-4 col-form-label">{{'change-password-comp.send-notification' | translate}}</label>
                  <div class="col-lg-8 col-xl-8">
                    <input class="form-control form-control-lg form-control-solid" style="width: 25px;"
                      name="emailNotification" type="checkbox" formControlName="emailNotification" />
                  </div>
                </div>

                <ng-template #tipContent>
                  <ul class="list-group list-group-flush text-left">
                    <p class="mb-1 border-1 text-dark-75">
                      {{ 'change-password-comp.password-should-contain' | translate }}:</p>
                    <li class="list-group-item font-size-sm p-1 border-0 ml-3 text-dark-50">
                      {{ 'change-password-comp.password-length' | translate }}
                    </li>
                    <li class="list-group-item font-size-sm p-1 border-0 ml-3 text-dark-50">
                      {{ 'change-password-comp.uppercase-character' | translate }}
                    </li>
                    <li class="list-group-item font-size-sm p-1 border-0 ml-3 text-dark-50">
                      {{ 'change-password-comp.number' | translate }}
                    </li>
                    <li class="list-group-item font-size-sm p-1 border-0 ml-3 text-dark-50">
                      {{ 'change-password-comp.special-character' | translate }}
                    </li>
                  </ul>
                </ng-template>

                <div class="text-right border-top pt-10">
                  <app-button class="btn mr-2" [value]="'button.cancel' | translate" (handle)="back()"></app-button>
                  <app-add-button class="btn" [value]="'button.confirm' | translate" (handle)="setPassword()">
                  </app-add-button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
