<app-loading-spinner
	*ngIf="isLoading"
	[contentHeight]="'20rem'"
	[height]="'5rem'"
	[width]="'5rem'"
	[colorClass]="'text-primary'"
>
</app-loading-spinner>
<div *ngIf="!isLoading" class="table-responsive datatable datatable-default">
	<table class="table">
		<thead>
			<tr>
				<th>Angajatul</th>
				<th class="text-center">Evaluatorul</th>
				<th class="text-center">Contrasemnatar</th>
				<th class="text-center">Tipul evaluarii</th>
				<th class="text-center">Punctaj auto evaluare</th>
				<th class="text-center">Punctaj</th>
				<th class="text-center">Statut</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr
				*ngFor="let item of surveys; let i = index; let even = even"
				[class.table-warning]="item.state == 1"
				[class.table-danger]="item.state == 2"
				[class.table-info]="item.state == 3"
				[class.table-success]="item.state == 4"
			>
				<td class="text-center">
					<b>{{ item.evaluatedUserLastName }} {{ item.evaluatedUserName }} </b>
					<br />
					{{ item.evaluatedUserPositionName }}
					<br />
					{{ item.evaluatedUserDepartmentName }}
				</td>
				<td class="text-center">
					<b>{{ item.evaluatorUserName }} {{ item.evaluatorUserLastName }} </b>
					<br />
					{{ item.evaluatorUserPositionName }}
					<br />
					{{ item.evaluatorUserDepartmentName }}
				</td>
				<td class="text-center">
					<b>{{ item.counterSignUserName }} {{ item.counterSignUserLastName }} </b>
					<br />
					{{ item.counterSignUserPositionName }}
					<br />
					{{ item.counterSignUserDepartmentName }}
				</td>

				<td class="text-center">
					{{ 'survey.positions.position-' + item.type | translate }}
				</td>

				<td class="text-center">
					{{ item.autoEvaluationMark }} <br />
					<span *ngIf="item.autoEvaluationQualificative != 0">
						{{ 'survey.qualificatives.qualificative-' + item.autoEvaluationQualificative | translate }}
					</span>
				</td>

				<td class="text-center">
					{{ item.evaluationMark }} <br />
					<span *ngIf="item.evaluationQualificative != 0">
						{{ 'survey.qualificatives.qualificative-' + item.evaluationQualificative | translate }}
					</span>
				</td>

				<td class="text-center">
					{{ 'survey.states.state-' + item.state | translate }}
				</td>
				<td>
					<app-survey-dropdown-details [index]="i" [survey]="item" (delete)="openConfirmSurveyDeleteModal(item.id)"></app-survey-dropdown-details>
				</td>
			</tr>
			<tr *ngIf="!isLoading && (!surveys || !surveys.length)">
				<td colspan="10" class="text-center">Nu sunt înregistrări la moment</td>
			</tr>
		</tbody>
	</table>
	<div pagination
		[page]="pagedSummary.currentPage"
		[total]="pagedSummary.totalPages"
		class="datatable-pager datatable-paging-loaded"
		(pageChange)="list({ page: $event })">
	</div>
</div>
