<app-page-title title="{{'faq.faq' | translate}}" subTitle="{{'faq.manage-faq' | translate}}">
</app-page-title>

<app-loading-spinner *ngIf="isLoading" [contentHeight]="'80vh'" [height]="'5rem'" [width]="'5rem'"
[colorClass]="'text-primary'">
</app-loading-spinner>

<erp-shared-content *ngIf="!isLoading">
	<div class="d-flex flex-row">
		<div class="col">
			<div class="card card-custom gutter-b erp-shared-desktop-wide">
				<div class="card-header flex-wrap border-0 py-5">
					<div class="card-title">
						<h3 class="card-label" id="title">{{'faq.subtitle' | translate}}</h3>
					</div>
					<div class="card-toolbar pc-container-menu">
						<erp-shared-export-button class="mr-3" (click)="table.getHeaders(getTitle())">
							{{'button.export' | translate}}
						</erp-shared-export-button>
						<button [disabled]="isLoadingButton" type="button" (click)="downloadFile()"
							class="btn btn-success py-0 mr-3">
							<i class="far fa-file-pdf" *ngIf="!isLoadingButton"></i>
							<span class="text-white ml-2 font-weight-bold font-size-lg" *ngIf="!isLoadingButton">{{'guide.title' | translate}}</span>
							<span class="text-white mr-2 font-weight-bold font-size-lg" *ngIf="isLoadingButton">{{'button.loading' | translate}}</span>
							<div *ngIf="isLoadingButton" class="spinner-border spinner-border-sm text-white" role="status"></div>
						</button>
						
						<app-add-button class="btn" [routerLink]="['add-article']"
							[value]="'faq.new-article' | translate">
						</app-add-button>
					</div>
					<div class="row mobile-container-menu mx-0 w-100">
						<div class="d-flex m-0 w-100">
							<erp-shared-export-button class="custom-btn mr-1" (click)="table.getHeaders(getTitle())">
								{{'button.export' | translate}}
							</erp-shared-export-button>
		
							<app-mobile-add-button class="custom-btn ml-1" [fontSize]="font-size" [routerLink]="['add-article']"
								[value]="'faq.new-article' | translate">
							</app-mobile-add-button>
						</div>
						<button [disabled]="isLoadingButton" type="button" (click)="downloadFile()"
							class="btn custom-button py-0 w-100 my-3">
							<i class="far fa-file-pdf" style="color: #ffffff;" *ngIf="!isLoadingButton"></i>
							<span class="text-white ml-2 font-weight-bold font-size-lg" *ngIf="!isLoadingButton">{{'guide.title' | translate}}</span>
							<span class="text-white mr-2 font-weight-bold font-size-lg" *ngIf="isLoadingButton">{{'button.loading' | translate}}</span>
							<div *ngIf="isLoadingButton" class="spinner-border spinner-border-sm text-white" role="status"></div>
						</button>
					</div>
				</div>
				<div class="card-header border-0 py-0 mt-3 row">
					<div class="col">
						<erp-shared-search-input 
							(handleSearch)="table.setFilter($event)" 
							[placeholder]="'button.search-name' | translate" 
							[showIcon]="false" [useDebounce]="false" #user>
						</erp-shared-search-input>
					</div>
					<div class="col-lg-auto col-12 pt-lg-0 pt-2">
						<div class="text-right d-md-block d-none">
							<app-button class="mr-md-5"
								(handle)="user.value = ''; table.resetFilters()" 
								[value]="'button.reset' | translate" >
							</app-button>
							<app-confirm-button 
								(handle)="table.list({page: 1})" 
								[value]="'button.search' | translate">
							</app-confirm-button>
						</div>
						<div class="d-md-none d-flex flex-column">
							<app-confirm-button class="w-100" width="100%" 
								(handle)="table.list({page: 1})" 
								[value]="'button.search' | translate">
							</app-confirm-button>
							<app-button class="w-100 pt-2" width="100%" 
								(handle)="user.value = ''; table.resetFilters()" 
								[value]="'button.reset' | translate">
							</app-button>
						</div>
					</div>
				</div>
				<div class="card-body">
					<app-faq-list-table #table></app-faq-list-table>
				</div>
			</div>
		</div>
	</div>
</erp-shared-content>
