.dropdown-toggle::after {
    display:none;
}

table {
    table-layout: fixed;
    width: 100%;   
}

th,td {
    border-style: solid;
    border-color: #BCBCBC;
    word-wrap: break-word;
}

.mobile-dropdown-view1 {
    width: auto !important;
    transform: translate(-160px, 0px) !important;
    @media screen and (max-width: 358px) {
        transform: translate(-50px, 30px) !important;
    }
}

.custom-scrollbar-visible{
	overflow-x: scroll !important;
	&::-webkit-scrollbar {
		height: 3px !important;
	}
	&::-webkit-scrollbar-track {
		background: transparent;
	}
	&::-webkit-scrollbar-thumb {
		background: rgb(192,192,192);
	}
}