<app-page-title [title]="'pages.roles.update-permissions' | translate" subTitle="{{role?.name}}"></app-page-title>

<app-loading-spinner *ngIf="isLoading" [contentHeight]="'80vh'" [height]="'5rem'" [width]="'5rem'"
[colorClass]="'text-primary'">
</app-loading-spinner>

<erp-shared-content *ngIf="!isLoading">
  <div class="card card-custom gutter-b erp-shared-desktop-wide">
    <div class="card-body">
      <table class="datatable table font-size-lg">
        <thead class="text-uppercase text-muted">
          <tr>
            <th scope="col" style="width: 100px">{{'table.add' | translate}}</th>
            <th scope="col" style="width: 110px">{{'table.code' | translate}}</th>
            <th scope="col">{{'table.description' | translate}}</th>
          </tr>
        </thead>
        <tbody *ngIf="permissionForm" [formGroup]="permissionForm" class="text-dark-75">
          <tr *ngFor="let item of permissions ; let i= index">
            <td style="vertical-align: baseline">
              <label class="checkbox checkbox-lg checkbox-inline">
                <input type="checkbox" [formControlName]="'option'+i" [name]="'option' + i">
                <span></span>
              </label>
            </td>
            <td>{{item.code}}</td>
            <td>{{item.description}}</td>
          </tr>
        </tbody>
      </table>
      <div class="text-right"> 
        <app-button class="btn mr-2" [value]="'button.cancel' | translate" (handle)="back()"></app-button>
        <app-add-button class="btn" [value]="'button.update' | translate" (handle)="updateRolePermission()"></app-add-button>
      </div>
    </div>
  </div>
</erp-shared-content>
