<app-page-title [title]="'pages.start.title' | translate" [subTitle]="'pages.start.subtitle' | translate">
</app-page-title>
<app-content>
  <div class="row dahsboard-component">
    <div class="col">
      <div class="card card-custom wave wave-secondary shadow-sm wave-animate-fast gutter-b card-stretch card-shadowless">
        <div class="card-body">
          <app-loading-spinner colorClass="text-primary" contentHeight="10rem" height="5rem" width="5rem"></app-loading-spinner>
        </div>
      </div>
    </div>
  </div>
</app-content>
