<app-page-title title="{{ 'menu.menu-sections.administration' | translate }}"
  subTitle="{{ 'pages.modules.subtitle' | translate }}">
</app-page-title>

<app-loading-spinner *ngIf="isLoading" [contentHeight]="'80vh'" [height]="'5rem'" [width]="'5rem'"
  [colorClass]="'text-primary'">
</app-loading-spinner>

<div *ngIf="!isLoading" class="content d-flex flex-column flex-column-fluid" id="kt_content">
  <div class="d-flex flex-column-fluid">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card card-custom gutter-b">
            <div class="card-header flex-wrap border-0 py-0">
              <div class="card-title">
                <h3 class="card-label">
                  {{ 'pages.modules.list-module' | translate }}
                </h3>
              </div>
              <div class="card-toolbar">
                <app-add-button class="btn" routerLink="../add-position" [value]="'pages.positions.add' | translate">
                </app-add-button>
              </div>
            </div>
            <div class="card-body">
							<div class="row mb-5">
								<div class="col">
									<erp-shared-search-input (handleSearch)="list({name: $event, page: 1})" [placeholder]="'button.search' | translate" #search></erp-shared-search-input>
								</div>
								<app-button (click)="search.clear()" [value]="'button.reset' | translate" class="mr-5"></app-button>
							</div>
              <div id="kt_datatable"
                class="datatable datatable-bordered datatable-head-custom datatable-default datatable-primary datatable-loaded">
                <table class="datatable table font-size-lg">
                  <thead class="text-uppercase text-muted">
                    <tr>
                      <th scope="col" style="width: 50px"></th>
                      <th scope="col">{{'pages.positions.name' | translate}}</th>
                      <th scope="col" style="width: 50px"></th>
                    </tr>
                  </thead>
                  <tbody class="text-dark-75">
                    <tr *ngFor="let position of positions">
                      <td>
                        <svg-icon *ngIf="position.isActive === false" key="error" [width]="24" [height]="24"
                          data-toggle="tooltip" data-placement="right" placement="right" ngbTooltip="Inactive">
                        </svg-icon>
                        <svg-icon *ngIf="position.isActive === true" key="success" [width]="24" [height]="24"
                          data-toggle="tooltip" data-placement="right" placement="right" ngbTooltip="Active">
                        </svg-icon>
                      </td>
                      <td>
                        <a [routerLink]="['../edit-position', position.id]"
                          class="font-size-lg text-dark-50 text-hover-dark-75">
                          {{ position.name }}
                        </a>
                      </td>
                      <td data-field="Actions" data-autohide-disabled="false"
                        class="datatable-cell datatable-cell-sort p-3">
                        <div style="overflow: visible; position: relative; width: 0px">
                          <div ngbDropdown class="dropdown dropdown-inline" class="p-0">
                            <div class="btn btn-sm btn-default btn-hover-default btn-icon mr-2">
                              <span class="svg-icon svg-icon-md" [id]="'action' + i" ngbDropdownToggle>
                                <svg _ngcontent-pkv-c106="" xmlns="http://www.w3.org/2000/svg"
                                  xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
                                  viewBox="0 0 24 24" version="1.1">
                                  <g _ngcontent-pkv-c106="" stroke="none" stroke-width="1">
                                    <rect _ngcontent-pkv-c106="" x="14" y="9" width="6" height="6" rx="3" fill="black">
                                    </rect>
                                    <rect _ngcontent-pkv-c106="" x="3" y="9" width="6" height="6" rx="3" fill="black"
                                      fill-opacity="0.7"></rect>
                                  </g>
                                </svg>
                              </span>
                            </div>
                            <div class="dropdown-menu dropdown-menu-sm dropdown-menu-left">
                              <div ngbDropdownMenu [aria-labelledby]="'action' + i" class="p-0">
                                <button class="navi-link align-items-baseline py-2 px-6 my-2" ngbDropdownItem
                                  [routerLink]="['../edit-position', position.id]">
                                  {{ 'pages.positions.edit' | translate }}
                                </button>
                                <button class="navi-link align-items-center py-2 px-6 my-2" ngbDropdownItem
                                  (click)="openRemoveModal(position.id, position.name)">
                                  {{ 'pages.positions.remove' | translate }}
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div pagination class="datatable-pager datatable-paging-loaded" [page]="pagination.currentPage"
                  [total]="pagination.totalPages" [totalRecords]="pagination.totalCount" [size]="pagination.pageSize"
                  (sizeChange)="list({ page: 1, itemsPerPage: $event })"
                  (pageChange)="list({ page: $event })" *ngIf="positions">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
