<app-page-title title="{{'sidebar.faq' | translate}}"></app-page-title>
<app-content>
	<div class="card card-custom">
		<div class="card-header flex-wrap border-0 pt-6 pb-0">
			<div class="card-title">
				<h3 class="card-label font-weight-bolder" id="title">{{'faq.subtitle' | translate}}</h3>
			</div>
			<div class="card-toolbar pc-container-menu">
				<erp-shared-export-button class="mr-3" (click)="table.getHeaders(getTitle())">
					{{'button.export' | translate}}
				</erp-shared-export-button>
				<button [disabled]="isLoadingButton" type="button" (click)="downloadFile()"
					class="btn btn-success py-0 mr-3">
					<i class="far fa-file-pdf" *ngIf="!isLoadingButton"></i>
					<span class="text-white ml-2 font-weight-normal" *ngIf="!isLoadingButton">{{ 'guide.title' |
						translate}}</span>
					<span class="text-white mr-2 font-weight-normal" *ngIf="isLoadingButton">{{'button.loading' |
						translate}}</span>
					<div *ngIf="isLoadingButton" class="spinner-border spinner-border-sm text-white" role="status">
					</div>
				</button>
				<app-add-button class="btn" [routerLink]="['add-article']" [value]="'faq.new-article' | translate">
				</app-add-button>
			</div>
			<div class="row mobile-container-menu d-flex w-100 mx-0">
				<erp-shared-export-button class="mr-2 mb-2 w-100" width="100%" (click)="table.getHeaders(getTitle())">
					{{'button.export' | translate}}
				</erp-shared-export-button>
				<button [disabled]="isLoadingButton" type="button" (click)="downloadFile()"
					class="btn btn-success my-2 w-100">
					<i class="far fa-file-pdf" *ngIf="!isLoadingButton"></i>
					<span class="text-white ml-2 font-weight-normal" *ngIf="!isLoadingButton">{{ 'guide.title' |
						translate}}</span>
					<span class="text-white mr-2 font-weight-normal" *ngIf="isLoadingButton">{{'button.loading' |
						translate}}</span>
					<div *ngIf="isLoadingButton" class="spinner-border spinner-border-sm text-white" role="status">
					</div>
				</button>
				<app-add-button class="btn w-100 mb-2 border-0" width="100%" [routerLink]="['add-article']" [value]="'faq.new-article' | translate">
				</app-add-button>
			</div>
		</div>
		<div class="card-header border-0 py-0 mt-3 row">
			<div class="col">
				<erp-shared-search-input 
					(handleSearch)="table.setFilter($event)" 
					[placeholder]="'button.search-name' | translate" 
					[showIcon]="false" [useDebounce]="false" #user>
				</erp-shared-search-input>
			</div>
			<div class="col-lg-auto col-12 pt-lg-0 pt-2">
				<div class="text-right d-md-block d-none">
					<app-button class="mr-md-5"
						(handle)="user.value = ''; table.resetFilters()" 
						[value]="'button.reset' | translate" >
					</app-button>
					<app-confirm-button 
						(handle)="table.list({page: 1})" 
						[value]="'button.search' | translate">
					</app-confirm-button>
				</div>
				<div class="d-md-none d-flex flex-column">
					<app-confirm-button class="w-100" width="100%" 
						(handle)="table.list({page: 1})" 
						[value]="'button.search' | translate">
					</app-confirm-button>
					<app-button class="w-100 pt-2" width="100%" 
						(handle)="user.value = ''; table.resetFilters()" 
						[value]="'button.reset' | translate">
					</app-button>
				</div>
			</div>
		</div>
		<div class="card-body pt-0">
			<app-faq-list-table #table></app-faq-list-table>
		</div>
	</div>
</app-content>