<app-loading-spinner *ngIf="isLoading" contentHeight="20rem" height="5rem" width="5rem" colorClass="text-primary">
</app-loading-spinner>
<form *ngIf="pictureForm && !isLoading" class="col" [formGroup]="pictureForm">
  <div class="row">
    <div class="col-md  required">
      <h4>{{'personal.add-profile-photo' | translate}}</h4>
    </div>
    <div>
    </div>
  </div>
  <div class="row py-8">
    <div class="col-md-12 ">
      <ngx-dropzone accept="image/*" [multiple]="false" [expandable]="true" (change)="onSelectPhoto($event)"
        class="font-weight-light">
        <ngx-dropzone-label>
          <h4>{{'personal.profile-photo' | translate}}</h4>
        </ngx-dropzone-label>
        <ngx-dropzone-preview *ngFor="let f of photos" [removable]="true" (removed)="onRemovePhoto(f)">
          <ngx-dropzone-label>{{ f.name }}</ngx-dropzone-label>
        </ngx-dropzone-preview>
      </ngx-dropzone>
    </div>
  </div>
</form>