<app-page-title title="{{'departments.subtitle' | translate}}" subTitle="{{'departments.department-data' | translate}}">
</app-page-title>

<app-loading-spinner *ngIf="isLoading" [contentHeight]="'80vh'" [height]="'5rem'" [width]="'5rem'"
  [colorClass]="'text-primary'">
</app-loading-spinner>

<erp-shared-content *ngIf="!isLoading">
  <div class="card card-custom gutter-b erp-shared-desktop-wide">
    <div class="card-body p-0">
      <div class="wizard wizard-1" id="kt_contact_add" data-wizard-state="step-first" data-wizard-clickable="true">
        <div class="row justify-content-center my-10 px-8 my-lg-15 px-lg-10">
          <div class="col-xl-12 col-xxl-7">
            <div class="form" id="kt_contact_add_form" [formGroup]="departmentForm">
              <div class="pb-5" data-wizard-type="step-content" data-wizard-state="current">
                <h3 class="mb-10 font-weight-bold text-dark">{{'departments.department-details' | translate}}</h3>
                <div class="row">
                  <div class="col-xl-12">
                    <div class="form-group row">
                      <label class="col-xl-3 col-lg-3 col-form-label text-right">
                        {{'departments.name' | translate}}
                      </label>
                      <div class="col-lg-9 col-xl-9">
                          <input class="form-control form-control-lg form-control-solid" name="name" type="text"
                          formControlName="name" placeholder="{{'departments.name' | translate}}" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-right border-top pt-10">
                <app-button class="btn mr-2" [value]="'button.cancel' | translate" (handle)="backClicked()">
                </app-button>
                <app-add-button class="btn" (handle)="onSave()" [value]="'button.confirm' | translate">
                </app-add-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</erp-shared-content>
