.card {
    @media screen and (max-width: 992px) {
        border: 0;
    }
    .card-body {
        @media screen and (max-width: 992px) {
            padding: 0;
        }
    }
}

button {
    @media screen and (max-width: 992px) {
        width: 100%;
    }
}

.bulletinIdnp:empty::before{
    content: "—";
    font-weight: bold;
}

.mobile-container-menu {
    display: none;
    @media screen and (max-width: 992px) {
        display: flex;
        justify-content: center;
    }
}

.pc-container-menu {
    display: none;
    @media screen and (min-width: 993px) {
        display: flex;
        justify-content: flex-end;
    }
}