<app-page-title [title]="'roles.title' | translate"></app-page-title>
<app-content>
    <div class="card card-custom">
        <div class="card-header flex-wrap border-0 pt-6 pb-0">
            <div class="card-title">
                <h3 class="card-label font-weight-bolder" id="title">{{ 'roles.title-description-list' | translate }}</h3>
            </div>
            <div class="card-toolbar  pc-container-menu">
                <erp-shared-import-button [disabled]="roleTable?.isLoading" (click)="roleTable.openImportModal()" type="button" class="mr-2">
                    {{'button.import' | translate}}
                </erp-shared-import-button>
                <erp-shared-export-button (click)="roleTable.getHeaders(getTitle())">
                    {{'button.export' | translate}}
                </erp-shared-export-button>
                <!-- <button [disabled]="roleTable?.isLoading"  [routerLink]="['../new']" class="btn btn-success font-weight-bolder">{{ 'roles.add-role' | translate}}</button> -->
            </div>
            <div class="row mobile-container-menu w-100 mx-0">
                <erp-shared-import-button class="w-100" [disabled]="roleTable?.isLoading" [width]="mobileButtonLength" (click)="roleTable.openImportModal()" type="button">
                    {{'button.import' | translate}}
                </erp-shared-import-button>
                <erp-shared-export-button class="btn my-2 border-0 w-100" [width]="mobileButtonLength"  (click)="roleTable.getHeaders(getTitle())">
                    {{'button.export' | translate}}
                </erp-shared-export-button>
                <!-- <button [disabled]="roleTable?.isLoading"  [routerLink]="['../new']" class="btn btn-success font-weight-bolder">{{ 'roles.add-role' | translate}}</button> -->
            </div>
        </div>
        <div class="card-header border-0 py-0 mt-3 row">
            <div class="col">
                <erp-shared-search-input 
                    (handleSearch)="roleTable.searchWord = $event" 
                    [placeholder]="'button.search-role' | translate" 
                    [showIcon]="false" [useDebounce]="false" #roleName>
                </erp-shared-search-input>
            </div>
            <div class="col-lg-auto col-12 pt-lg-0 pt-2">
                <div class="text-right d-sm-block d-none">
                    <app-button class="mr-sm-5"
                        (handle)="roleName.value = ''; roleTable.resetFilters()" 
                        [value]="'button.reset' | translate" >
                    </app-button>
                    <app-confirm-button 
                        (handle)="roleTable.startSearch()" 
                        [value]="'button.search' | translate">
                    </app-confirm-button>
                </div>
                <div class="d-sm-none d-flex flex-column">
                    <app-confirm-button class="w-100" width="100%" 
                        (handle)="roleTable.startSearch()" 
                        [value]="'button.search' | translate">
                    </app-confirm-button>
                    <app-button class="w-100 pt-2" width="100%" 
                        (handle)="roleName.value = ''; roleTable.resetFilters()" 
                        [value]="'button.reset' | translate">
                    </app-button>
                </div>
            </div>
        </div>
        <div class="card-body pt-0">
            <app-roles-table #roleTable></app-roles-table>
        </div>
    </div>
</app-content>