<div class="modal-header border-0 pb-0">
    <h3 class="modal-title">{{'registration-page.about-us' | translate}}</h3>
</div>
<div class="row">
    <div class="col">
        <div class="embed-responsive embed-responsive-21by9">
            <iframe class="embed-responsive-item"
                src="../../../assets/new_recording_-_05_04_2022,_11_35_28 (Original).mp4"></iframe>
        </div>
    </div>
</div>
<div class="modal-footer border-0 pt-0">
    <button type="button" class="btn btn-secondary" (click)="dismiss()">{{'button.cancel' | translate}}</button>
</div>