<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>

<div *ngIf="!isLoading" id="kt_content" class="content d-flex flex-column flex-column-fluid">
  <div class="card card-custom gutter-b">
    <div class="card-header flex-wrap border-0 py-5">
      <div class="w-100 d-flex justify-content-between align-items-center">
        <div class="card-title">{{'files.title' | translate}}</div>
        <div class="card-toolbar">
          <app-add-button class="btn" [value]="'Upload doc'" (click)="openUploadDocumentModal()"></app-add-button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="datatable datatable-bordered datatable-head-custom datatable-default datatable-primary datatable-loaded"
        id="kt_datatable">
        <table class="datatable table font-size-lg">
          <thead class="text-uppercase text-muted">
            <tr>
              <th scope="col" style="width: 48px"></th>
              <th scope="col">{{'files.file-name' | translate}}</th>
              <th scope="col" style="width: 48px"></th>
            </tr>
          </thead>
          <tbody class="text-dark-75">
            <tr *ngFor="let item of userFiles">
              <td>
                  <span class="navi-icon mr-2">
                      <span class="svg-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                              <polygon points="0 0 24 0 24 24 0 24"/>
                              <path d="M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
                              <rect fill="#000000" x="6" y="11" width="9" height="2" rx="1"/>
                              <rect fill="#000000" x="6" y="15" width="5" height="2" rx="1"/>
                          </g>
                        </svg>
                      </span>
                    </span>
              </td>
              <td class="cursor-pointer" (click)="downloadFile(item.fileId)">{{item.name}}</td>
              <td data-field="Actions" data-autohide-disabled="false" class="datatable-cell datatable-cell-sort p-3">
                <div style="overflow: visible; position: relative; width: 0px">
                  <div ngbDropdown class="dropdown dropdown-inline">
                    <div class="btn btn-sm btn-default btn-hover-default btn-icon mr-2">
                      <span class="svg-icon svg-icon-md" [id]="'action'+i" ngbDropdownToggle>
                        <svg-icon key="actions" [width]="24" [height]="24"></svg-icon>
                      </span>
                    </div>
                    <div class="dropdown-menu dropdown-menu-sm dropdown-menu-left">
                      <div ngbDropdownMenu [aria-labelledby]="'action'+i" class="p-0">
                        <span>
                          <button class="navi-link align-items-center py-2 px-6 my-2 font-size-lg" ngbDropdownItem
                          (click)="downloadFile(item.fileId)">
                            {{'files.download' | translate}}
                          </button>
                        </span>
                        <span>
                          <button class="navi-link align-items-baseline py-2 px-6 my-2 font-size-lg" ngbDropdownItem
                            (click)="openDeleteDocumentModal(item.fileId)">
                            {{'files.delete' | translate}}
                          </button>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

        <div pagination class="datatable-pager datatable-paging-loaded" [page]="pagination.currentPage"
            [total]="pagination.totalPages" [totalRecords]="pagination.totalCount" [size]="pagination.pageSize"
            (sizeChange)="getUserFiles({ page: pagination.currentPage, itemsPerPage: $event })"
            (pageChange)="getUserFiles({ page: $event })">
          </div>
      </div>
    </div>
  </div>
</div>
