<ng-container [ngSwitch]="type">
    <!-- <app-evaluation *ngSwitchCase="0" [evaluation]="evaluation" [action]="action"></app-evaluation>
    <app-evaluation *ngSwitchCase="1" [evaluation]="evaluation" [action]="action"></app-evaluation> -->
    <app-public-evaluation *ngSwitchCase="1" [type]="1" [evaluation]="evaluation" [action]="action"></app-public-evaluation>
    <app-public-evaluation *ngSwitchCase="2" [type]="2" [evaluation]="evaluation" [action]="action"></app-public-evaluation>
</ng-container>
