:host {
    font-family: Arial, Helvetica, sans-serif;
    .dropdown-toggle.nav-link:after, .dropdown-toggle.btn:after {
        display: none;
    }

    .typeahead-group-header {
        padding: 3px 20px;
        border-bottom: 1px solid black;
        font-weight: bold;
    }
}

.deep::ng-deep select {
    background: #F3F6F9;
}