<app-loading-spinner *ngIf="isLoading" [contentHeight]="'80vh'" [height]="'5rem'" [width]="'5rem'"
  [colorClass]="'text-primary'">
</app-loading-spinner>

<div ngbDropdown container="body" *ngIf="!isLoading && evaluationRole === EvaluatinRoleEnum.Evaluator">
  <button #btn id="fastSetupDropdown" ngbDropdownToggle [ngbTooltip]="'evaluations.fast-setup' | translate" type="button" class="pulse pulse-primary btn btn-clean btn-hover-light-primary btn-sm btn-icon position-absolute top-0 right-0">
    <i class="ki ki-bold-more-hor"></i>
    <span class="pulse-ring"></span>
  </button>
  <div ngbDropdownMenu class="dropdown-menu dropdown-menu-lg" aria-labelledby="fastSetupDropdown">
    <ul class="navi flex-column navi-hover py-2" >
      <li class="navi-item">
          <a (click)="precompleteWith(btn, 1)" href="javascript:void(0)" class="navi-link">
              <span class="navi-icon"><i class="flaticon-time-1 text-dark-65"></i></span>
              <span class="navi-text text-dark-65">{{'evaluations.precomplete-points-with' | translate }} 1</span>
          </a>
      </li>
      <li class="navi-item">
          <a (click)="precompleteWith(btn, 2)" href="javascript:void(0)" class="navi-link">
              <span class="navi-icon"><i class="flaticon-time-1 text-dark-65"></i></span>
              <span class="navi-text text-dark-65">{{'evaluations.precomplete-points-with' | translate }} 2</span>
          </a>
      </li>
      <li class="navi-item">
          <a (click)="precompleteWith(btn, 3)" href="javascript:void(0)" class="navi-link">
              <span class="navi-icon"><i class="flaticon-time-1 text-dark-65"></i></span>
              <span class="navi-text text-dark-65">{{'evaluations.precomplete-points-with' | translate }} 3</span>
          </a>
      </li>
      <li class="navi-item">
          <a (click)="precompleteWith(btn, 4)" href="javascript:void(0)" class="navi-link">
              <span class="navi-icon"><i class="flaticon-time-1 text-dark-65"></i></span>
              <span class="navi-text text-dark-65">{{'evaluations.precomplete-points-with' | translate }} 4</span>
          </a>
      </li>
      <li class="navi-item">
          <a (click)="randomCompleteForAvg(btn, 4)" href="javascript:void(0)" class="navi-link">
              <span class="navi-icon"><i class="flaticon2-graphic text-dark-65"></i></span>
              <span class="navi-text text-dark-65">{{'evaluations.set-annual-average-as-4' | translate }}</span>
          </a>
      </li>
      <li class="navi-item">
          <a (click)="randomCompleteForAvg(btn, 3)" href="javascript:void(0)" class="navi-link">
              <span class="navi-icon"><i class="flaticon2-graphic text-dark-65"></i></span>
              <span class="navi-text text-dark-65">{{'evaluations.set-annual-average-as-3' | translate }}</span>
          </a>
      </li>
      <li class="navi-item">
          <a (click)="randomCompleteForAvg(btn, 2)" href="javascript:void(0)" class="navi-link">
              <span class="navi-icon"><i class="flaticon2-graphic text-dark-65"></i></span>
              <span class="navi-text text-dark-65">{{'evaluations.set-annual-average-as-2' | translate }}</span>
          </a>
      </li>
      <li class="navi-item">
          <a (click)="randomCompleteForAvg(btn, 1)" href="javascript:void(0)" class="navi-link">
              <span class="navi-icon"><i class="flaticon2-graphic text-dark-65"></i></span>
              <span class="navi-text text-dark-65">{{'evaluations.set-annual-average-as-1' | translate }}</span>
          </a>
      </li>
    </ul>
  </div>
</div>

<h2 *ngIf="!isLoading && evaluation.type === EvaluationTypeEnum.Execution" class="font-weight-bolder text-center pb-5" [innerHTML]="'evaluations.execution-assessment-sheet' | translate"></h2>
<h2 *ngIf="!isLoading && evaluation.type === EvaluationTypeEnum.Management" class="font-weight-bolder text-center pb-5" [innerHTML]="'evaluations.managing-assessment-sheet' | translate"></h2>

<form *ngIf="!isLoading && isEvaluatorRoleView" [formGroup]="evaluationForm">
  <div class="row">
    <!-- DESKTOP LEFT SIDE -->
    <div class="col-xl col-12">
      <div class="form-group row position-relative">
        <label for="department" class="col-lg-4 col-12 col-form-label">{{ 'evaluations.subdivision' | translate }}: </label>
        <div class="col-lg col-12">
            <input [ngClass]="{'is-valid': isValid(evaluationForm, 'subdivisionName'),
              'is-invalid': isInvalidPattern(evaluationForm, 'subdivisionName') || isInvalidRequired(evaluationForm, 'subdivisionName')
            }" class="form-control" type="text" formControlName="subdivisionName" name="subdivisionName" id="subdivisionName" [placeholder]="'evaluations.subdivision' | translate">
            <div *ngIf="isInvalidPattern(evaluationForm, 'subdivisionName')" class="invalid-feedback position-absolute">
              {{ 'message.use-letters-numbers-and-dash' | translate }}
            </div>
            <div *ngIf="isInvalidRequired(evaluationForm, 'subdivisionName')" class="invalid-feedback position-absolute">{{'notification.required' | translate}}</div>
        </div>
      </div>
      <div class="form-group row position-relative">
        <label for="evaluatedName" class="col-lg-4 col-12">{{ 'evaluations.evaluated-name' | translate }}: </label>
        <div class="col-lg col-12">
          <input [ngClass]="{'is-invalid': isInvalidRequired(evaluationForm, 'evaluatedName'), 'is-valid':  isValid(evaluationForm, 'evaluatedName')}" class="form-control" type="text" formControlName="evaluatedName" name="evaluatedName" id="evaluatedName" placeholder="Nume, prenumele angajatului">
          <div *ngIf="isInvalidRequired(evaluationForm, 'evaluatedName')" class="invalid-feedback position-absolute">{{'notification.required' | translate}}</div>
        </div>
      </div>
      <div class="form-group row">
        <label for="functionSubdivision" class="col-lg-4 col-12 col-form-label">{{ 'evaluations.evaluated-function' | translate }}: </label>
          <div class="col-lg col-12 position-relative">
            <input class="form-control" type="text" [ngClass]="{'is-invalid': isInvalidRequired(evaluationForm, 'functionSubdivision') }" formControlName="functionSubdivision" name="functionSubdivision" id="functionSubdivision" [placeholder]="'evaluations.evaluated-function' | translate">
            <div *ngIf="isInvalidRequired(evaluationForm, 'functionSubdivision')" class="invalid-feedback position-absolute">{{'notification.required' | translate}}</div>
          </div>
      </div>
      <div class="form-group row">
        <label for="" class="col-lg-4 col-12 col-form-label">{{ 'evaluations.evaluated-period-from' | translate }}: </label>
          <div class="col-lg col-12 position-relative">
            <input class="position-absolute invisible" [(ngModel)]="parsedPeriodEvaluatedFromTo" (ngModelChange)="parseDate($event, 'periodEvaluatedFromTo', evaluationForm)" [ngModelOptions]="{standalone: true}" [owlDateTime]="efd" autocomplete="off"
            name="date" />
            <input [disabled]="isDisabledEvaluator" [readonly]="isDisabledEvaluator"
            [ngClass]="{'is-invalid': isInvalidPattern(evaluationForm, 'periodEvaluatedFromTo') || isInvalidCustom(evaluationForm, 'periodEvaluatedFromTo', 'ismorethan') || 
            isInvalidRequired(evaluationForm, 'periodEvaluatedFromTo'), 'is-valid': isValid(evaluationForm, 'periodEvaluatedFromTo')}"
            [owlDateTimeTrigger]="efd"  placeholder="00.00.0000" autocomplete="off"
              class="form-control" [value]="parsedPeriodEvaluatedFromTo | date: 'dd.MM.yyyy'" 
              (keyup)="parseDate($event.target.value, 'periodEvaluatedFromTo', evaluationForm)" />
            <div *ngIf="isInvalidPattern(evaluationForm, 'periodEvaluatedFromTo') || isInvalidRequired(evaluationForm, 'periodEvaluatedFromTo')" class="invalid-feedback">{{'message.use-date-format' | translate }}</div>
            <div *ngIf="isInvalidCustom(evaluationForm, 'periodEvaluatedFromTo', 'ismorethan')" class="invalid-feedback">{{'message.date-from-is-more-than' | translate}}</div>
            <owl-date-time [disabled]="isDisabledEvaluator" #efd pickerType="calendar"></owl-date-time>
          </div>
      </div>
    </div>

    <!-- DESKTOP RIGHT SIDE -->
    <div class="col-xl col-12 d-flex flex-column">
      <!-- <div class="form-group row order-1">
        <label for="" class="col-3 col-form-label">Data completării: </label>
        <div class="col position-relative">
          <input [disabled]="isDisabledEvaluator" class="position-absolute invisible" [(ngModel)]="parsedDateCompletionGeneralData" (ngModelChange)="parseDate($event, 'dateCompletionGeneralData', evaluationForm)" [ngModelOptions]="{standalone: true}" [owlDateTime]="deForm" autocomplete="off"
          name="date" />
          <input [disabled]="isDisabledEvaluator" [readonly]="isDisabledEvaluator" [owlDateTimeTrigger]="deForm"  placeholder="00.00.0000" autocomplete="off"
            class="form-control" [value]="parsedDateCompletionGeneralData | date: 'dd.MM.yyyy'" />
          <owl-date-time [disabled]="isDisabledEvaluator" #deForm pickerType="calendar"></owl-date-time>
        </div>
      </div> -->
      <div class="form-group row order-1">
        <label for="specialOrMilitaryGrade" class="col-lg-3 col-12 col-form-label">{{ 'evaluations.military-grade.title' | translate }}: </label>
        <div class="col-lg col-12 position-relative">
          <military-grade-dropdown [formGroup]="evaluationForm"></military-grade-dropdown>
        </div>
      </div>
      <div class="form-group row order-1">
        <label for="subdivisionEvaluated" class="col-lg-3 col-12">{{ 'evaluations.evaluated-subdivision' | translate }}: </label>
          <div class="col-lg col-12 position-relative">
            <input type="text" class="form-control"
            [ngClass]="{
              'is-valid': isValid(evaluationForm, 'subdivisionEvaluated'),
              'is-invalid': isInvalidRequired(evaluationForm, 'subdivisionEvaluated')
            }"
            formControlName="subdivisionEvaluated" name="subdivisionEvaluated" id="subdivisionEvaluated" [placeholder]="'evaluations.evaluated-subdivision' | translate">
            <div *ngIf="isInvalidRequired(evaluationForm, 'subdivisionEvaluated')" class="invalid-feedback position-absolute">{{'notification.required' | translate}}</div>
          </div>
      </div>
      <div class="form-group row order-1">
        <label for="educationEnum" class="col-lg-3 col-12 col-form-label">{{ 'evaluations.studies' | translate }}: </label>
        <div class="col-lg col-12">
            <select name="educationEnum" id="educationEnum" class="form-control" formControlName="educationEnum" 
            [ngClass]="{'is-valid': isValid(evaluationForm, 'educationEnum'), 'is-invalid': isInvalidPattern(evaluationForm, 'educationEnum')}">
              <option value="null">{{'button.select' | translate}}</option>
              <option value="1">{{ 'evaluations.education.1' | translate }}</option>
              <option value="2">{{ 'evaluations.education.2' | translate }}</option>
              <option value="3">{{ 'evaluations.education.3' | translate }}</option>
              <option value="4">{{ 'evaluations.education.4' | translate }}</option>
            </select>
        </div>
      </div>
      <div class="form-group row order-xl-1 order-0">
        <label for="" class="col-lg-3 col-12">{{ 'evaluations.evaluated-period-to' | translate }}: </label>
          <div class="col-lg col-12 position-relative">
            <input [disabled]="isDisabledEvaluator" class="position-absolute invisible" [(ngModel)]="parsedPeriodEvaluatedUpTo" (ngModelChange)="parseDate($event, 'periodEvaluatedUpTo', evaluationForm)" [ngModelOptions]="{standalone: true}" [owlDateTime]="etd" autocomplete="off"
            name="date" />
            <input [disabled]="isDisabledEvaluator" 
            [ngClass]="{'is-invalid': isInvalidPattern(evaluationForm, 'periodEvaluatedUpTo') || isInvalidCustom(evaluationForm, 'periodEvaluatedUpTo', 'islessthan') || isInvalidRequired(evaluationForm, 'periodEvaluatedUpTo'), 
            'is-valid': isValid(evaluationForm, 'periodEvaluatedUpTo')}"
            (keyup)="parseDate($event.target.value, 'periodEvaluatedUpTo', evaluationForm)"
            [readonly]="isDisabledEvaluator" [owlDateTimeTrigger]="etd"  placeholder="00.00.0000" autocomplete="off"
              class="form-control" [value]="parsedPeriodEvaluatedUpTo | date: 'dd.MM.yyyy'" />
              <div *ngIf="isInvalidPattern(evaluationForm, 'periodEvaluatedUpTo') || isInvalidRequired(evaluationForm, 'periodEvaluatedUpTo')" class="invalid-feedback">{{'message.use-date-format' | translate }}</div>
              <div *ngIf="isInvalidCustom(evaluationForm, 'periodEvaluatedUpTo', 'islessthan')" class="invalid-feedback">{{'message.date-to-is-less-than' | translate}}</div>
              <owl-date-time [disabled]="isDisabledEvaluator" #etd pickerType="calendar"></owl-date-time>
          </div>
      </div>
    </div>
    <!-- END DESKTOP RIGHT SIDE -->
  </div>

  <!-- <div class="form-group row">
    <label for="educationEnum" class="col-2 col-form-label">Studii: </label>
    <div class="col">
        <select name="educationEnum" id="educationEnum" class="form-control" formControlName="educationEnum">
          <option value="null">Selectează</option>
          <option value="1">{{ 'evaluations.education.1' | translate }}</option>
          <option value="2">{{ 'evaluations.education.2' | translate }}</option>
          <option value="3">{{ 'evaluations.education.3' | translate }}</option>
          <option value="4">{{ 'evaluations.education.4' | translate }}</option>
        </select>
    </div>
  </div> -->

    <div class="form-group row gap-4 gap-xl-0">
      <div class="col-lg-2 col-12">
        {{'evaluations.professional-training-activities.title' | translate}}
      </div>
      <div class="col-lg col-12">
        <select class="form-control" formControlName="professionalTrainingActivities" [ngClass]="{'is-valid': isValid(evaluationForm, 'professionalTrainingActivities')}" name="professionalTrainingActivities" id="professionalTrainingActivities">
          <option value="null">{{'button.select' | translate }}</option>
          <option value="1"> {{'evaluations.professional-training-activities.1' | translate}}</option>
          <option value="2"> {{'evaluations.professional-training-activities.2' | translate}}</option>
        </select>
      </div>
      <div class="col-lg col-12">
        <select class="form-control" formControlName="professionalTrainingActivitiesType" [ngClass]="{'is-valid': isValid(evaluationForm, 'professionalTrainingActivitiesType')}" name="professionalTrainingActivitiesType" id="professionalTrainingActivitiesType">
          <option value="null">{{'button.select' | translate }}</option>
          <option value="1">{{'evaluations.professional-training-activities-type.1' | translate}}</option>
          <option value="2">{{'evaluations.professional-training-activities-type.2' | translate}}</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-lg col-12">
        <div class="row">
          <label for="courseName" class="col-lg-2 col-12 col-form-label">{{ 'evaluations.course-name' | translate }}: </label>
          <div class="col-lg col-12">
            <input class="form-control" type="text" formControlName="courseName" [ngClass]="{'is-valid': isValid(evaluationForm, 'courseName')}" name="courseName" id="courseName" [placeholder]="'evaluations.course-name' | translate">
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-lg col-12">
        <div class="row">
          <label for="parsedPeriodRunningActivityFromTo" class="col-lg-4 col-12 col-form-label">{{ 'evaluations.period-running-activity-from' | translate }}: </label>
          <div class="col-lg col-12 position-relative">
            <input [disabled]="isDisabledEvaluator" class="position-absolute invisible" [(ngModel)]="parsedPeriodRunningActivityFromTo" (ngModelChange)="parseDate($event, 'periodRunningActivityFromTo', evaluationForm)" [ngModelOptions]="{standalone: true}" [owlDateTime]="praft" autocomplete="off"
            name="parsedPeriodRunningActivityFromTo" />
            <input [disabled]="isDisabledEvaluator" 
            (keyup)="parseDate($event.target.value, 'periodRunningActivityFromTo', evaluationForm)"
            [ngClass]="{'is-invalid': isInvalidPattern(evaluationForm, 'periodRunningActivityFromTo') || isInvalidCustom(evaluationForm, 'periodRunningActivityFromTo', 'ismorethan'), 'is-valid': isValid(evaluationForm, 'periodRunningActivityFromTo')}" [readonly]="isDisabledEvaluator" [owlDateTimeTrigger]="praft"  placeholder="00.00.0000" autocomplete="off"
              class="form-control" [value]="parsedPeriodRunningActivityFromTo | date: 'dd.MM.yyyy'" />
              <div *ngIf="isInvalidPattern(evaluationForm, 'periodRunningActivityFromTo')" class="invalid-feedback position-absolute">{{'message.use-date-format' | translate }}</div>
              <div *ngIf="isInvalidCustom(evaluationForm, 'periodRunningActivityFromTo', 'ismorethan')" class="invalid-feedback position-absolute">{{'message.date-from-is-more-than' | translate}}</div>
            <owl-date-time [disabled]="isDisabledEvaluator" #praft pickerType="calendar"></owl-date-time>
          </div>
        </div>
      </div>
      <div class="col-lg col-12">
        <div class="row">
          <label for="parsedPeriodRunningActivityUpTo" class="col-lg-4 col-12 col-form-label">{{ 'evaluations.period-running-activity-to' | translate }}: </label>
          <div class="col-lg col-12 position-relative">
            <input [disabled]="isDisabledEvaluator" class="position-absolute invisible" [(ngModel)]="parsedPeriodRunningActivityUpTo" (ngModelChange)="parseDate($event, 'periodRunningActivityUpTo', evaluationForm)" [ngModelOptions]="{standalone: true}" [owlDateTime]="praut" autocomplete="off"
            name="date" />
            <input [disabled]="isDisabledEvaluator" 
            (keyup)="parseDate($event.target.value, 'periodRunningActivityUpTo', evaluationForm)"
            [ngClass]="{'is-invalid': isInvalidPattern(evaluationForm, 'periodRunningActivityUpTo') || isInvalidCustom(evaluationForm, 'periodRunningActivityUpTo', 'ismorethan'), 'is-valid': isValid(evaluationForm, 'periodRunningActivityUpTo')}" [readonly]="isDisabledEvaluator" [owlDateTimeTrigger]="praut"  placeholder="00.00.0000" autocomplete="off"
              class="form-control" [value]="parsedPeriodRunningActivityUpTo | date: 'dd.MM.yyyy'" />
              <div *ngIf="isInvalidPattern(evaluationForm, 'periodRunningActivityUpTo')" class="invalid-feedback position-absolute">{{'message.use-date-format' | translate }}</div>
              <div *ngIf="isInvalidCustom(evaluationForm, 'periodRunningActivityUpTo', 'islessthan')" class="invalid-feedback position-absolute">{{'message.date-to-is-less-than' | translate}}</div>
            <owl-date-time [disabled]="isDisabledEvaluator" #praut pickerType="calendar"></owl-date-time>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="administrativeActOfStudies" class="col-lg-2 col-12  col-form-label">{{ 'evaluations.administrative-act-of-course' | translate }}: </label>
        <div class="col-lg col-12">
            <input class="form-control" type="text" formControlName="administrativeActOfStudies" 
            [ngClass]="{'is-valid': isValid(evaluationForm, 'administrativeActOfStudies')}"
            name="administrativeActOfStudies" id="administrativeActOfStudies" [placeholder]="'evaluations.administrative-act-of-course' | translate">
        </div>
    </div>

    <div class="form-group row">
      <label for="serviceDuringEvaluationCourse" class="col-lg-2  col-form-label">{{ 'evaluations.modifying-service-during-evaluation-course.title' | translate }}: </label>
      <div class="col-lg col-12">
        <select class="form-control" name="serviceDuringEvaluationCourse"
        [ngClass]="{'is-valid': isValid(evaluationForm, 'serviceDuringEvaluationCourse')}"
        id="serviceDuringEvaluationCourse" formControlName="serviceDuringEvaluationCourse">
          <option value="null">{{'button.select' | translate }}</option>
          <option value="1">{{ 'evaluations.modifying-service-during-evaluation-course.1' | translate }}</option>
          <option value="2">{{ 'evaluations.modifying-service-during-evaluation-course.2' | translate }}</option>
          <option value="3">{{ 'evaluations.modifying-service-during-evaluation-course.3' | translate }}</option>
          <option value="4">{{ 'evaluations.modifying-service-during-evaluation-course.4' | translate }}</option>
        </select>
      </div>
    </div>

    <div class="form-group row" *ngIf="evaluationForm.get('serviceDuringEvaluationCourse').value">
      <div class="col-lg col-12">
        <div class="row">
          <label for="functionEvaluated" class="col-auto  col-form-label">{{ 'evaluations.function' | translate }}: </label>
          <div class="col-lg col-12">
              <input class="form-control" type="text" formControlName="functionEvaluated" 
              [ngClass]="{'is-valid': isValid(evaluationForm, 'functionEvaluated'), 'is-invalid': isInvalidRequired(evaluationForm, 'functionEvaluated')}"
              name="functionEvaluated" id="functionEvaluated" [placeholder]="'evaluations.function' | translate">
              <div *ngIf="isInvalidRequired(evaluationForm, 'functionEvaluated')" class="invalid-feedback">{{'notification.required' | translate}}</div>
          </div>
        </div>
      </div>
      <div class="col-lg col-12">
        <div class="row">
          <label for="appointmentDate" class="col-lg-4 col-12 col-form-label">{{ 'evaluations.appointment-date' | translate }}: </label>
          <div class="col-lg col-12">
            <input [disabled]="isDisabledEvaluator" class="position-absolute invisible" [(ngModel)]="parsedAppointmentDate" (ngModelChange)="parseDate($event, 'appointmentDate', evaluationForm)" [ngModelOptions]="{standalone: true}" [owlDateTime]="pad" autocomplete="off"
            name="parsedAppointmentDate" />
            <input [disabled]="isDisabledEvaluator" 
            (keyup)="parseDate($event.target.value, 'appointmentDate', evaluationForm)"
            [ngClass]="{
              'is-invalid': isInvalidPattern(evaluationForm, 'appointmentDate') || isInvalidRequired(evaluationForm, 'appointmentDate'), 
              'is-valid': isValid(evaluationForm, 'appointmentDate')}" [readonly]="isDisabledEvaluator" [owlDateTimeTrigger]="pad"  placeholder="00.00.0000" autocomplete="off"
              class="form-control" [value]="parsedAppointmentDate | date: 'dd.MM.yyyy'" />
              <div *ngIf="isInvalidPattern(evaluationForm, 'appointmentDate')" class="invalid-feedback">{{'message.use-date-format' | translate }}</div>
              <div *ngIf="isInvalidRequired(evaluationForm, 'appointmentDate')" class="invalid-feedback">{{'notification.required' | translate}}</div>
              <owl-date-time [disabled]="isDisabledEvaluator" #pad pickerType="calendar"></owl-date-time>
          </div>
        </div>
      </div>
      <div class="col-lg col-12">
        <div class="row">
          <label for="administrativeActService" class="col-auto  col-form-label">{{ 'evaluations.administrative-act-of-service' | translate }}: </label>
          <div class="col-lg col-12">
              <input class="form-control" type="text" formControlName="administrativeActService"
              [ngClass]="{'is-valid': isValid(evaluationForm, 'administrativeActService'), 'is-invalid': isInvalidRequired(evaluationForm, 'administrativeActService')}"
              name="administrativeActService" id="administrativeActService" [placeholder]="'evaluations.administrative-act-of-service' | translate">
              <div *ngIf="isInvalidRequired(evaluationForm, 'administrativeActService')" class="invalid-feedback">{{'notification.required' | translate}}</div>
          </div>
        </div>
      </div>
    </div>

    <div class="row form-group">
      <div class="col">
        <p class="m-0">{{'evaluations.partial-evaluations-results' | translate }}</p>
      </div>
    </div>

    <div class="row form-group">
      <div class="col-lg col-12">
        <div class="row">
          <label for="parsedPartialEvaluationPeriodFromTo" class="col-lg-4 col-12 col-form-label">{{ 'evaluations.period-running-activity-from' | translate }}: </label>
          <div class="col-lg col-12 position-relative">
            <input [disabled]="isDisabledEvaluator" class="position-absolute invisible" [(ngModel)]="parsedPartialEvaluationPeriodFromTo" (ngModelChange)="parseDate($event, 'partialEvaluationPeriodFromTo', evaluationForm)" [ngModelOptions]="{standalone: true}" [owlDateTime]="epft" autocomplete="off"
            name="date" />
            <input [disabled]="isDisabledEvaluator" 
            (keyup)="parseDate($event.target.value, 'partialEvaluationPeriodFromTo', evaluationForm)"
            [ngClass]="{'is-invalid': isInvalidPattern(evaluationForm, 'partialEvaluationPeriodFromTo') || isInvalidCustom(evaluationForm, 'partialEvaluationPeriodFromTo', 'ismorethan'),'is-valid': isValid(evaluationForm, 'partialEvaluationPeriodFromTo')}" [readonly]="isDisabledEvaluator" [owlDateTimeTrigger]="epft"  placeholder="00.00.0000" autocomplete="off"
              class="form-control" [value]="parsedPartialEvaluationPeriodFromTo | date: 'dd.MM.yyyy'" />
              <div *ngIf="isInvalidPattern(evaluationForm, 'partialEvaluationPeriodFromTo')" class="invalid-feedback position-absolute">{{'message.use-date-format' | translate }}</div>
              <div *ngIf="isInvalidCustom(evaluationForm, 'partialEvaluationPeriodFromTo', 'ismorethan')" class="invalid-feedback position-absolute">{{'message.date-from-is-more-than' | translate}}</div>
              <owl-date-time [disabled]="isDisabledEvaluator" #epft pickerType="calendar"></owl-date-time>
          </div>
        </div>
      </div>
      <div class="col-lg col-12">
        <div class="row">
          <label for="parsedPartialEvaluationPeriodUpTo" class="col-lg-4 col-12 col-form-label">{{ 'evaluations.period-running-activity-to' | translate }}: </label>
          <div class="col-lg col-12 position-relative">
            <input [disabled]="isDisabledEvaluator" class="position-absolute invisible" [(ngModel)]="parsedPartialEvaluationPeriodUpTo" (ngModelChange)="parseDate($event, 'partialEvaluationPeriodUpTo', evaluationForm)" [ngModelOptions]="{standalone: true}" [owlDateTime]="eput" autocomplete="off"
            name="date" />
            <input [disabled]="isDisabledEvaluator" 
            (keyup)="parseDate($event.target.value, 'partialEvaluationPeriodUpTo', evaluationForm)"
            [ngClass]="{'is-invalid': isInvalidPattern(evaluationForm, 'partialEvaluationPeriodUpTo') || isInvalidCustom(evaluationForm, 'partialEvaluationPeriodUpTo'), 'is-valid': isValid(evaluationForm, 'partialEvaluationPeriodUpTo')}" [readonly]="isDisabledEvaluator" [owlDateTimeTrigger]="eput"  placeholder="00.00.0000" autocomplete="off"
              class="form-control" [value]="parsedPartialEvaluationPeriodUpTo | date: 'dd.MM.yyyy'" />
              <div *ngIf="isInvalidPattern(evaluationForm, 'partialEvaluationPeriodUpTo')" class="invalid-feedback position-absolute">{{'message.use-date-format' | translate }}</div>
              <div *ngIf="isInvalidCustom(evaluationForm, 'partialEvaluationPeriodUpTo', 'islessthan')" class="invalid-feedback position-absolute">{{'message.date-to-is-less-than' | translate}}</div>
            <owl-date-time [disabled]="isDisabledEvaluator" #eput pickerType="calendar"></owl-date-time>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-lg col-12">
        <div class="row">
          <label for="qualifierPartialEvaluations" class="col-lg-4 col-12  col-form-label">{{'evaluations.calificative' | translate }}: </label>
          <div class="col-lg col-12">
            <app-qualification-select (handleChange)="handlePartialScoreChange($event)" field="qualifierPartialEvaluations" [formGroup]="evaluationForm"></app-qualification-select>
          </div>
        </div>
      </div>
      <div class="col-lg col-12">
        <div class="row">
          <label for="partialEvaluationScore" class="col-lg-4 col-12  col-form-label">{{'evaluations.final-points' | translate }}: </label>
          <div class="col-lg col-12">
              <input class="form-control" type="number" 
              (input)="handlePartialScoreChange($event.target.value, true)"
              [ngClass]="{
                'is-valid': isValid(evaluationForm, 'partialEvaluationScore'),
                'is-invalid': isInvalidMin(evaluationForm, 'partialEvaluationScore') || isInvalidMax(evaluationForm, 'partialEvaluationScore')
              }"
              formControlName="partialEvaluationScore" name="partialEvaluationScore" id="partialEvaluationScore" [placeholder]="'evaluations.final-points' | translate ">
              <div *ngIf="isInvalidMin(evaluationForm, 'partialEvaluationScore') || isInvalidMax(evaluationForm, 'partialEvaluationScore')" 
              class="invalid-feedback position-absolute">{{'message.final-points-should-be-between-1-and-4' | translate }}</div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col">
        <p class="m-0"> {{'evaluations.saction-applied-evalution-course' | translate }} </p>
      </div>
    </div>

    <div class="form-group row">
      <label for="sanctionApplied" class="col-lg-2 col-12  col-form-label">{{ 'evaluations.sanction' | translate }}: </label>
          <div class="col-lg col-12">
            <select class="form-control" [ngClass]="{
              'is-valid': isValid(evaluationForm, 'sanctionAppliedEvaluationCourse'),
              'is-invalid': isInvalidRequired(evaluationForm, 'sanctionAppliedEvaluationCourse') || isInvalidPattern(evaluationForm, 'sanctionAppliedEvaluationCourse')
            }" formControlName="sanctionAppliedEvaluationCourse">
              <option value="null">{{ 'button.select' | translate }}</option>
              <option [value]="sanctionEnum.Without">{{'evaluations.sanction-enum.1' | translate}}</option>
              <option [value]="sanctionEnum.Warning">{{'evaluations.sanction-enum.2' | translate}}</option>
              <option [value]="sanctionEnum.Reprimand">{{'evaluations.sanction-enum.3' | translate}}</option>
              <option [value]="sanctionEnum.HarshRebuke">{{'evaluations.sanction-enum.4' | translate}}</option>
              <option [value]="sanctionEnum.Downgrade">{{'evaluations.sanction-enum.5' | translate}}</option>
              <option [value]="sanctionEnum.Demotion">{{'evaluations.sanction-enum.6' | translate}}</option>
              <option [value]="sanctionEnum.Dismissal">{{'evaluations.sanction-enum.7' | translate}}</option>
            </select>
            <div *ngIf="isInvalidRequired(evaluationForm, 'sanctionAppliedEvaluationCourse') || isInvalidPattern(evaluationForm, 'sanctionAppliedEvaluationCourse')" class="invalid-feedback">{{'notification.required' | translate}}</div>
          </div>
    </div>

    <div class="form-group row" *ngIf="showSanctionSection$ | async">
      <div class="col-lg col-12">
        <div class="row">
          <label for="parsedDateSanctionApplication" class="col-lg-4 col-12" [innerHTML]="'evaluations.sanction-date-applied-from' | translate"></label>
          <div class="col-lg col-12 position-relative">
            <input [disabled]="isDisabledEvaluator" class="position-absolute invisible" [(ngModel)]="parsedDateSanctionApplication" (ngModelChange)="parseDate($event, 'dateSanctionApplication', evaluationForm)" [ngModelOptions]="{standalone: true}" [owlDateTime]="dsa" autocomplete="off"
            name="date" />
            <input [disabled]="isDisabledEvaluator" [readonly]="isDisabledEvaluator" 
            (keyup)="parseDate($event.target.value, 'dateSanctionApplication', evaluationForm)"
            [ngClass]="{'is-invalid': isInvalidPattern(evaluationForm, 'dateSanctionApplication') || isInvalidCustom(evaluationForm, 'dateSanctionApplication'),'is-valid': isValid(evaluationForm, 'dateSanctionApplication')}" [owlDateTimeTrigger]="dsa"  placeholder="00.00.0000" autocomplete="off"
              class="form-control" [value]="parsedDateSanctionApplication | date: 'dd.MM.yyyy'" />
              <div *ngIf="isInvalidPattern(evaluationForm, 'dateSanctionApplication')" class="invalid-feedback">{{'message.use-date-format' | translate }}</div>
              <div *ngIf="isInvalidCustom(evaluationForm, 'dateSanctionApplication', 'ismorethan')" class="invalid-feedback">{{'message.date-from-is-more-than' | translate}}</div>
            <owl-date-time [disabled]="isDisabledEvaluator" #dsa pickerType="calendar"></owl-date-time>
          </div>
        </div>
      </div>
      <div class="col-lg col-12">
        <div class="row">
          <label for="parsedDateLiftingSanction" class="col-lg-4 col-12" [innerHTML]="'evaluations.sanction-date-applied-to' | translate"></label>
          <div class="col-lg col-12 position-relative">
            <input [disabled]="isDisabledEvaluator" class="position-absolute invisible" [(ngModel)]="parsedDateLiftingSanction" (ngModelChange)="parseDate($event, 'dateLiftingSanction', evaluationForm)" [ngModelOptions]="{standalone: true}" [owlDateTime]="dlfs" autocomplete="off"
            name="date" />
            <input [disabled]="isDisabledEvaluator" 
            (keyup)="parseDate($event.target.value, 'dateLiftingSanction', evaluationForm)"
            [ngClass]="{'is-invalid': isInvalidPattern(evaluationForm, 'dateLiftingSanction') || isInvalidCustom(evaluationForm, 'dateLiftingSanction'),'is-valid': isValid(evaluationForm, 'dateLiftingSanction')}" [readonly]="isDisabledEvaluator" [owlDateTimeTrigger]="dlfs"  placeholder="00.00.0000" autocomplete="off"
              class="form-control" [value]="parsedDateLiftingSanction | date: 'dd.MM.yyyy'" />
              <div *ngIf="isInvalidPattern(evaluationForm, 'dateLiftingSanction')" class="invalid-feedback">{{'message.use-date-format' | translate }}</div>
              <div *ngIf="isInvalidCustom(evaluationForm, 'dateLiftingSanction', 'islessthan')" class="invalid-feedback">{{'message.date-to-is-less-than' | translate}}</div>
              <owl-date-time [disabled]="isDisabledEvaluator" #dlfs pickerType="calendar"></owl-date-time>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col">
        <p class="m-0">{{'evaluations.qualifications-evaluation-obtained-yearly-last-2-years' | translate }}</p>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-lg col-12">
        <div class="row">
          <label for="qualificationEvaluationObtained2YearsPast" class="col-lg-4 col-12 col-form-label">{{'evaluations.two-years-ago' | translate }}</label>
          <div class="col-lg col-12">
            <app-qualification-select field="qualificationEvaluationObtained2YearsPast" [formGroup]="evaluationForm"></app-qualification-select>
          </div>
        </div>
      </div>
      <div class="col-lg col-12">
        <div class="row">
          <label for="qualificationEvaluationObtainedPreviousYear" class="col-lg-4 col-12 col-form-label">{{'evaluations.last-year' | translate }}</label>
          <div class="col-lg col-12">
            <app-qualification-select field="qualificationEvaluationObtainedPreviousYear" [formGroup]="evaluationForm"></app-qualification-select>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col">
        <p class="m-0">{{'evaluations.trimestrial-qualifications-established-against-performance' | translate }}</p>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-lg col-12">
        <div class="row">
          <label for="qualificationQuarter1" class="col-auto  col-form-label">{{'evaluations.trimester' | translate }} I: </label>
          <div class="col-lg col-12">
              <app-qualification-select field="qualificationQuarter1" [formGroup]="evaluationForm"></app-qualification-select>
            </div>
        </div>
      </div>
      <div class="col-lg col-12">
        <div class="row">
          <label for="qualificationQuarter2" class="col-auto  col-form-label">{{'evaluations.trimester' | translate }} II: </label>
          <div class="col-lg col-12">
              <app-qualification-select field="qualificationQuarter2" [formGroup]="evaluationForm"></app-qualification-select>
            </div>
        </div>
      </div>
      <div class="col-lg col-12">
        <div class="row">
          <label for="qualificationQuarter3" class="col-auto  col-form-label">{{'evaluations.trimester' | translate }} III: </label>
          <div class="col-lg col-12">
              <app-qualification-select field="qualificationQuarter3" [formGroup]="evaluationForm"></app-qualification-select>
            </div>
        </div>
      </div>
      <div class="col-lg col-12">
        <div class="row">
          <label for="qualificationQuarter4" class="col-auto  col-form-label">{{'evaluations.trimester' | translate }} IV: </label>
          <div class="col-lg col-12">
              <app-qualification-select field="qualificationQuarter4" [formGroup]="evaluationForm"></app-qualification-select>
            </div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col card">
        <div class="table-responsive-xl">
          <table class="table">
            <thead>
              <tr>
                <th [ngStyle]="{'width.%': 2}">{{'evaluations.list-table.number' | translate}}</th>
                <th>{{'evaluations.list-table.evaluations-criteria' | translate}}</th>
                <th>{{'evaluations.list-table.established-score' | translate}}</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let i of questions">
                  <td class="align-middle" *ngIf="i < 6">{{i}}.</td>
                  <td class="align-middle" *ngIf="i > 6 && i < 10">{{i - 6}}.</td>
                  <td class="align-middle" *ngIf="i > 12 && i < 17">{{i - 12}}.</td>
                  <td class="align-middle" *ngIf="i > 17">{{i - 13}}.</td>
                  <td colspan="2" *ngIf="[6, 10, 12, 17].includes(i)" class="align-middle font-weight-bolder" 
                  [innerHTML]="evaluation.type === EvaluationTypeEnum.Execution ? ('evaluations.criterias.execution.'+(i) | translate) : ('evaluations.criterias.management.'+(i) | translate)"></td>
                  <td *ngIf="![6, 10, 11, 12, 17].includes(i)" class="align-middle" 
                  [innerHTML]="evaluation.type === EvaluationTypeEnum.Execution ? ('evaluations.criterias.execution.'+(i) | translate) : ('evaluations.criterias.management.'+(i) | translate)"></td>
                  <td *ngIf="i != 11">
                    <div *ngIf="![6, 10, 12, 17].includes(i)">
                      <app-qualification-select [hasErrorSpace]="true" [field]="'question'+(i > 17 ? i - 5 : i > 12 ? i - 4 : i > 6 ? i - 1 : i)" [formGroup]="evaluationForm" [showNumbers]="true"></app-qualification-select>
                    </div>
                    <div *ngIf="6 === i" class="text-center">{{ M1$ | async | number : '1.2-2' }}</div>
                    <div *ngIf="10 === i" class="text-center">{{ M2$ | async | number : '1.2-2'  }}</div>
                    <div *ngIf="12 === i" class="text-center">{{ M3$ | async | number : '1.2-2' }}</div>
                    <div *ngIf="17 === i" class="text-center">{{ Pb$ | async | number : '1.2-2' }}</div>
                  </td>
                  <td *ngIf="i === 11" colspan="3">
                    <div class="table-responsive-xl">
                      <table class="table">
                        <thead>
                          <th [ngStyle]="{'width.%': 2}">{{'evaluations.list-table.number' | translate}}</th>
                          <th>{{'evaluations.list-table.individual-objectives' | translate}}</th>
                          <th>{{'evaluations.list-table.performance-indicators' | translate}}</th>
                          <th>{{'evaluations.list-table.release-term' | translate}}</th>
                          <th>{{'evaluations.list-table.established-score' | translate}}</th>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of [1,2,3,4,5]; let i = index">
                            <td class="align-middle">{{i+1}}.</td>
                            <td><input type="text" class="form-control" [formControlName]="'goal'+(i+1)" 
                              [ngClass]="{'is-valid': isValid(evaluationForm, 'goal'+(i+1)), 'is-invalid': isInvalidRequired(evaluationForm, 'goal'+(i+1)) }"
                              [placeholder]="('evaluations.objective' | translate)+' '+(i+1)">
                              <div *ngIf="isInvalidRequired(evaluationForm, 'goal'+(i+1))" class="invalid-feedback">{{'notification.required' | translate}}</div>
                            </td>
                            <td><input type="text" class="form-control" [formControlName]="'kpI'+(i+1)" 
                              [ngClass]="{'is-valid': isValid(evaluationForm, 'kpI'+(i+1)), 'is-invalid': isInvalidRequired(evaluationForm, 'kpI'+(i+1)) }"
                              [placeholder]="('evaluations.indicator' | translate)+' '+(i+1)">
                              <div *ngIf="isInvalidRequired(evaluationForm, 'kpI'+(i+1))" class="invalid-feedback">{{'notification.required' | translate}}</div>
                            </td>
                            <td><input type="text" class="form-control" [formControlName]="'performanceTerm'+(i+1)" 
                              [ngClass]="{'is-valid': isValid(evaluationForm, 'performanceTerm'+(i+1)), 'is-invalid': isInvalidRequired(evaluationForm, 'performanceTerm'+(i+1)) }"
                              [placeholder]="('evaluations.term' | translate)+' '+(i+1)">
                              <div *ngIf="isInvalidRequired(evaluationForm, 'performanceTerm'+(i+1))" class="invalid-feedback">{{'notification.required' | translate}}</div>
                            </td>
                            <td><app-qualification-select [field]="'score'+(i+1)" [formGroup]="evaluationForm" [showNumbers]="true" [hasErrorSpace]="true"></app-qualification-select></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="font-weight-bolder" colspan="2" [innerHTML]="'evaluations.established-score-on-fourth-compartment' | translate"></td>
                  <td class="text-center">{{ M4$ | async | number : '1.2-2' }}</td>
                </tr>
                <tr>
                  <td class="font-weight-bolder" colspan="2" [innerHTML]="'evaluations.yearly-evaluation-score' | translate"></td>
                  <td class="text-center">{{ Mea$ | async | number : '1.2-2' }}</td>
                </tr>
                <tr>
                  <td class="font-weight-bolder" colspan="2" [innerHTML]="'evaluations.yearly-evaluation-score-final' | translate"></td>
                  <td class="text-center">{{ Mf$ | async | number : '1.2-2' }}</td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="form-group row">
          <label for="finalEvaluationQualification" class="col-lg-2 col-12 col-form-label">{{'evaluations.evaluation-final-calificative' | translate }}</label>
          <div class="col-lg-5 col-12 pb-lg-0 pb-7">
            <app-qualification-select field="finalEvaluationQualification" [formGroup]="evaluationForm"
                                      (handleChange)="handleFinalQualificationChange($event)">
            </app-qualification-select>
          </div>
          <div class="col-lg-5 col-12 d-flex align-items-center">
            <input [disabled]="true" #finalEvalNum 
            [ngClass]="{'is-valid': isValid(evaluationForm, 'finalEvaluationQualification'),
              'is-invalid': isInvalidPattern(evaluationForm, 'finalEvaluationQualification') || isInvalidRequired(evaluationForm, 'finalEvaluationQualification') }"
            (input)="handleFinalQualificationChange($event.target.value, true)" class="form-control" type="number" placeholder="0.00" step="2" min="1" max="4" pattern="\d*" maxlength="3" required>
          </div>
    </div>

    <div class="form-group row">
      <label for="parsedDateEvaluationInterview" class="col-lg-2 col-12 col-form-label">{{'evaluations.date-evaluation-interview' | translate}}: </label>
      <div class="col-lg col-12 position-relative">
        <input [disabled]="isDisabledEvaluator" class="position-absolute invisible" [(ngModel)]="parsedDateEvaluationInterview" (ngModelChange)="parseDate($event, 'dateEvaluationInterview', evaluationForm)" [ngModelOptions]="{standalone: true}" [owlDateTime]="pdei" autocomplete="off"
        name="parsedDateEvaluationInterview" />
        <input [disabled]="isDisabledEvaluator" 
        [ngClass]="{'is-invalid': isInvalidPattern(evaluationForm, 'dateEvaluationInterview'), 'is-valid': isValid(evaluationForm, 'dateEvaluationInterview') }" 
        (keyup)="parseDate($event.target.value, 'dateEvaluationInterview', evaluationForm)"
        [readonly]="isDisabledEvaluator" [owlDateTimeTrigger]="pdei"  placeholder="00.00.0000" autocomplete="off"
          class="form-control" [value]="parsedDateEvaluationInterview | date: 'dd.MM.yyyy'" />
          <div *ngIf="isInvalidPattern(evaluationForm, 'dateEvaluationInterview')" class="invalid-feedback position-absolute">{{'message.use-date-format' | translate }}</div>
        <owl-date-time [disabled]="isDisabledEvaluator" #pdei pickerType="calendar"></owl-date-time>
      </div>
    </div>

    <div class="form-group row">
      <label for="parsedDateSettingIindividualGoals" class="col-lg-2 col-12 col-form-label">{{ 'evaluations.individual-objective-established' | translate }}: </label>
      <div class="col-lg col-12 position-relative">
        <input [disabled]="isDisabledEvaluator" class="position-absolute invisible" [(ngModel)]="parsedDateSettingIindividualGoals" (ngModelChange)="parseDate($event, 'dateSettingIindividualGoals', evaluationForm)" [ngModelOptions]="{standalone: true}" [owlDateTime]="pdsig" autocomplete="off"
        name="parsedDateSettingIindividualGoals" />
        <input [disabled]="isDisabledEvaluator" [ngClass]="{
          'is-invalid': isInvalidPattern(evaluationForm, 'dateSettingIindividualGoals'), 'is-valid': isValid(evaluationForm, 'dateSettingIindividualGoals')}" 
          (keyup)="parseDate($event.target.value, 'dateSettingIindividualGoals', evaluationForm)"
          [readonly]="isDisabledEvaluator" [owlDateTimeTrigger]="pdsig"  placeholder="00.00.0000" autocomplete="off"
          class="form-control" [value]="parsedDateSettingIindividualGoals | date: 'dd.MM.yyyy'" />
          <div *ngIf="isInvalidPattern(evaluationForm, 'dateSettingIindividualGoals')" class="invalid-feedback position-absolute">{{'message.use-date-format' | translate }}</div>
        <owl-date-time [disabled]="isDisabledEvaluator" #pdsig pickerType="calendar"></owl-date-time>
      </div>
    </div>

    <div class="form-group row">
      <div class="col card">
        <div class="table-responsive-xl">
          <table class="table">
            <thead>
              <tr>
                <th colspan="2" [innerHTML]="'evaluations.professional-development-needs-evaluated' | translate"></th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let i of [1,2,3,4,5]">
                <tr *ngIf="i == 1">
                  <td class="align-middle" [ngStyle]="{'width.%': 2}">{{i}}.</td>
                  <td>
                    <input class="form-control" type="text" [formControlName]="'need'+i+'ProfessionalDevelopmentEvaluated'" 
                    [ngClass]="{'is-valid': isValid(evaluationForm, 'need'+i+'ProfessionalDevelopmentEvaluated') }"
                    [name]="'need'+i+'ProfessionalDevelopmentEvaluated'" [id]="'need'+i+'ProfessionalDevelopmentEvaluated'" [placeholder]="'evaluations.necessity' | translate">
                  </td>
                </tr>
                <tr *ngIf="i > 1 && !!evaluationForm.get('need'+(i-1)+'ProfessionalDevelopmentEvaluated')?.value">
                  <td class="align-middle" [ngStyle]="{'width.%': 2}">{{i}}.</td>
                  <td>
                    <input class="form-control" type="text" [formControlName]="'need'+i+'ProfessionalDevelopmentEvaluated'" 
                    [ngClass]="{'is-valid': isValid(evaluationForm, 'need'+i+'ProfessionalDevelopmentEvaluated') }"
                    [name]="'need'+i+'ProfessionalDevelopmentEvaluated'" [id]="'need'+i+'ProfessionalDevelopmentEvaluated'" [placeholder]="'evaluations.necessity' | translate">
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-lg-2 col-12 col-form-label">{{'evaluations.evaluator-name' | translate}}:</label>
      <div class="col-lg col-12 d-flex align-items-center">
        {{evaluation?.evaluatorName || '-'}}
      </div>
      <label class="col-lg-2 col-12 col-form-label">{{'evaluations.evaluator-function' | translate}}:</label>
      <div class="col-lg col-12 d-flex align-items-center">
        {{evaluation?.functionEvaluator || '-'}}
      </div>
    </div>
    <div class="form-group row">
      <label for="commentsEvaluator" class="col-lg-2 col-12 col-form-label">{{'evaluations.evaluator-comments' | translate}}:</label>
      <div class="col-lg col-12">
        <textarea [placeholder]="('evaluations.evaluator-comments' | translate)+'...'" class="form-control" type="text" 
        [ngClass]="{'is-valid': isValid(evaluationForm, 'commentsEvaluator')}"
        formControlName="commentsEvaluator" name="commentsEvaluator" id="commentsEvaluator"></textarea>
      </div>
    </div>
</form>

<form [formGroup]="evaluatedForm" *ngIf="!isLoading && isEvaluatedRoleView">
  <div class="form-group row">
    <label class="col-lg-2 col-12 col-form-label">{{'evaluations.evaluated-name' | translate}}:</label>
    <div class="col-lg col-12 d-flex align-items-center">
      {{evaluation?.evaluatedName || '-'}}
    </div>
  </div>
  <div class="form-group row">
    <label for="commentsEvaluated" class="col-lg-2 col-12 col-form-label">{{'evaluations.evaluated-comments' | translate}}:</label>
    <div class="col-lg col-12">
      <textarea #commentsEvaluated [placeholder]="('evaluations.evaluated-comments' | translate)+'...'" 
      [ngClass]="{'is-valid': isValid(evaluatedForm, 'commentsEvaluated'), 'is-invalid': isInvalidRequired(evaluatedForm, 'commentsEvaluated')}"
      class="form-control" type="text" formControlName="commentsEvaluated" name="commentsEvaluated" id="commentsEvaluated"></textarea>
      <div *ngIf="isInvalidRequired(evaluatedForm, 'commentsEvaluated')" class="invalid-feedback">{{'notification.required' | translate}}</div>
    </div>
  </div>
</form>

<form [formGroup]="counterSignForm" *ngIf="!isLoading && isCounterSignerView">
  <div class="form-group row">
    <div class="col">
      <div class="table-responsive-xl">
        <table class="table">
          <thead>
            <tr>
              <th [ngStyle]="{'width.%': 2}">{{'evaluations.list-table.number' | translate}}</th>
              <th>{{'evaluations.countersigner-comments' | translate}}:</th>
              <th>{{'evaluations.check' | translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of [1,2,3,4]">
              <td>{{ item }}</td>
              <td>{{ 'evaluations.counter-signer-comments.'+item | translate }}</td>
              <td>
                <input [ngStyle]="{'width.px': 25}" type="checkbox" class="form-control" [formControlName]="'checkComment'+(item)" [name]="'checkComment'+(item)">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-lg-2 col-12 col-form-label">{{'evaluations.countersigner-name' | translate}}:</label>
    <div class="col-lg col-12 d-flex align-items-center">
      {{evaluation?.counterSignerName || '-'}}
    </div>
    <label class="col-lg-2 col-12 col-form-label d-flex align-items-center">{{'evaluations.countersigner-function' | translate}}:</label>
    <div class="col-lg col-12 d-flex align-items-center">
      {{evaluation?.functionCounterSigner || '-'}}
    </div>
  </div>
  <div class="form-group row">
    <label for="otherComments" class="col-2 col-form-label">{{'evaluations.countersigner-comments' | translate}}:</label>
    <div class="col">
      <textarea [placeholder]="('evaluations.countersigner-comments' | translate)+'...'" class="form-control" type="text" 
      [ngClass]="{'is-valid': isValid(counterSignForm, 'otherComments')}"
      formControlName="otherComments" name="otherComments" id="otherComments"></textarea>
    </div>
  </div>
</form>
<div *ngIf="showWarnning" class="text-danger">{{'message.there-are-errors-to-be-fixed' | translate }}</div>
<div *ngIf="!isLoading && evaluationRole === EvaluatinRoleEnum.Evaluator" class="d-flex flex-xl-row flex-column justify-content-center gap-2">
  <button type="button" class="btn btn-secondary order-xl-1 order-2" routerLink="../../">{{ 'button.cancel' | translate }}</button>
  <button type="button" class="btn btn-warning order-xl-1 order-1" (click)="submit(ActionFormEnum.isSave)">{{ 'button.save' | translate }}</button>
  <button [disabled]="evaluationForm.invalid" type="button" class="btn btn-success order-xl-1 order-0" (click)="submit(ActionFormEnum.isConfirm)">{{ 'button.confirm' | translate }}</button>
</div>
<div *ngIf="!isLoading && evaluationRole === EvaluatinRoleEnum.Evaluated" class="d-flex justify-content-center gap-2">
  <button type="button" class="btn btn-secondary" routerLink="../../">{{ 'button.cancel' | translate }}</button>
  <button [disabled]="evaluatedForm.invalid" type="button" class="btn btn-success" (click)="submit(ActionFormEnum.isAccept)">{{ 'button.accept' | translate }}</button>
  <button [disabled]="evaluatedForm.invalid" type="button" class="btn btn-danger" (click)="submit(ActionFormEnum.isReject)">{{ 'button.reject' | translate }}</button>
</div>
<div *ngIf="!isLoading && evaluationRole === EvaluatinRoleEnum.CounterSigner" class="d-flex justify-content-center gap-2">
  <button type="button" class="btn btn-secondary" routerLink="../../">{{ 'button.cancel' | translate }}</button>
  <button [disabled]="counterSignForm.invalid || isNotCheckedCounterSigner" type="button" class="btn btn-success" (click)="submit(ActionFormEnum.isCounterSignAccept)">{{ 'button.accept' | translate }}</button>
  <button [disabled]="counterSignForm.invalid" type="button" class="btn btn-danger" (click)="submit(ActionFormEnum.isCounterSignReject)">{{ 'button.reject' | translate }}</button>
</div>
<div *ngIf="!isLoading && evaluationRole === EvaluatinRoleEnum.EvaluatedKnow" class="d-flex justify-content-center gap-2">
  <button type="button" class="btn btn-secondary" routerLink="../../">{{ 'button.cancel' | translate }}</button>
  <button type="button" class="btn btn-success" (click)="submit(ActionFormEnum.isAcknowledge)">{{ 'button.accept' | translate }}</button>
</div>
