<app-page-title [title]="'evaluations.title' | translate"></app-page-title>

<app-loading-spinner *ngIf="isLoading" [contentHeight]="'80vh'" [height]="'5rem'" [width]="'5rem'"
  [colorClass]="'text-primary'">
</app-loading-spinner>
  
<erp-shared-content *ngIf="!isLoading">
  <div class="card card-custom gutter-b">
    <div class="card-body">
      <div class="row justify-content-center">
        <div class="col pt-5">
          <form [formGroup]="evaluationForm">
          <div class="row">
            <!-- DESKTOP LEFT SIDE -->
            <div class="col">
              <div class="form-group row">
                <label for="department" class="col-3 col-form-label">Subdiviziunea: </label>
                <div class="col">
                    <input class="form-control" type="text" formControlName="subdivisionName" name="subdivisionName" id="subdivisionName" placeholder="Subdiviziunea">
                </div>
              </div>
              <div class="form-group row">
                <label for="nameSurnameEvaluated" class="col-3">Nume, prenumele angajatului evaluat: </label>
                <div class="col">
                  <input class="form-control" type="text" formControlName="nameSurnameEvaluated" name="nameSurnameEvaluated" id="nameSurnameEvaluated" placeholder="Nume, prenumele">
                </div>
              </div>
              <div class="form-group row">
                <label for="functionSubdivision" class="col-3 col-form-label">Functia angajatului: </label>
                  <div class="col">
                    <input class="form-control" type="text" formControlName="functionSubdivision" name="functionSubdivision" id="functionSubdivision" placeholder="Functia">
                  </div>
              </div>
              <div class="form-group row">
                <label for="specialOrMilitaryGrade" class="col-3 col-form-label">Gradul special/militar: </label>
                <div class="col">
                  <select name="specialOrMilitaryGrade" id="specialOrMilitaryGrade" class="form-control" formControlName="specialOrMilitaryGrade">
                    <option value="null">Selectează</option>
                    <option value="1">Soldat</option>
                    <option value="2">Caporal</option>
                    <option value="3">Sergent Inferior</option>
                    <option value="4">Sergent</option>
                    <option value="5">Sergent major</option>
                    <option value="6">Plutonier</option>
                    <option value="7">Plutonier major</option>
                    <option value="8">Plutonier adjutant</option>
                    <option value="9">Locotenent</option>
                    <option value="10">Locotenent major</option>
                    <option value="11">Capitan</option>
                    <option value="12">Maior</option>
                    <option value="13">Locotenent colonel</option>
                    <option value="14">Colonel</option>
                    <option value="15">General de Brigada</option>
                    <option value="16">General de Divizie</option>
                    <option value="17">General de Corp de Armata</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label for="" class="col-3">Perioada evaluată de la: </label>
                  <div class="col position-relative">
                    <input class="position-absolute invisible" [(ngModel)]="parsedPeriodEvaluatedFromTo" (ngModelChange)="parseDate($event, 'periodEvaluatedFromTo')" [ngModelOptions]="{standalone: true}" [owlDateTime]="efd" autocomplete="off"
                    name="date" />
                    <input [owlDateTimeTrigger]="efd"  placeholder="00.00.0000" autocomplete="off"
                      class="form-control" [value]="parsedPeriodEvaluatedFromTo | date: 'dd.MM.yyyy'" />
                    <owl-date-time #efd pickerType="calendar"></owl-date-time>
                  </div>
              </div>
            </div>

            <!-- DESKTOP RIGHT SIDE -->
            <div class="col">
              <div class="form-group row">
                <label for="" class="col-3 col-form-label">Data completării: </label>
                <div class="col position-relative">
                  <input class="position-absolute invisible" [(ngModel)]="parsedDateCompletionGeneralData" (ngModelChange)="parseDate($event, 'dateCompletionGeneralData')" [ngModelOptions]="{standalone: true}" [owlDateTime]="deForm" autocomplete="off"
                  name="date" />
                  <input [owlDateTimeTrigger]="deForm"  placeholder="00.00.0000" autocomplete="off"
                    class="form-control" [value]="parsedDateCompletionGeneralData | date: 'dd.MM.yyyy'" />
                  <owl-date-time #deForm pickerType="calendar"></owl-date-time>
                </div>
              </div>
              <div class="form-group row">
                <label class="invisible col col-form-label">&nbsp;</label>
                <div class="col">
                  <input class="form-control invisible">
                </div>
              </div>
              <div class="form-group row">
                <label for="" class="col-3">Subdiviziunea angajatului: </label>
                  <div class="col">
                    <input class="form-control" type="text" name="specialRank" id="specialRank" placeholder="Subdiviziunea">
                  </div>
              </div>
              <div class="form-group row">
                <div class="col">
                  <input class="form-control" type="text" formControlName="specialOrMilitaryGradeText" name="specialOrMilitaryGradeText" id="specialOrMilitaryGradeText" placeholder="Descriere privind gradul militar">
                </div>
              </div>
              <div class="form-group row">
                <label for="" class="col-3">Perioada evaluată până la: </label>
                  <div class="col position-relative">
                    <input class="position-absolute invisible" [(ngModel)]="parsedPeriodEvaluatedUpTo" (ngModelChange)="parseDate($event, 'periodEvaluatedUpTo')" [ngModelOptions]="{standalone: true}" [owlDateTime]="etd" autocomplete="off"
                    name="date" />
                    <input [owlDateTimeTrigger]="etd"  placeholder="00.00.0000" autocomplete="off"
                      class="form-control" [value]="parsedPeriodEvaluatedUpTo | date: 'dd.MM.yyyy'" />
                    <owl-date-time #etd pickerType="calendar"></owl-date-time>
                  </div>
              </div>
            </div>
            <!-- END DESKTOP RIGHT SIDE -->
          </div>

          <div class="form-group row">
            <label for="educationEnum" class="col-2 col-form-label">Studii: </label>
            <div class="col">
                <select name="educationEnum" id="educationEnum" class="form-control" formControlName="educationEnum">
                  <option value="null">Selectează</option>
                  <option value="1">{{ 'evaluations.education.1' | translate }}</option>
                  <option value="2">{{ 'evaluations.education.2' | translate }}</option>
                  <option value="3">{{ 'evaluations.education.3' | translate }}</option>
                  <option value="4">{{ 'evaluations.education.4' | translate }}</option>
                </select>
            </div>
          </div>

            <div class="form-group row">
              <div class="col-2">
                Activitati de formare profesională
              </div>
              <div class="col">
                <select class="form-control" formControlName="professionalTrainingActivities" name="professionalTrainingActivities" id="professionalTrainingActivities">
                  <option value="null">Selectează</option>
                  <option value="1">Perfecționare</option>
                  <option value="2">Specializare</option>
                </select>
              </div>
              <div class="col">
                <select class="form-control" formControlName="professionalTrainingActivitiesType" name="professionalTrainingActivitiesType" id="professionalTrainingActivitiesType">
                  <option value="null">Selectează</option>
                  <option value="1">Intern</option>
                  <option value="2">Extern</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <div class="col">
                <div class="row">
                  <label for="courseName" class="col-2 col-form-label">Denumirea cursului: </label>
                  <div class="col">
                    <input class="form-control" type="text" formControlName="courseName" name="courseName" id="courseName" placeholder="Denumirea cursului">
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col">
                <div class="row">
                  <label for="parsedPeriodRunningActivityFromTo" class="col-4 col-form-label">Perioada desfasurarii de la: </label>
                  <div class="col position-relative">
                    <input class="position-absolute invisible" [(ngModel)]="parsedPeriodRunningActivityFromTo" (ngModelChange)="parseDate($event, 'periodRunningActivityFromTo')" [ngModelOptions]="{standalone: true}" [owlDateTime]="praft" autocomplete="off"
                    name="parsedPeriodRunningActivityFromTo" />
                    <input [owlDateTimeTrigger]="praft"  placeholder="00.00.0000" autocomplete="off"
                      class="form-control" [value]="parsedPeriodRunningActivityFromTo | date: 'dd.MM.yyyy'" />
                    <owl-date-time #praft pickerType="calendar"></owl-date-time>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="row">
                  <label for="parsedPeriodRunningActivityUpTo" class="col-4 col-form-label">Perioada desfasurarii până la: </label>
                  <div class="col position-relative">
                    <input class="position-absolute invisible" [(ngModel)]="parsedPeriodRunningActivityUpTo" (ngModelChange)="parseDate($event, 'periodRunningActivityUpTo')" [ngModelOptions]="{standalone: true}" [owlDateTime]="praut" autocomplete="off"
                    name="date" />
                    <input [owlDateTimeTrigger]="praut"  placeholder="00.00.0000" autocomplete="off"
                      class="form-control" [value]="parsedPeriodRunningActivityUpTo | date: 'dd.MM.yyyy'" />
                    <owl-date-time #praut pickerType="calendar"></owl-date-time>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="administrativeActOfStudies" class="col-2  col-form-label">Actul administrativ (curs): </label>
                <div class="col">
                    <input class="form-control" type="text" formControlName="administrativeActOfStudies" name="administrativeActOfStudies" id="administrativeActOfStudies" placeholder="Actul administrativ">
                </div>
            </div>

            <div class="form-group row">
              <div class="col">
                <p class="m-0">Modificarea raportului de serviciul pe parcursul perioadei evaluate</p>
              </div>
            </div>

            <div class="form-group row">
              <div class="col">
                <div class="row">
                  <label for="functionEvaluated" class="col-auto  col-form-label">Funcția: </label>
                  <div class="col">
                      <input class="form-control" type="text" formControlName="functionEvaluated" name="functionEvaluated" id="functionEvaluated" placeholder="Funcția">
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="row">
                  <label for="appointmentDate" class="col-4 col-form-label">Data numirii: </label>
                  <div class="col position-relative">
                    <input class="position-absolute invisible" [(ngModel)]="parsedAppointmentDate" (ngModelChange)="parseDate($event, 'appointmentDate')" [ngModelOptions]="{standalone: true}" [owlDateTime]="pad" autocomplete="off"
                    name="parsedAppointmentDate" />
                    <input [owlDateTimeTrigger]="pad"  placeholder="00.00.0000" autocomplete="off"
                      class="form-control" [value]="parsedAppointmentDate | date: 'dd.MM.yyyy'" />
                    <owl-date-time #pad pickerType="calendar"></owl-date-time>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="row">
                  <label for="administrativeActService" class="col-auto  col-form-label">Actul administrativ: </label>
                  <div class="col">
                      <input class="form-control" type="text" formControlName="administrativeActService" name="administrativeActService" id="administrativeActService" placeholder="Actul administrativ">
                  </div>
                </div>
              </div>
            </div>

            <div class="row form-group">
              <div class="col">
                <p class="m-0">Rezultate evaluarii parțiale</p>
              </div>
            </div>

            <div class="row form-group">
              <div class="col">
                <div class="row">
                  <label for="parsedPartialEvaluationPeriodFromTo" class="col-4 col-form-label">Perioada desfasurarii de la: </label>
                  <div class="col position-relative">
                    <input class="position-absolute invisible" [(ngModel)]="parsedPartialEvaluationPeriodFromTo" (ngModelChange)="parseDate($event, 'partialEvaluationPeriodFromTo')" [ngModelOptions]="{standalone: true}" [owlDateTime]="epft" autocomplete="off"
                    name="date" />
                    <input [owlDateTimeTrigger]="epft"  placeholder="00.00.0000" autocomplete="off"
                      class="form-control" [value]="parsedPartialEvaluationPeriodFromTo | date: 'dd.MM.yyyy'" />
                    <owl-date-time #epft pickerType="calendar"></owl-date-time>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="row">
                  <label for="parsedPartialEvaluationPeriodUpTo" class="col-4 col-form-label">Perioada desfasurarii până la: </label>
                  <div class="col position-relative">
                    <input class="position-absolute invisible" [(ngModel)]="parsedPartialEvaluationPeriodUpTo" (ngModelChange)="parseDate($event, 'partialEvaluationPeriodUpTo')" [ngModelOptions]="{standalone: true}" [owlDateTime]="eput" autocomplete="off"
                    name="date" />
                    <input [owlDateTimeTrigger]="eput"  placeholder="00.00.0000" autocomplete="off"
                      class="form-control" [value]="parsedPartialEvaluationPeriodUpTo | date: 'dd.MM.yyyy'" />
                    <owl-date-time #eput pickerType="calendar"></owl-date-time>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <div class="col">
                <div class="row">
                  <label for="finalScorePartialEvaluations" class="col-4  col-form-label">Punctaj final: </label>
                  <div class="col">
                      <input class="form-control" type="number" formControlName="finalScorePartialEvaluations" name="finalScorePartialEvaluations" id="finalScorePartialEvaluations" placeholder="Punctaj final">
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="row">
                  <label for="qualifierPartialEvaluations" class="col-4  col-form-label">Calificativ: </label>
                  <div class="col">
                      <input class="form-control" type="text" formControlName="qualifierPartialEvaluations" name="qualifierPartialEvaluations" id="qualifierPartialEvaluations" placeholder="Calificativ">
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <div class="col">
                <p class="m-0"> Sancţiuni disciplinare aplicate pe parcursul perioadei evaluate </p>
              </div>
            </div>

            <div class="form-group row">
              <label for="sanctionAppliedEvaluationCourse" class="col-2  col-form-label">Sancțiunea: </label>
                  <div class="col">
                      <input class="form-control" type="text" formControlName="sanctionAppliedEvaluationCourse" name="sanctionAppliedEvaluationCourse" id="sanctionAppliedEvaluationCourse" placeholder="Sancțiunea">
                  </div>
            </div>

            <div class="form-group row">
              <div class="col">
                <div class="row">
                  <label for="parsedDateSanctionApplication" class="col-4">Data aplicării <br>sancţiunii (ordinul): </label>
                  <div class="col position-relative">
                    <input class="position-absolute invisible" [(ngModel)]="parsedDateSanctionApplication" (ngModelChange)="parseDate($event, 'dateSanctionApplication')" [ngModelOptions]="{standalone: true}" [owlDateTime]="dsa" autocomplete="off"
                    name="date" />
                    <input [owlDateTimeTrigger]="dsa"  placeholder="00.00.0000" autocomplete="off"
                      class="form-control" [value]="parsedDateSanctionApplication | date: 'dd.MM.yyyy'" />
                    <owl-date-time #dsa pickerType="calendar"></owl-date-time>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="row">
                  <label for="parsedDateLiftingSanction" class="col-4">Data ridicării <br>sancţiunii (ordinul): </label>
                  <div class="col position-relative">
                    <input class="position-absolute invisible" [(ngModel)]="parsedDateLiftingSanction" (ngModelChange)="parseDate($event, 'dateLiftingSanction')" [ngModelOptions]="{standalone: true}" [owlDateTime]="dlfs" autocomplete="off"
                    name="date" />
                    <input [owlDateTimeTrigger]="dlfs"  placeholder="00.00.0000" autocomplete="off"
                      class="form-control" [value]="parsedDateLiftingSanction | date: 'dd.MM.yyyy'" />
                    <owl-date-time #dlfs pickerType="calendar"></owl-date-time>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <div class="col">
                <p class="m-0">Calificative de evaluare anuale obţinute în ultimii 2 ani</p>
              </div>
            </div>

            <div class="form-group row">
              <div class="col">
                <div class="row">
                  <label for="qualificationEvaluationObtained2YearsPast" class="col-4 col-form-label">2 ani în urmă</label>
                  <div class="col">
                    <input class="form-control" type="number" formControlName="qualificationEvaluationObtained2YearsPast" name="qualificationEvaluationObtained2YearsPast" id="qualificationEvaluationObtained2YearsPast" placeholder="Calificative 2 ani în urmă">
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="row">
                  <label for="qualificationEvaluationObtainedPreviousYear" class="col-4 col-form-label">Anul precedent</label>
                  <div class="col">
                    <input class="form-control" type="number" formControlName="qualificationEvaluationObtainedPreviousYear" name="qualificationEvaluationObtainedPreviousYear" id="qualificationEvaluationObtainedPreviousYear" placeholder="Calificative din anul precedent">
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <div class="col">
                <p class="m-0">Calificativele trimestriale pentru stabilirea sporului pentru performanţă</p>
              </div>
            </div>

            <div class="form-group row">
              <div class="col">
                <div class="row">
                  <label for="qualificationQuarter1" class="col-auto  col-form-label">Trimestrul I: </label>
                  <div class="col">
                      <input class="form-control" type="number" formControlName="qualificationQuarter1" name="qualificationQuarter1" id="qualificationQuarter1" placeholder="Trimestul I">
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="row">
                  <label for="qualificationQuarter2" class="col-auto  col-form-label">Trimestrul II: </label>
                  <div class="col">
                      <input class="form-control" type="number" formControlName="qualificationQuarter2" name="qualificationQuarter2" id="qualificationQuarter2" placeholder="Trimestrul II">
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="row">
                  <label for="qualificationQuarter3" class="col-auto  col-form-label">Trimestrul III: </label>
                  <div class="col">
                      <input class="form-control" type="number" formControlName="qualificationQuarter3" name="qualificationQuarter3" id="qualificationQuarter3" placeholder="Trimestrul III">
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="row">
                  <label for="qualificationQuarter4" class="col-auto  col-form-label">Trimestrul IV: </label>
                  <div class="col">
                      <input class="form-control" type="number" formControlName="qualificationQuarter4" name="qualificationQuarter4" id="qualificationQuarter4" placeholder="Trimestrul IV">
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <div class="col card">
                <table class="table">
                  <thead>
                    <th>Criterii de evaluare</th>
                    <th>Punctajul stabilit</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of questions; let i = index">
                      <td class="align-middle">{{criterias[i]}}</td>
                      <td>
                        <div>
                          <select class="form-control" [formControlName]="'question'+(i+1)">
                            <option value="null">Selectează</option>
                            <option value="1">1 (nesatisfacator)</option>
                            <option value="2">2 (satisfacator)</option>
                            <option value="3">3 (bine)</option>
                            <option value="4">4 (foarte bine)</option>
                          </select>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <div class="form-group row">
              <div class="col card">
                <table class="table">
                  <thead>
                    <th>Nr.</th>
                    <th>Obiective individuale</th>
                    <th>Indicatori de performanta</th>
                    <th>Termenul de realizare</th>
                    <th>Punctajul stabilit</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of [1,2,3,4,5]; let i = index">
                      <td class="align-middle">{{i+1}}.</td>
                      <td><input type="text" class="form-control" [formControlName]="'goal'+(i+1)" placeholder="Obiectiv"></td>
                      <td><input type="text" class="form-control" [formControlName]="'kpI'+(i+1)" placeholder="Indicator"></td>
                      <td><input type="text" class="form-control" [formControlName]="'performanceTerm'+(i+1)" placeholder="Termen"></td>
                      <td><input type="number" class="form-control" [formControlName]="'score'+(i+1)" placeholder="0"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <div class="form-group row">
              <label for="finalEvaluationQualification" class="col-2 col-form-label">Calificativul de evaluare final</label>
                  <div class="col">
                    <input class="form-control" type="number" formControlName="finalEvaluationQualification" name="finalEvaluationQualification" id="finalEvaluationQualification" placeholder="Calificativul de evaloare final">
                  </div>
            </div>

            <div class="form-group row">
              <label for="parsedDateEvaluatiorInterview" class="col-2 col-form-label">Data desfăşurării interviului de evaluare: </label>
              <div class="col position-relative">
                <input class="position-absolute invisible" [(ngModel)]="parsedDateEvaluatiorInterview" (ngModelChange)="parseDate($event, 'dateEvaluatiorInterview')" [ngModelOptions]="{standalone: true}" [owlDateTime]="pdei" autocomplete="off"
                name="parsedDateEvaluatiorInterview" />
                <input [owlDateTimeTrigger]="pdei"  placeholder="00.00.0000" autocomplete="off"
                  class="form-control" [value]="parsedDateEvaluatiorInterview | date: 'dd.MM.yyyy'" />
                <owl-date-time #pdei pickerType="calendar"></owl-date-time>
              </div>
            </div>

            <div class="form-group row">
              <label for="parsedDateEvaluatiorInterview" class="col-2 col-form-label">Obiective individuale au fost stabilite (data): </label>
              <div class="col position-relative">
                <input class="position-absolute invisible" [(ngModel)]="parsedDateSettingIindividualGoals" (ngModelChange)="parseDate($event, 'dateSettingIindividualGoals')" [ngModelOptions]="{standalone: true}" [owlDateTime]="pdsig" autocomplete="off"
                name="parsedDateSettingIindividualGoals" />
                <input [owlDateTimeTrigger]="pdsig"  placeholder="00.00.0000" autocomplete="off"
                  class="form-control" [value]="parsedDateSettingIindividualGoals | date: 'dd.MM.yyyy'" />
                <owl-date-time #pdsig pickerType="calendar"></owl-date-time>
              </div>
            </div>

            <div class="form-group row">
              <div class="col card">
                <table class="table">
                  <thead>
                    <tr>
                      <th colspan="2">Necesităţi de dezvoltare profesională a angajatului evaluat</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="align-middle" [ngStyle]="{'width.%': 2}">1.</td>
                      <td>
                        <input class="form-control" type="text" formControlName="need1ProfessionalDevelopmentEvaluated" name="need1ProfessionalDevelopmentEvaluated" id="need1ProfessionalDevelopmentEvaluated" placeholder="Necesitate">
                      </td>
                    </tr>
                    <tr>
                      <td class="align-middle" [ngStyle]="{'width.%': 2}">2.</td>
                      <td>
                        <input class="form-control" type="text" formControlName="need2ProfessionalDevelopmentEvaluated" name="need2ProfessionalDevelopmentEvaluated" id="need2ProfessionalDevelopmentEvaluated" placeholder="Necesitate">
                      </td>
                    </tr>
                  </tbody>
                </table>


                <!-- <div class="row">
                  <label for="need1ProfessionalDevelopmentEvaluated" class="col-4">Necesităţi de dezvoltare profesională a angajatului evaluat</label>
                      <div class="col">
                        <input class="form-control" type="text" formControlName="need1ProfessionalDevelopmentEvaluated" name="need1ProfessionalDevelopmentEvaluated" id="need1ProfessionalDevelopmentEvaluated" placeholder="">
                      </div>
                </div> -->
              </div>
              <!-- <div class="col">
                <div class="row">
                  <label for="need2ProfessionalDevelopmentEvaluated" class="col-4">Necesităţi de dezvoltare profesională a angajatului evaluat</label>
                  <div class="col">
                    <input class="form-control" type="text" formControlName="need2ProfessionalDevelopmentEvaluated" name="need2ProfessionalDevelopmentEvaluated" id="need2ProfessionalDevelopmentEvaluated" placeholder="">
                  </div>
                </div>
              </div> -->
            </div>

            <div class="form-group row">
              <label for="commentsEvaluator" class="col-2 col-form-label">Comentarii evaluator:</label>
              <div class="col">
                <textarea placeholder="Comentarii evaluator..." class="form-control" type="text" formControlName="commentsEvaluator" name="commentsEvaluator" id="commentsEvaluator"></textarea>
              </div>
            </div>
            <!-- <div class="form-group row">
              <label for="" class="col-3 col-form-label">Comentarii: </label>
              <div class="col">
                  <textarea placeholder="Comments here..." class="form-control" type="text" formControlName="comments" name="comments" id="comments"></textarea>
            </div>
            <div class="form-group row">
              <label for="" class="col-3 col-form-label">Comentarii evaluator:</label>
              <div class="col">
                <textarea placeholder="Comments here..." class="form-control" type="text" formControlName="evaluatedComments" name="evaluatedComments" id="evaluatedComments"></textarea>
              </div>
            </div> -->
            <!-- <div class="form-group row">
              <label for="" class="col-3 col-form-label">Acceptanta evaluator:</label>
              <div class="col">
                <select class="form-control" formControlName="evaluatedAcceptance" name="evaluatedAcceptance">
                  <option value="null">Selectează</option>
                  <option value="0">None</option>
                  <option value="1">Accepted</option>
                  <option value="2">Refused</option>
                </select>
              </div>
            </div> -->
            <!-- <div class="form-group row">
              <label for="" class="col-3 col-form-label">Data acceptarii:</label>
              <div class="col position-relative">
                <input class="position-absolute invisible" [(ngModel)]="parsedAcceptanceDate" (ngModelChange)="parseDate($event, 'acceptanceDate')" [ngModelOptions]="{standalone: true}" [owlDateTime]="ada" autocomplete="off"
                        name="date" />
                <input [owlDateTimeTrigger]="ada"  placeholder="00.00.0000" autocomplete="off"
                  class="form-control" [value]="parsedAcceptanceDate | date: 'dd.MM.yyyy'" />
                <owl-date-time #ada pickerType="calendar"></owl-date-time>
              </div>
            </div> -->
            <!-- <div class="form-group row">
              <label for="" class="col-3 col-form-label">Confirmare evaluat semnare: </label>
              <div class="col">
                <input [ngStyle]="{'width.px': 50}" type="checkbox" class="form-control" formControlName="evaluatedSigned" name="evaluatedSigned" id="evaluatedSigned">
              </div>
            </div> -->
            <!-- <div class="form-group row">
              <div class="col-6">
                <div class="row">
                  <label for="" class="col-4 col-form-label">Evaluator nume complet: </label>
                  <div class="col">
                    <input class="form-control" type="text" formControlName="evaluatingFullName" name="evaluatingFullName" id="evaluatingFullName">
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="row">
                  <label for="" class="col-4 col-form-label">Evaluator pozitie: </label>
                  <div class="col">
                    <input class="form-control" type="text" formControlName="evaluatingPosition" name="evaluatingPosition" id="evaluatingPosition">
                  </div>
                </div>
              </div>
              
            </div> -->
            <!-- <div class="form-group row">
              <label for="" class="col-3 col-form-label">Data evaluarii: </label>
              <div class="col position-relative">
                <input class="position-absolute invisible" [(ngModel)]="parsedEvaluatingDate" (ngModelChange)="parseDate($event, 'evaluatingDate')" [ngModelOptions]="{standalone: true}" [owlDateTime]="eda" autocomplete="off"
                        name="date" />
                <input [owlDateTimeTrigger]="eda"  placeholder="00.00.0000" autocomplete="off"
                  class="form-control" [value]="parsedEvaluatingDate | date: 'dd.MM.yyyy'" />
                <owl-date-time #eda pickerType="calendar"></owl-date-time>
              </div>
            </div> -->
            <!-- <div class="form-group row">
              <label for="" class="col-3 col-form-label">Confirmare evaluator: </label>
              <div class="col">
                <input [ngStyle]="{'width.px': 50}" type="checkbox" class="form-control" formControlName="evaluatingSigned" name="evaluatingSigned" id="evaluatingSigned">
              </div>
            </div> -->
            <!-- <div class="form-group row">
              <label for="" class="col-3 col-form-label">Contrasemnat detalii: </label>
              <div class="col">
                  <textarea placeholder="Comments here..." class="form-control" type="text" formControlName="counterSingerComments" name="counterSingerComments" id="counterSingerComments"></textarea>
              </div>
            </div> -->
            <!-- <div class="form-group row">
              <label for="" class="col-3 col-form-label">Contrasemnat confirmare: </label>
              <div class="col">
                <input [ngStyle]="{'width.px': 50}" type="checkbox" class="form-control" formControlName="counterSignerAcceptance" name="counterSignerAcceptance" id="counterSignerAcceptance">
              </div>
            </div> -->
            <!-- <div class="form-group row">
              <label for="" class="col-3 col-form-label">Contrasemnat nume: </label>
              <div class="col">
                <input class="form-control" type="text" formControlName="counterSignerName" name="counterSignerName" id="counterSignerName">
              </div>
            </div> -->
            <!-- <div class="form-group row">
              <label for="" class="col-3 col-form-label">Contrasemnat pozitie: </label>
              <div class="col">
                <input class="form-control" type="text" formControlName="counterSignerPosition" name="counterSignerPosition" id="counterSignerPosition">
              </div>
            </div> -->
            <!-- <div class="form-group row">
              <label for="" class="col-3 col-form-label">Contrasemnat data semnarii: </label>
              <div class="col position-relative">
                <input class="position-absolute invisible" [(ngModel)]="parsedCounterSignerSignDate" (ngModelChange)="parseDate($event, 'counterSignerSignDate')" [ngModelOptions]="{standalone: true}" [owlDateTime]="cssd" autocomplete="off"
                        name="date" />
                <input [owlDateTimeTrigger]="cssd"  placeholder="00.00.0000" autocomplete="off"
                  class="form-control" [value]="parsedCounterSignerSignDate | date: 'dd.MM.yyyy'" />
                <owl-date-time #cssd pickerType="calendar"></owl-date-time>
              </div>
            </div> -->
            <!-- <div class="form-group row">
              <label for="" class="col-3 col-form-label">Contrasemnat semnare: </label>
              <div class="col">
                <input [ngStyle]="{'width.px': 50}" type="checkbox" class="form-control" formControlName="counterSignerSigned" name="counterSignerSigned" id="counterSignerSigned">
              </div>
            </div> -->
            <div class="d-flex justify-content-center gap-2">
              <button type="button" class="btn btn-secondary" routerLink="../../">Anulează</button>
              <button type="button" class="btn btn-secondary" (click)="submit()">Salveaza</button>
              <button type="button" class="btn btn-success" (click)="submit(true)">Confirma</button>
            </div>
        </form>
        </div>
      </div>
    </div>
  </div>
</erp-shared-content>
  