<!--begin::Content-->
<app-page-title [title]="'evaluations.title' | translate"></app-page-title>
  
<erp-shared-content>
  <div class="card card-custom gutter-b">
    <div class="card-body">
      <div class="row justify-content-center">
        <div class="col pt-5">
          <form [formGroup]="evaluationForm">
          <div class="form-group row">
            <label for="department" class="col-3 col-form-label">Subdiviziunea: </label>
            <div class="col">
                <input class="form-control" type="text" formControlName="subdivisionName" name="subdivisionName" id="subdivisionName" placeholder="Subdiviziune">
            </div>
          </div>
            <div class="form-group row">
              <label for="" class="col-3 col-form-label">Data completării: </label>
              <div class="col position-relative">
                <input class="position-absolute invisible" [(ngModel)]="parsedDateCompletionGeneralData" (ngModelChange)="parseDate($event, 'dateCompletionGeneralData')" [ngModelOptions]="{standalone: true}" [owlDateTime]="deForm" autocomplete="off"
                name="date" />
                <input [owlDateTimeTrigger]="deForm"  placeholder="00.00.0000" autocomplete="off"
                  class="form-control" [value]="parsedDateCompletionGeneralData | date: 'dd.MM.yyyy'" />
                <owl-date-time #deForm pickerType="calendar"></owl-date-time>
              </div>
            </div>
            <div class="form-group row">
              <div class="col">
                <label for="nameSurnameEvaluatedEmployee" class="col-form-label">Nume, prenumele angajatului evaluat: </label>
                <input class="form-control" type="text" formControlName="nameSurnameEvaluatedEmployee" name="nameSurnameEvaluatedEmployee" id="nameSurnameEvaluatedEmployee" placeholder="Nume, prenumele">
              </div>
              <!-- <div class="col">
                <label for="" class="col-form-label">Nume: </label>
                <input class="form-control" type="text" formControlName="evaluatedLastName" name="evaluatedLastName" id="evaluatedLastName" placeholder="Nume">
              </div>
              <div class="col">
                <label for="" class="col-form-label">Prenume: </label>
                <input class="form-control" type="text" formControlName="evaluatedName" name="evaluatedName" id="evaluatedName" placeholder="Prenume">
              </div>
              <div class="col">
                <label for="" class="col-form-label">Patronimic: </label>
                <input class="form-control" type="text" formControlName="evaluatedFatherName" name="evaluatedFatherName" id="evaluatedFatherName" placeholder="Patronimic">
              </div> -->
            </div>
            <!-- <div class="form-group row">
                <label for="" class="col-3 col-form-label">Departament evaluat: </label>
                <div class="col">
                    <input class="form-control" type="text" formControlName="evaluatedDepartmentName" name="evaluatedDepartmentName" id="evaluatedDepartmentName" placeholder="Departament evaluat">
                </div>
            </div> -->
            <div class="form-group row">
              <div class="col">
                <div class="row">
                  <label for="functionSubdivision" class="col-4 col-form-label">Functia: </label>
                  <div class="col">
                    <input class="form-control" type="text" formControlName="functionSubdivision" name="functionSubdivision" id="functionSubdivision" placeholder="Functia">
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="row">
                  <label for="" class="col-4 col-form-label">Subdiviziunea: </label>
                  <div class="col">
                    <input class="form-control" type="text" name="specialRank" id="specialRank" placeholder="Subdiviziunea">
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="" class="col-3 col-form-label">Gradul special/militar: </label>
                <div class="col">
                    <input class="form-control" type="text" formControlName="specialOrMilitaryGrade" name="specialOrMilitaryGrade" id="evaluatedDepartmentName" placeholder="Gradul special/militar">
                </div>
            </div>
            <div class="form-group row">
              <div class="col">
                <div class="row">
                  <label for="" class="col-4 col-form-label">Perioada evaluată de la: </label>
                  <div class="col position-relative">
                    <input class="position-absolute invisible" [(ngModel)]="parsedPeriodEvaluatedFromTo" (ngModelChange)="parseDate($event, 'periodEvaluatedFromTo')" [ngModelOptions]="{standalone: true}" [owlDateTime]="efd" autocomplete="off"
                    name="date" />
                    <input [owlDateTimeTrigger]="efd"  placeholder="00.00.0000" autocomplete="off"
                      class="form-control" [value]="parsedPeriodEvaluatedFromTo | date: 'dd.MM.yyyy'" />
                    <owl-date-time #efd pickerType="calendar"></owl-date-time>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="row">
                  <label for="" class="col-4 col-form-label">Perioada evaluată până la: </label>
                  <div class="col position-relative">
                    <input class="position-absolute invisible" [(ngModel)]="parsedPeriodEvaluatedUpTo" (ngModelChange)="parseDate($event, 'periodEvaluatedUpTo')" [ngModelOptions]="{standalone: true}" [owlDateTime]="etd" autocomplete="off"
                    name="date" />
                    <input [owlDateTimeTrigger]="etd"  placeholder="00.00.0000" autocomplete="off"
                      class="form-control" [value]="parsedPeriodEvaluatedUpTo | date: 'dd.MM.yyyy'" />
                    <owl-date-time #etd pickerType="calendar"></owl-date-time>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="education" class="col-1 col-form-label">Studii: </label>
              <div class="col">
                  <select name="education" id="education" class="form-control" formControlName="education">
                    <option value="null">Selectează</option>
                    <option value="1">Medii</option>
                    <option value="2">Superioare</option>
                    <option value="3">Masterat</option>
                    <option value="4">Doctorat</option>
                  </select>
              </div>
            </div>
            <div class="form-group row">
              <div class="col">
                Activitati de formare profesională<br>
                (perfecționare/specializare, intern/extern)
              </div>
            </div>
            <div class="form-group row">
              <div class="col">
                <div class="row">
                  <label for="courseName" class="col-4 col-form-label">Denumirea cursului: </label>
                  <div class="col">
                    <input class="form-control" type="text" formControlName="courseName" name="courseName" id="courseName" placeholder="Denumirea cursului">
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col">
                <div class="row">
                  <label for="" class="col-4 col-form-label">Perioada desfasurarii de la: </label>
                  <div class="col position-relative">
                    <input class="position-absolute invisible" [(ngModel)]="parsedPeriodEvaluatedFromTo" (ngModelChange)="parseDate($event, 'periodEvaluatedFromTo')" [ngModelOptions]="{standalone: true}" [owlDateTime]="efd" autocomplete="off"
                    name="date" />
                    <input [owlDateTimeTrigger]="efd"  placeholder="00.00.0000" autocomplete="off"
                      class="form-control" [value]="parsedPeriodEvaluatedFromTo | date: 'dd.MM.yyyy'" />
                    <owl-date-time #efd pickerType="calendar"></owl-date-time>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="row">
                  <label for="" class="col-4 col-form-label">Perioada deesfasurarii până la: </label>
                  <div class="col position-relative">
                    <input class="position-absolute invisible" [(ngModel)]="parsedPeriodEvaluatedUpTo" (ngModelChange)="parseDate($event, 'periodEvaluatedUpTo')" [ngModelOptions]="{standalone: true}" [owlDateTime]="etd" autocomplete="off"
                    name="date" />
                    <input [owlDateTimeTrigger]="etd"  placeholder="00.00.0000" autocomplete="off"
                      class="form-control" [value]="parsedPeriodEvaluatedUpTo | date: 'dd.MM.yyyy'" />
                    <owl-date-time #etd pickerType="calendar"></owl-date-time>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="form-group row">
              <div class="col">
                <div class="row">
                  <label for="" class="col col-form-label">Cursuri interne: </label>
                  <div class="col">
                    <input class="form-control" type="number" formControlName="specializationCoursesInternal" name="specializationCoursesInternal" id="specializationCoursesInternal" placeholder="0">
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="row">
                  <label for="" class="col col-form-label">Cursuri internationale: </label>
                  <div class="col">
                    <input class="form-control" type="number" formControlName="specializationCoursesInternational" name="specializationCoursesInternational" id="specializationCoursesInternational" placeholder="0">
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="row">
                  <label for="" class="col-form-label">Alte cursuri: </label>
                  <div class="col">
                    <input class="form-control" type="number" formControlName="specializationCoursesOthers" name="specializationCoursesOthers" id="specializationCoursesOthers" placeholder="0">
                  </div>
                </div>
              </div>
            </div> -->
            <div class="form-group row">
              <div class="col">
                Ultima categorie de calificare
              </div>
            </div>
            <div class="form-group row">
              <div class="col">
                <div class="row">
                  <label for="" class="col col-form-label">Ultima calificare: </label>
                  <div class="col">
                      <input class="form-control" type="text" formControlName="lastQualifyCategory" name="lastQualifyCategory" id="lastQualifyCategory" placeholder="Ultima calificare">
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="row">
                  <label for="" class="col col-form-label">Calificare serie: </label>
                  <div class="col">
                      <input class="form-control" type="text" formControlName="lastQualifyCategoryOrderSeries" name="lastQualifyCategoryOrderSeries" id="lastQualifyCategoryOrderSeries" placeholder="A11111111">
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="row">
                  <label for="" class="col col-form-label">Calificare numar: </label>
                  <div class="col">
                      <input class="form-control" type="text" formControlName="lastQualifyCategoryOrderNumber" name="lastQualifyCategoryOrderNumber" id="lastQualifyCategoryOrderNumber" placeholder="AAA123123123">
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="" class="col col-form-label">Calificare data: </label>
              <div class="col position-relative">
                <input class="position-absolute invisible" [(ngModel)]="parsedLastQualifyCategoryOrderDate" (ngModelChange)="parseDate($event, 'lastQualifyCategoryOrderDate')" [ngModelOptions]="{standalone: true}" [owlDateTime]="lco" autocomplete="off"
                    name="date" />
                <input [owlDateTimeTrigger]="lco"  placeholder="00.00.0000" autocomplete="off"
                  class="form-control" [value]="parsedLastQualifyCategoryOrderDate | date: 'dd.MM.yyyy'" />
                <owl-date-time #lco pickerType="calendar"></owl-date-time>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-4">
                <div class="row">
                  <label for="" class="col col-form-label">Punctaj (3 ani): </label>
                  <div class="col">
                      <select class="form-control" formControlName="treeYearsAgoMark" name="treeYearsAgoMark" id="treeYearsAgoMark">
                        <option value="null">Selectează</option>
                        <option value="1">Very good</option>
                        <option value="2">Good</option>
                        <option value="3">Satisfactory</option>
                        <option value="4">Unsatisfactory</option>
                      </select>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="row">
                  <label for="" class="col col-form-label">Punctaj (2 ani): </label>
                  <div class="col">
                      <select class="form-control" formControlName="twoYearsAgoMark" name="twoYearsAgoMark" id="twoYearsAgoMark">
                        <option value="null">Selectează</option>
                        <option value="1">Very good</option>
                        <option value="2">Good</option>
                        <option value="3">Satisfactory</option>
                        <option value="4">Unsatisfactory</option>
                      </select>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="row">
                  <label for="" class="col col-form-label">Punctaj (ultim an): </label>
                  <div class="col">
                      <select class="form-control" formControlName="lastYearMark" name="lastYearMark" id="lastYearMark">
                        <option value="null">Selectează</option>
                        <option value="1">Very good</option>
                        <option value="2">Good</option>
                        <option value="3">Satisfactory</option>
                        <option value="4">Unsatisfactory</option>
                      </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-6">
                <div class="row">
                  <label for="" class="col col-form-label">Partial evaluat din data: </label>
                  <div class="col position-relative">
                    <input class="position-absolute invisible" [(ngModel)]="parsedPartialEvaluationFromDate" (ngModelChange)="parseDate($event, 'partialEvaluationFromDate')" [ngModelOptions]="{standalone: true}" [owlDateTime]="pefd" autocomplete="off"
                        name="date" />
                    <input [owlDateTimeTrigger]="pefd"  placeholder="00.00.0000" autocomplete="off"
                      class="form-control" [value]="parsedPartialEvaluationFromDate | date: 'dd.MM.yyyy'" />
                    <owl-date-time #pefd pickerType="calendar"></owl-date-time>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="row">
                  <label for="" class="col col-form-label">Partial evaluat pana in data: </label>
                  <div class="col position-relative">
                    <input class="position-absolute invisible" [(ngModel)]="parsedPartialEvaluationToDate" (ngModelChange)="parseDate($event, 'partialEvaluationToDate')" [ngModelOptions]="{standalone: true}" [owlDateTime]="petd" autocomplete="off"
                        name="date" />
                    <input [owlDateTimeTrigger]="petd"  placeholder="00.00.0000" autocomplete="off"
                      class="form-control" [value]="parsedPartialEvaluationToDate | date: 'dd.MM.yyyy'" />
                    <owl-date-time #petd pickerType="calendar"></owl-date-time>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-6">
                <div class="row">
                  <label for="" class="col col-form-label">Rata evaluarii:</label>
                  <div class="col">
                      <input class="form-control" type="number" formControlName="partialEvaluationRate" name="partialEvaluationRate" id="partialEvaluationRate">
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="row">
                  <label for="" class="col col-form-label">Partial punctajul evaluarii: </label>
                  <div class="col">
                    <select class="form-control" formControlName="partialEvaluationMark" name="partialEvaluationMark" id="partialEvaluationMark">
                      <option value="null">Selectează</option>
                      <option value="1">Very good</option>
                      <option value="2">Good</option>
                      <option value="3">Satisfactory</option>
                      <option value="4">Unsatisfactory</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-6">
                <div class="row">
                  <label for="" class="col col-form-label">Sanctiune din data: </label>
                  <div class="col position-relative">
                    <input class="position-absolute invisible" [(ngModel)]="parsedSanctionStartDate" (ngModelChange)="parseDate($event, 'sanctionStartDate')" [ngModelOptions]="{standalone: true}" [owlDateTime]="ssd" autocomplete="off"
                        name="date" />
                    <input [owlDateTimeTrigger]="ssd"  placeholder="00.00.0000" autocomplete="off"
                      class="form-control" [value]="parsedSanctionStartDate | date: 'dd.MM.yyyy'" />
                    <owl-date-time #ssd pickerType="calendar"></owl-date-time>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="row">
                  <label for="" class="col col-form-label">Sanctiune pana in data: </label>
                  <div class="col position-relative">
                    <input class="position-absolute invisible" [(ngModel)]="parsedSanctionEndDate" (ngModelChange)="parseDate($event, 'sanctionEndDate')" [ngModelOptions]="{standalone: true}" [owlDateTime]="sed" autocomplete="off"
                        name="date" />
                    <input [owlDateTimeTrigger]="sed"  placeholder="00.00.0000" autocomplete="off"
                      class="form-control" [value]="parsedSanctionEndDate | date: 'dd.MM.yyyy'" />
                    <owl-date-time #sed pickerType="calendar"></owl-date-time>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col card">
                <table class="table">
                  <thead>
                    <th>Criterii de evaluare</th>
                    <th class="text-center">
                      Punctaj stabilit de angajatul evaluat <br>(autoevaluare)
                      <br>
                      <div class="form-check form-check-inline w-100 justify-content-center">
                        <div class="row justify-content-center flex-nowrap">
                          <div class="col px-5">1</div>
                          <div class="col px-5">2</div>
                          <div class="col px-5">3</div>
                          <div class="col px-5">4</div>
                        </div>
                      </div>
                    </th>
                    <th class="text-center bg-light">
                      Punctajul stabilit de evaluator <br>(se completeaza dupa caz)
                      <br>
                      <div class="form-check form-check-inline w-100 justify-content-center">
                        <div class="row justify-content-center flex-nowrap">
                          <div class="col px-5">1</div>
                          <div class="col px-5">2</div>
                          <div class="col px-5">3</div>
                          <div class="col px-5">4</div>
                        </div>
                      </div>
                    </th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of questions; let i = index">
                      <td>{{criterias[item-1]}}</td>
                      <td>
                        <div class="form-check form-check-inline w-100">
                            <input *ngFor="let j of radios" class="form-control" type="radio" [name]="'question'+(i+1)+'SelfEvaluationMark'" [value]="j" [formControlName]="'question'+(i+1)+'SelfEvaluationMark'">
                        </div>
                      </td>
                      <td class="bg-light">
                        <div class="form-check form-check-inline w-100">
                          <input *ngFor="let k of radios" class="form-control" type="radio" [name]="'question'+(i+1)+'Mark'" [value]="k" [formControlName]="'question'+(i+1)+'Mark'">
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="form-group row">
              <label for="" class="col-3 col-form-label">Data invervievarii: </label>
              <div class="col position-relative">
                <input class="position-absolute invisible" [(ngModel)]="parsedInterviewDate" (ngModelChange)="parseDate($event, 'interviewDate')" [ngModelOptions]="{standalone: true}" [owlDateTime]="ida" autocomplete="off"
                        name="date" />
                <input [owlDateTimeTrigger]="ida"  placeholder="00.00.0000" autocomplete="off"
                  class="form-control" [value]="parsedInterviewDate | date: 'dd.MM.yyyy'" />
                <owl-date-time #ida pickerType="calendar"></owl-date-time>
              </div>
            </div>
            <div class="form-group row">
              <label for="" class="col-3 col-form-label">Comentarii: </label>
              <div class="col">
                  <textarea placeholder="Comments here..." class="form-control" type="text" formControlName="comments" name="comments" id="comments"></textarea>
              </div>
            </div>
            <div class="form-group row">
              <label for="" class="col-3 col-form-label">Obiectiv individual 1:</label>
              <div class="col">
                  <input class="form-control" type="text" formControlName="individualObjective1" name="individualObjective1" id="individualObjective1">
              </div>
            </div>
            <div class="form-group row">
              <label for="" class="col-3 col-form-label">Obiectiv individual 2:</label>
              <div class="col">
                  <input class="form-control" type="text" formControlName="individualObjective2" name="individualObjective2" id="individualObjective2">
              </div>
            </div>
            <div class="form-group row">
              <label for="" class="col-3 col-form-label">Obiectiv individual 3:</label>
              <div class="col">
                  <input class="form-control" type="text" formControlName="individualObjective3" name="individualObjective3" id="individualObjective3">
              </div>
            </div>
            <div class="form-group row">
              <label for="" class="col-3 col-form-label">Necesitati profesionale 1:</label>
              <div class="col">
                  <input class="form-control" type="text" formControlName="needImprovement1" name="needImprovement1" id="needImprovement1">
              </div>
            </div>
            <div class="form-group row">
              <label for="" class="col-3 col-form-label">Necesitati profesionale 2:</label>
              <div class="col">
                  <input class="form-control" type="text" formControlName="needImprovement2" name="needImprovement2" id="needImprovement2">
              </div>
            </div>
            <div class="form-group row">
              <label for="" class="col-3 col-form-label">Necesitati profesionale 3:</label>
              <div class="col">
                  <input class="form-control" type="text" formControlName="needImprovement3" name="needImprovement3" id="needImprovement3">
              </div>
            </div>
            <div class="form-group row">
              <label for="" class="col-3 col-form-label">Comentarii evaluator:</label>
              <div class="col">
                <textarea placeholder="Comments here..." class="form-control" type="text" formControlName="evaluatedComments" name="evaluatedComments" id="evaluatedComments"></textarea>
              </div>
            </div>
            <div class="form-group row">
              <label for="" class="col-3 col-form-label">Acceptanta evaluator:</label>
              <div class="col">
                <select class="form-control" formControlName="evaluatedAcceptance" name="evaluatedAcceptance">
                  <option value="null">Selectează</option>
                  <option value="0">None</option>
                  <option value="1">Accepted</option>
                  <option value="2">Refused</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="" class="col-3 col-form-label">Data acceptarii:</label>
              <div class="col position-relative">
                <input class="position-absolute invisible" [(ngModel)]="parsedAcceptanceDate" (ngModelChange)="parseDate($event, 'acceptanceDate')" [ngModelOptions]="{standalone: true}" [owlDateTime]="ada" autocomplete="off"
                        name="date" />
                <input [owlDateTimeTrigger]="ada"  placeholder="00.00.0000" autocomplete="off"
                  class="form-control" [value]="parsedAcceptanceDate | date: 'dd.MM.yyyy'" />
                <owl-date-time #ada pickerType="calendar"></owl-date-time>
              </div>
            </div>
            <div class="form-group row">
              <label for="" class="col-3 col-form-label">Confirmare evaluat semnare: </label>
              <div class="col">
                <input [ngStyle]="{'width.px': 50}" type="checkbox" class="form-control" formControlName="evaluatedSigned" name="evaluatedSigned" id="evaluatedSigned">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-6">
                <div class="row">
                  <label for="" class="col-4 col-form-label">Evaluator nume complet: </label>
                  <div class="col">
                    <input class="form-control" type="text" formControlName="evaluatingFullName" name="evaluatingFullName" id="evaluatingFullName">
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="row">
                  <label for="" class="col-4 col-form-label">Evaluator pozitie: </label>
                  <div class="col">
                    <input class="form-control" type="text" formControlName="evaluatingPosition" name="evaluatingPosition" id="evaluatingPosition">
                  </div>
                </div>
              </div>
              
            </div>
            <div class="form-group row">
              <label for="" class="col-3 col-form-label">Data evaluarii: </label>
              <div class="col position-relative">
                <input class="position-absolute invisible" [(ngModel)]="parsedEvaluatingDate" (ngModelChange)="parseDate($event, 'evaluatingDate')" [ngModelOptions]="{standalone: true}" [owlDateTime]="eda" autocomplete="off"
                        name="date" />
                <input [owlDateTimeTrigger]="eda"  placeholder="00.00.0000" autocomplete="off"
                  class="form-control" [value]="parsedEvaluatingDate | date: 'dd.MM.yyyy'" />
                <owl-date-time #eda pickerType="calendar"></owl-date-time>
              </div>
            </div>
            <div class="form-group row">
              <label for="" class="col-3 col-form-label">Confirmare evaluator: </label>
              <div class="col">
                <input [ngStyle]="{'width.px': 50}" type="checkbox" class="form-control" formControlName="evaluatingSigned" name="evaluatingSigned" id="evaluatingSigned">
              </div>
            </div>
            <div class="form-group row">
              <label for="" class="col-3 col-form-label">Contrasemnat detalii: </label>
              <div class="col">
                  <textarea placeholder="Comments here..." class="form-control" type="text" formControlName="counterSingerComments" name="counterSingerComments" id="counterSingerComments"></textarea>
              </div>
            </div>
            <div class="form-group row">
              <label for="" class="col-3 col-form-label">Contrasemnat confirmare: </label>
              <div class="col">
                <input [ngStyle]="{'width.px': 50}" type="checkbox" class="form-control" formControlName="counterSignerAcceptance" name="counterSignerAcceptance" id="counterSignerAcceptance">
              </div>
            </div>
            <div class="form-group row">
              <label for="" class="col-3 col-form-label">Contrasemnat nume: </label>
              <div class="col">
                <input class="form-control" type="text" formControlName="counterSignerName" name="counterSignerName" id="counterSignerName">
              </div>
            </div>
            <div class="form-group row">
              <label for="" class="col-3 col-form-label">Contrasemnat pozitie: </label>
              <div class="col">
                <input class="form-control" type="text" formControlName="counterSignerPosition" name="counterSignerPosition" id="counterSignerPosition">
              </div>
            </div>
            <div class="form-group row">
              <label for="" class="col-3 col-form-label">Contrasemnat data semnarii: </label>
              <div class="col position-relative">
                <input class="position-absolute invisible" [(ngModel)]="parsedCounterSignerSignDate" (ngModelChange)="parseDate($event, 'counterSignerSignDate')" [ngModelOptions]="{standalone: true}" [owlDateTime]="cssd" autocomplete="off"
                        name="date" />
                <input [owlDateTimeTrigger]="cssd"  placeholder="00.00.0000" autocomplete="off"
                  class="form-control" [value]="parsedCounterSignerSignDate | date: 'dd.MM.yyyy'" />
                <owl-date-time #cssd pickerType="calendar"></owl-date-time>
              </div>
            </div>
            <div class="form-group row">
              <label for="" class="col-3 col-form-label">Contrasemnat semnare: </label>
              <div class="col">
                <input [ngStyle]="{'width.px': 50}" type="checkbox" class="form-control" formControlName="counterSignerSigned" name="counterSignerSigned" id="counterSignerSigned">
              </div>
            </div>
            <div class="d-flex justify-content-end">
              <button type="button" class="btn btn-secondary mr-2" routerLink="../">Anulează</button>
              <button type="button" class="btn btn-primary" (click)="submit()">Trimite</button>
            </div>
        </form>
        </div>
      </div>
    </div>
  </div>
</erp-shared-content>
  