:host {
  div.dropdown::ng-deep {
    a.dropdown-toggle::after {
      display: none;
    }
  }
}
.photo-profile {
  height: 20px;
  width: 20px;
  background-size: cover;
  background-repeat: no-repeat;
}

.mobile-container-menu {
  display: none;
  @media screen and (max-width: 991px) {
      display: flex;
  }
}

.navi-item .active i{
  color: currentColor;
}