:host {
  div.dropdown::ng-deep {
    a.dropdown-toggle::after {
      display: none;
    }
  }
}
.photo-profile {
  height: 20px;
  width: 20px;
  background-size: cover;
  background-repeat: no-repeat;
}
