<app-page-title [title]="'evaluations.title' | translate"> </app-page-title>

<erp-shared-content>
	<div class="card card-custom erp-shared-desktop-wide">
		<div class="card-header border-0 pt-6 pb-0">
			<div class="card-title d-flex gap-5 w-50">
				<h3 class="card-label font-weight-bolder">{{'evaluations.list' | translate}}</h3>
				<div class="d-flex align-items-end gap-4">
					<label for="highlight">{{'evaluations.highlight' | translate}}</label>
					<span class="switch switch-sm switch-icon">
						<label>
						 <input #highlight type="checkbox" name="highlight" (change)="handleHighlightChange(highlight?.checked)"/>
						 <span></span>
						</label>
					   </span>
				</div>
			</div>
			<div class="card-toolbar flex-column justify-content-between align-items-end d-md-flex d-none">
				<a routerLink="../setup" class="btn btn-success font-weight-bolder mb-4">{{'evaluations.new-evaluation' | translate}}</a>
				<!-- <div class="form-group row">
					<div class="col">
						<div class="checbox-inline">
							<label class="checkbox">
								<input name="includeAll" type="checkbox" [(ngModel)]="includeAll" (ngModelChange)="filterList($event)" [ngModelOptions]="{ standalone: true }">
								<span class="mr-2"></span> Afișeaza evaluările în curs de procesare
							</label>
						</div>
					</div>
				</div> -->
			</div>
			<div class="card-toolbar flex-column w-100 d-md-none d-flex">
				<a routerLink="../setup" class="btn btn-success w-100 font-weight-bolder mb-4">{{'evaluations.new-evaluation' | translate}}</a>
			</div>
		</div>
		<div class="card-body pt-0">
			<ul ngbNav #nav="ngbNav" class="nav-tabs">
				<li ngbNavItem>
					<a ngbNavLink>{{'evaluations.all-tests' | translate}}</a>
					<ng-template ngbNavContent>
						<app-evaluations-table [showHighlighted]="highlight?.checked" [evaluateType]="0"></app-evaluations-table>
					</ng-template>
				</li>
			</ul>
			<div [ngbNavOutlet]="nav"></div>
		</div>
	</div>
</erp-shared-content>
