:host {
    select {
        @media screen and (min-width: 992px) {
            // min-width: 150px;
        }
    }
}
.subheader-separator-custom {
    width: 1px;
    height: 22px;
    border-radius: 2px;
}
