<app-loading-spinner
	*ngIf="isLoading"
	[contentHeight]="'20rem'"
	[height]="'5rem'"
	[width]="'5rem'"
	[colorClass]="'text-primary'"
>
</app-loading-spinner>
<div *ngIf="!isLoading" class="table-responsive-xl datatable datatable-default">
	<table class="table">
		<thead>
			<tr>
				<th>{{'evaluations.list-table.employee' | translate}}</th>
				<th class="text-center">{{'evaluations.list-table.evaluator' | translate}}</th>
				<th class="text-center">{{'evaluations.list-table.countersigner' | translate}}</th>
				<th class="text-center">{{'evaluations.list-table.evaluation-type' | translate}}</th>
				<th class="text-center">{{'evaluations.list-table.points' | translate}}</th>
				<th class="text-center">{{'evaluations.list-table.status' | translate}}</th>
				<th *ngIf="isActionsEnabled">{{'evaluations.list-table.actions' | translate}}</th>
			</tr>
		</thead>
		<tbody>
			<tr
				*ngFor="let evaluation of evaluations; let i = index"
				[class.table-warning]="showHighlighted && evaluation.status === EvaluationStatusEnum.Draft"
				[class.table-success]="showHighlighted && evaluation.status === EvaluationStatusEnum.Confirmed"
				[class.table-info]="showHighlighted && evaluation.status === EvaluationStatusEnum.Accepted"
				[class.table-danger]="showHighlighted && evaluation.status === EvaluationStatusEnum.Rejected"
			>
				<td class="text-center">
					<b>{{ evaluation?.evaluatedName }} </b>
				</td>
				<td class="text-center">
					<b>{{ evaluation.evaluatorName }} </b>
				</td>
				<td class="text-center">
					<b>{{ evaluation.counterSignerName }} </b>
				</td>

				<td class="text-center">
					{{ 'evaluations.positions.' + evaluation.type | translate }}
				</td>

				<td class="text-center">
					{{ evaluation.points }} <br />
				</td>

				<td class="text-center">
					{{ 'evaluations.status.' + evaluation.status | translate }}
				</td>
				<td *ngIf="isActionsEnabled">
					<app-evaluation-dropdown-details [index]="i" [evaluation]="evaluation" (delete)="openConfirmEvaluationDeleteModal(evaluation.id)"></app-evaluation-dropdown-details>
				</td>
			</tr>
			<tr *ngIf="!evaluations.length">
				<td colspan="10" class="text-center">{{ 'message.no-record' | translate }}</td>
			</tr>
		</tbody>
	</table>
	<div pagination
		[page]="pagedSummary.currentPage"
		[totalRecords]="pagedSummary.totalCount"
		[total]="pagedSummary.totalPages"
		[size]="pagedSummary.pageSize"
		(sizeChange)="list({ page: 1, itemsPerPage: $event})"
		class="datatable-pager datatable-paging-loaded"
		(pageChange)="list({ page: $event })">
	</div>
</div>
