:host {
    table thead tr th {
        color: #b5b5c3;
        font-size: .9rem;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: .1rem;
    }
    table thead tr th:first-child,
    table tbody tr td:first-child {
        width: 200px;
        max-width: 200px;
    }
}