.dropdown-toggle::after {
    display:none;
}

tbody {
	tr {
		td {
			vertical-align: middle !important;
		}
	}
}

.mobile-container-menu {
    display: none;
    @media screen and (max-width: 991px) {
        display: flex;
    }
}

.navi-item .active i{
    color: currentColor;
}

.mobile-dropdown-view {
    width: auto !important;
    transform: translate(-100px, 24px) !important;
}