<app-page-title title="{{'sidebar.faq' | translate}}" subTitle="{{'faq.manage-faq' | translate}}">
</app-page-title>

<erp-shared-content>
	<div class="row">
		<div class="col">
			<div class="card card-custom gutter-b">
				<div class="card-header flex-wrap border-0 py-5">
					<div class="card-title">
						<h3 class="card-label" id="title">{{'faq.subtitle' | translate}}</h3>
					</div>
					<div class="card-toolbar d-sm-flex d-none">
						<erp-shared-export-button class="mr-3" (click)="table.getHeaders(getTitle())">
							{{'button.export' | translate}}
						</erp-shared-export-button>
						<button [disabled]="isLoadingButton" type="button" (click)="downloadFile()"
							class="btn btn-success py-0 mr-3">
							<i class="far fa-file-pdf" *ngIf="!isLoadingButton"></i>
							<span class="text-white ml-2 font-weight-normal" *ngIf="!isLoadingButton">{{'guide.title' | translate}}</span>
							<span class="text-white mr-2 font-weight-normal" *ngIf="isLoadingButton">{{'button.loading' | translate}}</span>
							<div *ngIf="isLoadingButton" class="spinner-border spinner-border-sm text-white" role="status"></div>
						</button>
						<app-add-button class="btn" [routerLink]="['add-article']"
							[value]="'faq.new-article' | translate"></app-add-button>
					</div>
					<div class="card-toolbar d-sm-none d-flex w-100">
						<erp-shared-export-button width="100%" class="mb-3" (click)="table.getHeaders(getTitle())">
							{{'button.export' | translate}}
						</erp-shared-export-button>
						<button [disabled]="isLoadingButton" type="button" (click)="downloadFile()"
							class="btn btn-success py-0 w-100 mb-3">
							<i class="far fa-file-pdf" *ngIf="!isLoadingButton"></i>
							<span class="text-white ml-2 font-weight-normal" *ngIf="!isLoadingButton">{{'guide.title' | translate}}</span>
							<span class="text-white mr-2 font-weight-normal" *ngIf="isLoadingButton">{{'button.loading' | translate}}</span>
							<div *ngIf="isLoadingButton" class="spinner-border spinner-border-sm text-white" role="status"></div>
						</button>
						<app-add-button class="btn" [routerLink]="['add-article']" width="100%"
							[value]="'faq.new-article' | translate"></app-add-button>
					</div>
				</div>
				<div class="card-header border-0 py-0 mt-3">
					<app-search style="width: 100%;" (handleSearch)="table.list({keyword: $event, page: 1, itemsPerPage: table.pagedSummary.pageSize})">
					</app-search>
				</div>
				<div class="card-body">
					<app-faq-list-table #table></app-faq-list-table>
				</div>
			</div>
		</div>
	</div>
</erp-shared-content>
