.dropdown-toggle::after {
    display:none;
}

.mobile-container-menu {
    display: none;
    @media screen and (max-width: 991px) {
        display: flex;
    }
}

.navi-item .active i{
    color: currentColor;
}