<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <div class="card card-custom gutter-b" style="margin-left: 16px;">
        <div class="card-header flex-wrap border-0 py-5">
            <div class="card-title font-weight-bolder">{{'faq.overview' | translate}}</div>
        </div>
        <div class="card-body" *ngIf="isLoading">
            <app-loading-spinner></app-loading-spinner>
        </div>
        <div class="card-body" *ngIf="!isLoading">
            <div class="form-group row align-items-center mb-2">
                <label class="col-xl-2 col-lg-3 col-form-label font-weight-bold text-left text-lg-right text-muted">
                    {{'faq.name' | translate}}:</label>
                <div class="col-lg-9 col-xl-10">
                    <p class="font-size-lg m-0">{{articleName}}</p>
                </div>
            </div>
            <div class="form-group row align-items-center mb-2" *ngIf="fileId!=null">
                <label class="col-xl-2 col-lg-3 col-form-label font-weight-bold text-left text-lg-right text-muted">Media:</label>
                <div class="col-lg-9 col-xl-10">
                  <div *ngIf="fileId!=null">
                    <app-get-media-file [fileId]="fileId"></app-get-media-file>
                  </div>
                </div>
            </div>
            <div class="form-group row align-items-center mb-2" *ngIf="roles.length > 0">
                <label class="col-xl-2 col-lg-3 col-form-label font-weight-bold text-left text-lg-right text-muted">{{'faq.info-roles' | translate}}:</label>
                <div class="col-lg-9 col-xl-10">
                    <span class="font-size-lg m-0">{{roles}}</span>
                </div>
            </div>
            <div class="form-group row align-items-center mb-2">
                <label class="col-xl-2 col-lg-3 col-form-label font-weight-bold text-left text-lg-right text-muted" style="white-space: nowrap;">
                    {{'faq.content' | translate}}:</label>
                <div class="col-lg-9 col-xl-10 rounded border">
                    <ckeditor [editor]="Editor" [(ngModel)]="content" class="disabled-area"></ckeditor>
                </div>
            </div>
        </div>
    </div>
</div>
