<app-page-title [title]="'evaluations.title' | translate"></app-page-title>

<erp-shared-content>
	<div class="card card-custom gutter-b erp-shared-desktop-wide">
		<div class="card-body">
			<div class="row justify-content-center">
				<div class="col col-lg-7">
					<form [formGroup]="evaluationForm">
						<div class="form-group row">
							<label class="col col-form-label">{{ 'evaluations.evaluated-employees' | translate }}</label>
							<div class="col">
								<button class="btn btn-light" (click)="openAttachUserModal(true)"
									[style.background-color]="evaluationForm.get('evaluatedUserProfileIds')?.value?.length > 0 ? '#C9F7F5': '#FFE2E5'"
									[style.color]="evaluationForm.get('evaluatedUserProfileIds')?.value?.length > 0 ? '#0bb7af': '#F64E60'">
									{{'button.attach-evaluateds' | translate}}
								</button>
								<span *ngIf="evaluationForm.get('evaluatedUserProfileIds')?.value?.length">({{evaluationForm.get('evaluatedUserProfileIds')?.value?.length}})</span>
							</div>
						</div>
						<div class="form-group row">
							<label class="col col-form-label">{{ 'evaluations.countersigner' | translate }}</label>
							<div class="col">
								<button class="btn btn-light" (click)="openAttachUserModal()"
									[style.background-color]="evaluationForm.get('counterSignerUserProfileId')?.value ? '#C9F7F5': '#FFE2E5'"
									[style.color]="evaluationForm.get('counterSignerUserProfileId')?.value ? '#0bb7af': '#F64E60'">
									{{'button.attach-countersigner' | translate}}
								</button>
							</div>
						</div>
						<div class="form-group row">
							<label for="evaluationType" class="col col-form-label">{{ 'evaluations.evaluation-type' | translate }}</label>
							<div class="col">
								<select class="form-control" id="typr" formControlName="type">
									<option value="null">{{ 'evaluations.select-evaluation-type' | translate }}</option>
									<option value="1">{{ 'evaluations.executing-position' | translate }}</option>
									<option value="2">{{ 'evaluations.managing-position' | translate }}</option>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="col d-flex justify-content-center">
								<button type="button" class="btn btn-primary" [disabled]="evaluationForm.invalid" (click)="submit()">
									{{ 'button.apply' | translate }}
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</erp-shared-content>
