<app-page-title title="{{'menu.menu-sections.administration' | translate}}"
  subTitle="{{'pages.users.title' | translate}}">
</app-page-title>

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
  <div class="d-flex flex-column-fluid">
    <div class="container">
      <div class="card card-custom gutter-b">
        <div class="card-header flex-wrap border-0 py-0">
          <div class="card-title">
            <h3 class="card-label">
              {{'pages.users.user-list' | translate}}
            </h3>
          </div>
          <div class="card-toolbar">
            <app-add-button class="btn" routerLink="../new" *permission="'P00000013'" [value]="'button.add-user' | translate" ></app-add-button>
          </div>
        </div>
        <div class="card-header border-0 py-0 pr-5" style="min-height: 100%;">
          <div class="row w-100">
            <div class="col-lg-5 col-12">
              <app-user-search (searchOnEnter)="userTable.list({keyword: $event, page: 1})" (handleSearch)="userTable.searchValue = $event.target.value"></app-user-search>
            </div>
            <div class="col-lg-5 col-12 mt-lg-0 mt-3 h-35px">
              <app-filter-user-state (filter)="userTable.userState = $event.target.value"></app-filter-user-state>
            </div>
            <div class="col-lg-2 col-12 mt-lg-0 mt-3 pr-0">
              <div class="w-100">
                <app-confirm-button (handle)="userTable.list({keyword: $event, page: 1})" [value]="'button.search' | translate" [width]="'100%'"></app-confirm-button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <app-user-list-table #userTable></app-user-list-table>
        </div>
      </div>
    </div>
  </div>
</div>
