<app-page-title title="{{'menu.menu-sections.administration' | translate}}"
  subTitle="{{'pages.users.title' | translate}}">
</app-page-title>

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
  <div class="d-flex flex-column-fluid">
    <div class="container">
      <div class="card card-custom gutter-b">
        <div class="card-header flex-wrap border-0 py-0">
          <div class="card-title">
            <h3 class="card-label">
              {{'pages.users.user-list' | translate}}
            </h3>
          </div>
          <div class="card-toolbar">
            <app-add-button class="btn" routerLink="../new" *permission="'P00000013'" [value]="'button.add-user' | translate" ></app-add-button>
          </div>
        </div>
        <div class="card-header border-0 py-0 pr-5" style="min-height: 100%;">
          <div class="row w-100">
            <div class="col">
              <erp-shared-search-input (handleSearch)="userTable.getFilteredUsers({keyword: $event, page: 1})" [placeholder]="'pages.user-details.search-name' | translate" #keyword></erp-shared-search-input>
            </div>
            <div class="col">
              <erp-shared-search-input (handleSearch)="userTable.getFilteredUsers({email: $event, page: 1})" [placeholder]="'pages.user-details.search-email' | translate" #email></erp-shared-search-input>
            </div>
            <div class="col">
              <erp-shared-search-input (handleSearch)="userTable.getFilteredUsers({idnp: $event, page: 1})" [placeholder]="'pages.user-details.search-idnp' | translate" #idnp></erp-shared-search-input>
            </div>
            <div class="col">
              <app-filter-user-state (filter)="userTable.getFilteredUsers({userState: $event})" (handleSearch)="userTable.searchValue = $event.target.value"></app-filter-user-state>
            </div>
            <div class="col">
              <div class="w-100 text-right">
                <app-button (click)="resetFilters(); userTable.list()" [value]="'button.reset' | translate" class="mr-5"></app-button>
                <app-confirm-button (handle)="userTable.list({page: 1})" [value]="'button.search' | translate"></app-confirm-button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <app-user-list-table #userTable></app-user-list-table>
        </div>
      </div>
    </div>
  </div>
</div>
