.dropdown-toggle::after {
    display:none;
}

.mobile-container-menu {
    display: none;
    @media screen and (max-width: 991px) {
        display: flex;
    }
}

.navi-item .active svg{
    color: currentColor;
}

.mobile-dropdown-view {
    width: auto !important;
    transform: translate(-233px, 38px) !important;
}
    
.custom-scrollbar-visible{
	overflow-x: scroll !important;
	&::-webkit-scrollbar {
		height: 3px !important;
	}
	&::-webkit-scrollbar-track {
		background: transparent;
	}
	&::-webkit-scrollbar-thumb {
		background: rgb(192,192,192);
	}
}