<div class="card text-lg-center">
  <div class="card-header">
    {{ 'step.Declaration' | translate }}
  </div>
  <div class="card-body">
    <div class="row justify-content-center">
      <div class="form-check form-switch">
        <input mdbCheckbox class="form-check-input" type="checkbox" id="flexSwitchCheckChecked"
          [(ngModel)]="isChecked" />
        <label class="form-check-label pl-5" for="flexSwitchCheckChecked" style="padding-top: 3px;">
          {{ 'declaration.paragraf' | translate}}
        </label>
      </div>
    </div>
  </div>
</div>
<div class="row m-0">
  <div class="col">
    <div class="row pc-container-menu my-3">
      <app-stepper-arrow-hint *ngIf="isChecked && allowToFinish"
        [description]="'stepper.button-end' | translate"></app-stepper-arrow-hint>
      <button class="btn btn-success h-35px" [disabled]="isChecked == false || !allowToFinish"
        (click)="addRegistrationFluxStep()">{{'stepper.button-end' | translate}}
      </button>
    </div>
    <div class="row mobile-container-menu my-3">
      <app-stepper-arrow-hint-down *ngIf="isChecked && allowToFinish"
        [description]="'stepper.button-end' | translate"></app-stepper-arrow-hint-down>
      <button class="btn btn-success h-35px" [disabled]="isChecked == false || !allowToFinish"
        (click)="addRegistrationFluxStep()">{{'stepper.button-end' | translate}}
      </button>
    </div>
  </div>
</div>