.dropdown-toggle::after {
    display:none;
}

.disabled-area{
    cursor: default;
    pointer-events: none !important;
}

.invisible-area {
    display: none;
}

.margin-right{
    margin-right: 30px;
    cursor: pointer;
    color: #fccad0;
}

.mobile-table-dropdown-view {
    width: auto !important;
    transform: translate(-30px, -24px) !important;
}