.dropdown-toggle::after {
    display:none;
}

.disabled-area{
    cursor: default;
    pointer-events: none !important;
}

.invisible-area {
    display: none;
}

.margin-right{
    margin-right: 30px;
    cursor: pointer;
    color: #fccad0;
}