::ng-deep .page-link {
	border-radius: 0.85rem !important;
	margin: 2px;
}

.dropdown-toggle::after {
	display:none;
}

tbody {
	tr {
		td {
			vertical-align: middle !important;
		}
	}
}

.no-actions {
	pointer-events: none;
}

.mobile-container-menu {
    display: none !important;
    @media screen and (max-width: 487px) {
        display: block !important;
    }
}

.pc-container-menu {
    display: none !important;
    @media screen and (min-width: 488px) {
        display: block !important;
    }
}