$editable-border-color: #000;
$required-border-color: #F64E60;

:host {
    ::ng-deep {
		.required-group:not(.input-group):not(.required-label) {
			select,
			textarea,
			input.form-control {
				border: 2px solid $editable-border-color;
				background: #FFF;
			}
		}

		.required-label {
			select,
			textarea,
			input.form-control {
				border: 2px solid $required-border-color;
				background: #FFF;
			}
			label:after {
				content:" *";
				color: red;
				font-weight: 800;
			}
			.input-group-append button {
				border: 2px solid $required-border-color;
				border-left: 0;
			}
		}
	
		.required-group.input-group:not(.required-label) {
			select,
			textarea,
			input.form-control {
				border: 2px solid $editable-border-color;
				background: #FFF;
			}

			.input-group-append button {
				border: 2px solid $editable-border-color;
				border-left: 0;
			}
		}
	}
}