/* You can add global styles to this file, and also import other style files */
/* UI METRONIC LIBRARY INITIALIZATION */
@import "style";
/* END METRONIC LIBRARY INITIALIZATION */

/* Importing Bootstrap SCSS file. */
// @import '~bootstrap/scss/bootstrap';


/* Importing Dragula SCSS file. */
// @import '~dragula/dist/dragula';

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
// @import "~ng-pick-datetime/assets/style/picker.min.css";

html,
body,
app-main,
app-dashboard {
  width: 100%;
}

.simple-notification div,
.simple-notification {
  color: #FFF;
}

app-exception-404,
app-root,
app-login,
.flex-root,
.login {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

.form-group.required label:after {
  content: "*";
  color: red;
  padding: 0 0 0 4px;
}
