:host {
    ::ng-deep {
		div.mat-expansion-panel-body,
		mat-expansion-panel-header.mat-expansion-panel-header {
			@media screen and (max-width: 426px) {
				padding: 0 12px;
			}
		}
		div.mat-expansion-panel-body {
			@media screen and (max-width: 426px) {
				padding: 0;
			}
		}
        div.mat-vertical-stepper-content {
            div.mat-vertical-content {
				padding: 11px 24px 24px 24px;
            }

			
        }
        mat-step-header.mat-step-header {
            height: auto;
            .mat-step-label {
                width: 100%;
            }

            div.mat-step-icon {
				&.mat-step-icon-state-done,
				&.mat-step-icon-state-edit {
					mat-icon {
						color: white;
					}
				}
				&.mat-step-icon-state-done,
				&.mat-step-icon-state-edit,
				&.mat-step-icon-selected {
					background: #6e76a4;
				}
                span {
                    color: #FFF;
                }
            }
        }

		@media screen and (min-width: 320px) {  
			h4 {font-size:1.1rem;}
			// .mat-expansion-panel-header{
			// 	min-height: 200px;
			// }
			table{
				min-width: 350px;
			}
			table td{
				min-width: 200px;
			}
		}
		@media screen and (min-width: 600px) {  
			h4 {font-size:1.2rem;}
			// .mat-expansion-panel-header{
			// 	min-height: 110px;
			// }
			table{
				min-width: 450px;
			}
			table td{
				min-width: 200px;
			}
			// .mat-vertical-content-container{
			// 	margin-left: 15px;
			// }
		}
		
		@media screen and (min-width: 800px) {  
			h4 {font-size:auto;}
			.mat-expansion-panel-header{
				min-height: auto;
			}
		}
    }
}
