.dropdown-toggle::after {
    display:none;
}

tbody {
	tr {
		td {
			vertical-align: middle !important;
		}
	}
}

.mobile-table-dropdown-view {
    width: auto !important;
    transform: translate(-30px, -24px) !important;
}