<app-page-title title="{{ 'pages.modules.title' | translate }}"
  subTitle="{{ 'pages.modules.development' | translate }}"></app-page-title>

<app-loading-spinner *ngIf="isLoading" [contentHeight]="'80vh'" [width]="'5rem'" [height]="'5rem'"
  [colorClass]="'text-primary'">
</app-loading-spinner>

<div *ngIf="!isLoading" class="content  d-flex flex-column flex-column-fluid" id="kt_content">
  <div class="d-flex flex-column-fluid">
    <div class="container">
      <div class="card card-custom gutter-b">
        <div class="card-body px-0">
          <div class="row justify-content-center px-8 px-lg-10">
            <div class="col-xl-12 col-xxl-7">
              <form [formGroup]="moduleForm" class="form">
                <div class="pb-5" data-wizard-type="step-content" data-wizard-state="current">
                  <h3 class="mb-10 font-weight-bold text-dark">{{ 'pages.modules.info' | translate }}:</h3>
                  <div class="row">
                    <div class="col-xl-12">
                      <div class="form-group row">
                        <label class="col-xl-3 col-lg-3 col-form-label text-right">
                          {{'table.module' | translate}}
                        </label>
                        <div class="col-lg-9 col-xl-6">
                          <input class="form-control form-control-lg form-control-solid" type="text"
                            placeholder="Module name" name="name" formControlName="name" />
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-xl-3 col-lg-3 col-form-label text-right">
                          {{'table.priority' | translate}}
                        </label>
                        <div class="col-lg-9 col-xl-6">
                          <input class="form-control form-control-lg form-control-solid" type="number" 
                            placeholder="Module priority" name="priority" formControlName="priority" />
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-xl-3 col-lg-3 col-form-label text-right">
                          {{'table.code' | translate}}
                        </label>
                        <div class="col-lg-9 col-xl-6">
                          <input class="form-control form-control-lg form-control-solid" type="string" 
                            placeholder="Module code" name="code" formControlName="code" />
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-xl-3 col-lg-3 col-form-label text-right">
                          {{'table.publicUrl' | translate}}
                        </label>
                        <div class="col-lg-9 col-xl-6">
                          <input class="form-control form-control-lg form-control-solid" type="text"
                            placeholder="http://example.com" name="publicUrl" formControlName="publicUrl" />
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-xl-3 col-lg-3 col-form-label text-right">
                          {{'table.internalUrl' | translate}}
                        </label>
                        <div class="col-lg-9 col-xl-6">
                          <input class="form-control form-control-lg form-control-solid" type="text"
                            placeholder="http://example.com" name="internalGatewayAPIPath"
                            formControlName="internalGatewayAPIPath" />
                        </div>
                      </div>
                      <!-- <div class="form-group row">
                        <label class="col-xl-3 col-lg-3 col-form-label text-right">
                          {{'table.color' | translate}}
                        </label>
                        <div class="col-lg-9 col-xl-6">
                          <input class="form-control form-control-lg form-control-solid" type="text"
                            placeholder="#C9F7F5" name="color" formControlName="color"
                            [ngClass]="{'is-invalid': hasErrors('color'), 'is-valid': moduleForm.get('color').valid}" />
                          <div *ngIf="hasErrors('color')" class="fv-plugins-message-container">
                            <div *ngIf="hasError('color', 'pattern')" data-field="color" data-validator="notEmpty"
                              class="fv-help-block">
                              {{ 'messages.color-input' | translate }}
                            </div>
                          </div>
                        </div>
                      </div> -->
                      <div class="form-group row align-items-center">
                        <label class="col-xl-3 col-lg-3 col-form-label text-right">
                          {{'table.icon' | translate}}
                        </label>
                        <div class="col-lg-9 col-xl-6">
                          <div class="d-flex row pl-4 checkbox-inline">
                            <label class="checkbox mb-4" *ngFor="let item of icons">
                              <input name="icon" type="radio" formControlName="icon" [value]="item.name">
                              <span></span>
                              <svg-icon [key]="item.name"></svg-icon>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-right border-top pt-10">
                  <app-button class="btn mr-2" [value]="'button.back' | translate" (click)="back()"></app-button>
                  <app-add-button class="btn" [value]="'button.confirm' | translate" [disabled]="moduleForm.invalid"
                    (handle)="submit()">
                  </app-add-button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
