<app-page-title [title]="'pages.personal.title' | translate">
</app-page-title>
<app-content>
  <div class="card card-custom">
    <div class="card-header flex-wrap border-0 pt-6 pb-0">
      <div class="card-title">
        <h3 class="card-label font-weight-bolder">
          {{ 'personal.title-description-list' | translate }}
        </h3>
      </div>
      <!-- <div class="card-toolbar">
        <a [routerLink]="['../new']" class="btn btn-success font-weight-bolder">
          {{ 'personal.add-personal' | translate}}</a>
      </div> -->
    </div>
    <div class="card-header border-0 pt-0 pb-0 pr-5">
      <div class="row w-100" *ngIf="!this.clearFields">
        <div class="col-lg-2 col-12 mb-2">
          <app-search (handleRewrite)="contractorsTable.setKeyword($event)" (handleSearch)="contractorsTable.list({keyword: $event, page: 1})"></app-search>
        </div>
        <div class="col-lg-2 col-12 mb-2">
          <app-search-by-department (handleDepartment)="contractorsTable.setFilter('departmentId', $event)"></app-search-by-department>
        </div>
        <!-- <div class="col-lg-3 col-12 mb-2">
          <app-employee-from-date [placeholder]="'entity.role.from-date' | translate" (handleFrom)="contractorsTable.setFilter('employmentDateFrom', $event)"></app-employee-from-date>
        </div>
        <div class="col-lg-3 col-12 mb-2">
          <app-employee-to-date [placeholder]="'entity.role.to-date' | translate" (handleTo)="contractorsTable.setFilter('employmentDateTo', $event)"></app-employee-to-date>
        </div> -->
        <div class="col-lg col-12 mb-lg-0 mb-2">
          <app-employee-position (handleChangeRole)="contractorsTable.setFilter('organizationRoleId', $event)"></app-employee-position>
        </div>
        <div class="col-lg col-12 mb-lg-0 mb-2">
          <app-employee-function (handleChangeFunction)="contractorsTable.setFilter('functionId', $event)"></app-employee-function>
        </div>
        <div class="col-lg col-12 mt-lg-0 mt-3">
          <app-filter-employee-state (filter)="contractorsTable.userStatus = $event.target.value"></app-filter-employee-state>
        </div>
        <div class="col-lg-auto col-12 pt-lg-0 pt-2 d-flex flex-column-reverse flex-lg-row">
          <div class="mr-lg-5">
            <app-button (handle)="startClearFields(); contractorsTable.resetFilters()" width="100%" [value]="'button.reset' | translate" class="mr-5"></app-button>
          </div>
          <div class="mb-lg-0 mb-2">
            <app-confirm-button class="w-100" (handle)="contractorsTable.list({page: 1})" [value]="'button.apply-filter' | translate" ></app-confirm-button>
          </div>
        </div>
      </div>
      <div class="row w-100">
        <!-- <div class="col-lg-5 col-12">
          <app-search (handleRewrite)="contractorsTable.setKeyword($event)" (handleSearch)="contractorsTable.list({keyword: $event, page: 1})"></app-search>
        </div> -->
        
        <!-- <div class="col-lg-2 col-12 mt-lg-0 mt-3">
          <div class="row justify-content-lg-end justify-content-center confirmation-container">
            <app-confirm-button (handle)="contractorsTable.list({page: 1})" [value]="'button.apply-filter' | translate" ></app-confirm-button>
          </div>
        </div> -->
      </div>
    </div>
    <div class="card-body pt-0">
      <app-contractors-table #contractorsTable></app-contractors-table>
    </div>
  </div>
</app-content>
