form {
    border: 1px solid #EBEDF3;
    @media screen and (max-width: 992px) {
        border: 0;
    }
}

button {
    @media screen and (max-width: 992px) {
        width: 100%;
    }
}

.mobile-container-menu {
    display: none;
    @media screen and (max-width: 992px) {
        display: flex;
        justify-content: center;
    }
}

.pc-container-menu {
    display: none;
    @media screen and (min-width: 993px) {
        display: flex;
        justify-content: flex-end;
    }
}