<form *ngIf="autobiographyForm" class="col border" [formGroup]="autobiographyForm">
    <app-loading-spinner *ngIf="isLoadingAutobiography" contentHeight="20rem" height="5rem" width="5rem"
        colorClass="text-primary"></app-loading-spinner>
    <div *ngIf="!isLoadingAutobiography">
        <div class="row my-5">
            <div class="col">
                <h4>{{'Autobiografia ' | translate}}</h4>
            </div>
        </div>
        <div class="row ml-10 mr-10">
            <div class="text-center w-100">
                <p class="font-weight-bold">
                    {{'Autobiografia se scrie pesonal de candidat citet, ordonat, faracorectari si prescurtari, cu indicarea obligatorie a urmatoarei informatii:' | translate}}
                </p>
                <p class="font-weight-normal">
                    {{'- Numele, prenumele, patronimicul, data, si locul nasterii, originea sociala, limba materna;' | translate}}
                </p>
                <p class="font-weight-normal">
                    {{'- Institutiile de invatatmant in care a studiat, anul absolvirii sau abandonarii lor, media generala, specialitatile, profesiile obtinute;' | translate}}
                </p>
                <p class="font-weight-normal">
                    {{'- Starea civila, data casatoriei(divortului), nume, prenume, patronimicul sotiei(sotului), prenumele si anul nasterii copiilor;' | translate}}
                </p>
                <p class="font-weight-normal">
                    {{'- Serviciul militar, perioada, centrul militar care a decis incorporarea; In caz ca nu a fost supus serviciului militar se indica temeiul;' | translate}}
                </p>
                <p class="font-weight-normal">
                    {{'- Activitatea in organele elective (perioada si organul)' | translate}}
                </p>
                <p class="font-weight-normal">
                    {{'- Posesia gradelor/titlurilor stiintifice, stiintifico-didactice, onorifice si sportive, data acordarii lor si autoritatea emitenta;' | translate}}
                </p>
                <p class="font-weight-normal">
                    {{'- Existenta stagiului de munca oficial si neoficial (perioada, functia (postul), institutia,organizatia, intreprinderea);' | translate}}
                </p>
                <p class="font-weight-normal">
                    {{'- Locul de trai si viza de domicilui(se indica ambele daca nu coincid)' | translate}}
                </p>
            </div>
        </div>
        <div class="row ml-10 mr-10">
            <ckeditor [editor]="Editor" class="w-100" name="editor1" skin="moono-lisa" language="en"
                formControlName="text" (ready)="onReady($event)"></ckeditor>
        </div>
        <div class="row justify-content-end m-7">
            <button class="btn btn-success" *ngIf="addOrEditAutobiographyButton"
                [disabled]="autobiographyForm.value.text == null || autobiographyForm.value.text == '' "
                (click)="updateAutobiography()">{{'Update' | translate}}</button>
            <button class="btn btn-success" *ngIf="!addOrEditAutobiographyButton"
                [disabled]="autobiographyForm.value.text == null || autobiographyForm.value.text == '' "
                (click)="createAutobiography()">{{'Add' | translate}}</button>
        </div>
    </div>
</form>
<div class="row justify-content-end mt-10 mr-1">
    <button class="btn btn-success" matStepperNext [disabled]="(autobiographyForm && autobiographyForm.invalid)" (click)="addRegistrationFluxStep()">
        {{'Next step' | translate}}
    </button>
</div>