<form *ngIf="autobiographyForm" class="col mb-md-3 mb-0" [formGroup]="autobiographyForm">
    <app-loading-spinner *ngIf="isLoadingAutobiography" contentHeight="20rem" height="5rem" width="5rem"
        colorClass="text-primary"></app-loading-spinner>
    <div *ngIf="!isLoadingAutobiography">
        <div class="row my-5">
            <div class="col">
                <h4>{{'step.Autobiography' | translate}}</h4>
            </div>
        </div>
        <div class="row mx-md-10 mx-0">
            <div class="text-lg-center w-100">
                <p class="font-weight-bold">
                    {{'autobiography.title' | translate}}
                </p>
                <p class="font-weight-normal">
                    {{'autobiography.paragraf-1' | translate}}
                </p>
                <p class="font-weight-normal">
                    {{'autobiography.paragraf-2' | translate}}
                </p>
                <p class="font-weight-normal">
                    {{'autobiography.paragraf-3' | translate}}
                </p>
                <p class="font-weight-normal">
                    {{'autobiography.paragraf-4' | translate}}
                </p>
                <p class="font-weight-normal">
                    {{'autobiography.paragraf-5' | translate}}
                </p>
                <p class="font-weight-normal">
                    {{'autobiography.paragraf-6' | translate}}
                </p>
                <p class="font-weight-normal">
                    {{'autobiography.paragraf-7' | translate}}
                </p>
                <p class="font-weight-normal">
                    {{'autobiography.paragraf-8' | translate}}
                </p>
            </div>
        </div>
        <div class="row mx-md-10 mx-0">
            <ckeditor [editor]="Editor" class="w-100" name="editor1" skin="moono-lisa" language="en"
                formControlName="text" (ready)="onReady($event)"></ckeditor>
        </div>
        <div class="row">
            <div class="col">
                <div class="d-flex justify-content-end my-3">
                    <button class="btn btn-outline-success h-35px" *ngIf="addOrEditAutobiographyButton"
                        [disabled]="autobiographyForm.value.text == null || autobiographyForm.value.text == '' "
                        (click)="updateAutobiography()">{{'stepper.button-update' | translate}}</button>
                    <button class="btn btn-outline-success h-35px" *ngIf="!addOrEditAutobiographyButton"
                        [disabled]="autobiographyForm.value.text == null || autobiographyForm.value.text == '' "
                        (click)="createAutobiography()">{{'stepper.button-add' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="row">
    <div class="col">
        <div class="col d-flex justify-content-end my-3">
            <button class="btn btn-success h-35px" *ngIf="autobiographyData" matStepperNext
                (click)="addRegistrationFluxStep()">
                {{'stepper.button-next' | translate}}
            </button>
            <button class="btn btn-success h-35px" *ngIf="!autobiographyData" matStepperNext
                (click)="addRegistrationFluxStep()">
                {{'stepper.button-save-and-next-withoud-datas' | translate}}
            </button>
        </div>
    </div>
</div>