<div class="modal-header border-0 pb-0">
    <h3 class="modal-title">Termenii și condițiile de înregistrare</h3>
</div>
<div class="modal-body">
    <h4>Declarație</h4>
    <p>Acceptând, declar pe propria răspundere că, participând la concursul de angajare în cadrul MAI:</p>
    <ul>
        <li>nu am antecedente penale,</li>
        <li>nu mă aflu sub urmărire penală,</li>
        <li>nu sunt privat(ă) de dreptul de a exercita o anumită activitate ca pedeapsă principală sau complementară aplicată prin hotărâre judecătorească definitivă.</li>
    </ul>
    <h4>Acord</h4>
    <p>
        Acceptând, îmi exprim acordul la prelucrarea datelor cu caracter personal, precum și, în cazul angajării în cadrul MAI, îmi exprim angajamentul de a asigura confidențialitatea informațiilor cu accesibilitate limitată cunoscute de către mine în procesul de instruire în cadrul Academiei, inclusiv și după încetarea contractului de muncă.
    </p>
    <!-- <h4>Fișa personală</h4>
    <p>
        Declar, pe propria răspundere, că datele înscrise în fișa personală sunt veridice. Sunt de acord ca autoritățile competente să-mi verifice datele din fișă și din actele prezentate.
    </p> -->
  </div>
<div class="modal-footer border-0 pt-0">
    <button type="button" class="btn btn-secondary" (click)="dismiss()">Închide</button>
</div>
