<app-page-title [title]="'employee-functions.title' | translate"></app-page-title>
<app-content>
    <div class="card card-custom">
        <div class="card-header flex-wrap border-0 pt-6 pb-0">
            <div class="card-title">
                <h3 class="card-label font-weight-bolder" id="title">{{ 'employee-functions.title-description-list' | translate }}</h3>
            </div>
            <div class="card-toolbar pc-container-menu">
                <erp-shared-import-button [disabled]="functionsTable?.isLoading" (click)="functionsTable.openImportModal()" type="button" class="mr-2">
                    {{'button.import' | translate}}
                </erp-shared-import-button>
                <erp-shared-export-button class="mr-3" (click)="functionsTable.getHeaders(getTitle())">
                    {{'button.export' | translate}}
                </erp-shared-export-button>
                <!-- <button [disabled]="roleTable?.isLoading"  [routerLink]="['../new']" class="btn btn-success font-weight-bolder">{{ 'roles.add-role' | translate}}</button> -->
            </div>
            <div class="row mobile-container-menu w-100 mx-0">
                <erp-shared-import-button [disabled]="functionsTable?.isLoading" (click)="functionsTable.openImportModal()" type="button" class="mr-2 w-100 mb-2">
                    {{'button.import' | translate}}
                </erp-shared-import-button>
                <erp-shared-export-button class="w-100" (click)="functionsTable.getHeaders(getTitle())">
                    {{'button.export' | translate}}
                </erp-shared-export-button>
                <!-- <button [disabled]="roleTable?.isLoading"  [routerLink]="['../new']" class="btn btn-success font-weight-bolder">{{ 'roles.add-role' | translate}}</button> -->
            </div>
        </div>
        <div class="card-header border-0 pt-0 pb-0 pr-5">
            <div class="row w-100">
                <div class="col-sm col-xs">
                    <!-- <app-search (handleRewrite)="functionsTable.searchWord = $event"
                        (handleSearch)="functionsTable.list({searchWord: $event, page: 1})"></app-search> -->
                </div>
            </div>
        </div>
        <div class="card-body pt-0">
            <app-employee-function-table #functionsTable></app-employee-function-table>
        </div>
    </div>
</app-content>