$table-square-size: 80px;
$table-square-mobile-size: 50px;

$badge-past-color: #ffbc82;
$badge-today-color: white;
$badge-future-color: #ed8792;

h2 {
	font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
	color: #3F4254;
}

strong {
	display: block;
	text-align: right;
	color: #F64E60;
    text-decoration: none;
    background-color: transparent;
	&.today {
		color: white;
	}
}

.calendar-table {
	border-collapse: collapse;
	width: 100%;
	max-width: 100%;
	margin-bottom: 1rem;
	border: 1px solid #dee2e6;
	background-color: #fff;
}

.calendar-table thead th {
	vertical-align: bottom;
	// border-bottom: 2px solid #dee2e6;
	width: $table-square-size;
	min-width: $table-square-size;
	max-width: $table-square-size;
	color: #B5B5C3;

	padding: 0.75rem 0.5rem;
    font-size: 1rem;
    font-weight: 500;
	@media screen and (max-width: 992px) {
		width: $table-square-mobile-size;
		min-width: $table-square-mobile-size;
		max-width: initial;
	}
}

.calendar-table td,
.calendar-table th {
	border: 1px solid #EBEDF3;
}

.calendar-table td,
.calendar-table th {
	padding: 0.75rem;
	vertical-align: top;
	border-top: 1px solid #dee2e6;
}

.calendar-day {
	height: $table-square-size;
	min-height: $table-square-size;
	max-height: $table-square-size;
	cursor: pointer;
	@media screen and (max-width: 992px) {
		height: $table-square-mobile-size;
		min-height: auto;
		max-height: initial;
	}
}

.calendar-items-wrapper {
	margin-left: -10px;
	margin-right: -10px;
	overflow-y: auto;
	max-height: calc(100% - 20px);
}

.calendar-day.past-date {
	background-color: rgb(248, 248, 248);
}

.calendar-day.notDayOfWeek {
	background-color: rgb(248, 248, 248);
	pointer-events: none;
}

.calendar-day:hover {
	background-color: rgb(248, 248, 248);
}

td.calendar-day.blue-date,
td.calendar-day.blue-date div {
	color: white;
	background-color: #7cbaf9;
}

.calendar-day.selected-date {
	background-color: #efefef;
}

.badge {
	&.badge-past {
		background: $badge-past-color;
		color: white;
	}
	&.badge-today {
		background: $badge-today-color;
	}
	&.badge-future {
		background: $badge-future-color;
		color: white;
	}
}

.button-container {
	button[type="button"] {
		color: #B5B5C3;
		background: transparent;
		border: 1px solid #EBEDF3;
		text-shadow: none !important;
		-webkit-box-shadow: none !important;
		box-shadow: none !important;
		outline: none !important;
		height: 2.75rem;
		padding: 0 1.25rem;
		i {
			font-size: 0.7rem;
		}
		&:hover {
			background: #F3F6F9;
			border: 1px solid #EBEDF3;
			i {
				color: #B5B5C3;
			}
		}
		&:active {
			background: $badge-future-color;
			border: 1px solid $badge-future-color;
			color: #FFF;
			i {
				color: #FFF;
			}
		}
	}
}