<app-page-title title="{{'faq.faq' | translate}}" subTitle="{{'faq.subtitle' | translate}}">
</app-page-title>

<app-loading-spinner *ngIf="isLoading" [contentHeight]="'80vh'" [height]="'5rem'" [width]="'5rem'"
    [colorClass]="'text-primary'">
</app-loading-spinner>

<erp-shared-content *ngIf="!isLoading">
	<div class="card card-custom gutter-b w-100 px-10">
		<div class="card-header flex-wrap border-0 py-5">
			<div class="card-title w-100 align-items-baseline">
				<h3 class="font-weight-light" style="white-space: nowrap;">
					{{'faq.article-title' | translate}}:
				</h3>
				<div class="d-flex flex-column w-100 ml-5">
					<input type="text" placeholder="{{'faq.emptyName' | translate}}" class="form-control" [(ngModel)]="title" required>
				</div>
			</div>
		</div>
		<div class="card-body">
			<div class="mb-10">
				<ckeditor [editor]="Editor" [(ngModel)]="editorData" (ready)="onReady($event)"></ckeditor>
			</div>
			<div class="border-top pt-10 pc-container-menu">
				<app-button class="btn mr-2" [value]="'button.cancel' | translate" (handle)="backClicked()">
				</app-button>
				<app-add-button class="btn" (handle)="saveArticle()" [disabled]="isButtonPressed || checkConfirmButton(editorData, title)" [value]="'button.confirm' | translate">
				</app-add-button>
			</div>
			<div class="row border-top pt-10 mobile-container-menu">
				<div class="d-flex m-0 w-100">
					<app-button class="btn  w-100 mr-1" [width]="mobileButtonLength" [value]="'button.cancel' | translate" (handle)="backClicked()">
					</app-button>
					<app-add-button class="btnn w-100 ml-1" [value]="'button.confirm' | translate" (handle)="saveArticle()" 
					[disabled]="isButtonPressed || checkConfirmButton(editorData, title)">
					</app-add-button>
				</div>
			</div>
		</div>
	</div>
</erp-shared-content>
