<div class="row pt-2"> 
    <div class="col-md-4 p-0">
        <span class="font-weight-bold" style="font-weight: bold !important;">{{'personal.contact-type-name.'+contact.typeName | translate}}:</span>
    </div>
    <div class="col-md-7 p-0">
        <span>{{contact?.value || '-'}}</span>
    </div>
    <div class="col-md-1 p-0">
        <ng-container *ngIf="!isView">
            <app-view-contact-dropdown 
                [index]="1" 
                (edit)="openContactEditModal()" 
                (delete)="openConfirmationDeleteModal()">
            </app-view-contact-dropdown>
        </ng-container>
    </div>
</div>