<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>

<erp-shared-content *ngIf="!isLoading">
  <div class="card card-custom gutter-b erp-shared-desktop-wide">
    <div class="card-header flex-wrap border-0 py-5">
      <div class="card-title">{{'change-password-comp.title' | translate}}</div>
    </div>
    <div class="card-body p-0">
      <div class="wizard wizard-1" id="kt_contact_add" data-wizard-state="step-first" data-wizard-clickable="true">
        <div class="flex-row justify-content-center mb-10 px-8 my-lg-10 px-lg-10">
          <div class="col-xl-12 col-xxl-7">
            <form class="form" id="kt_contact_add_form" [formGroup]="passwordForm">
              <div class="pb-5" data-wizard-type="step-content" data-wizard-state="current">
                <div class="row">
                  <div class="col-xl-12">
                    <div class="form-group row">
                      <label class="col-xl-3 col-lg-3 col-form-label">
                        {{'change-password-comp.old-password' | translate}}
                      </label>
                      <div class="col-lg-9 col-xl-9">
                        <input class="form-control form-control-lg form-control-solid" name="oldPassword"
                          type="password" formControlName="oldPassword"
                          [ngClass]="{'is-invalid': hasErrors('oldPassword'), 'is-valid': passwordForm.get('oldPassword').valid}" />
                        <div *ngIf="hasErrors('oldPassword')" class="fv-plugins-message-container">
                          <div *ngIf="hasError('oldPassword', 'required')" data-field="oldPassword"
                            data-validator="notEmpty" class="fv-help-block">
                            {{ 'change-password-comp.password-is-required' | translate }}
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-xl-3 col-lg-3 col-form-label">
                        {{'change-password-comp.new-password' | translate}}
                      </label>
                      <div class="col-lg-9 col-xl-9">
                        <input class="form-control form-control-lg form-control-solid" name="newPassword"
                          type="password" formControlName="newPassword" 
                          [ngClass]="{'is-invalid': hasErrors('newPassword'), 'is-valid': passwordForm.get('newPassword').valid}" />
                          <div *ngIf="hasErrors('newPassword')" class="fv-plugins-message-container">
                            <div *ngIf="hasError('newPassword', 'required')" data-field="newPassword"
                              data-validator="notEmpty" class="fv-help-block">
                              {{ 'change-password-comp.password-is-required' | translate }}</div>
                            <div *ngIf="hasError('newPassword', 'pattern')" data-field="newPassword"
                              data-validator="notEmpty" class="fv-help-block d-flex">
                              {{ 'change-password-comp.please-use-valid-password' | translate }}
                              <span class="btn py-0 px-2" data-container="body"
                                data-toggle="tooltip" placement="right" [ngbTooltip]="tipContent" triggers="click:blur">
                                <i class="flaticon-questions-circular-button text-primary"></i>
                              </span>
                            </div>
                          </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label
                        class="col-xl-3 col-lg-3 col-form-label">{{'change-password-comp.repeat-password' | translate}}</label>
                      <div class="col-lg-9 col-xl-9">
                        <input class="form-control form-control-lg form-control-solid" name="repeatPassword"
                          type="password" formControlName="repeatPassword" 
                          [ngClass]="{'is-invalid': hasErrors('repeatPassword'), 'is-valid': passwordForm.get('repeatPassword').valid}" />
                          <div *ngIf="hasErrors('repeatPassword')" class="fv-plugins-message-container">
                            <div *ngIf="hasError('repeatPassword', 'required')" data-field="repeatPassword"
                              data-validator="notEmpty" class="fv-help-block">
                              {{ 'change-password-comp.password-is-required' | translate }}</div>
                            <div *ngIf="hasError('repeatPassword', 'pattern')" data-field="repeatPassword"
                              data-validator="notEmpty" class="fv-help-block d-flex">
                              {{ 'change-password-comp.please-use-valid-password' | translate }}
                              <span class="btn py-0 px-2" data-container="body"
                                data-toggle="tooltip" placement="right" [ngbTooltip]="tipContent" triggers="click:blur">
                                <i class="flaticon-questions-circular-button text-primary"></i>
                              </span>
                            </div>
                            <div *ngIf="hasError('repeatPassword', 'confirmedValidator')" data-field="repeatPassword"
                              data-validator="notEmpty" class="fv-help-block d-flex">
                              {{ 'change-password-comp.password-are-not-the-same' | translate }}
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <ng-template #tipContent>
                <ul class="list-group list-group-flush text-left">
                  <p class="mb-1 border-1 text-dark-75">{{ 'change-password-comp.password-should-contain' | translate }}:</p>
                  <li class="list-group-item font-size-sm p-1 border-0 ml-3 text-dark-50">
                    {{ 'change-password-comp.password-length' | translate }}
                  </li>
                  <li class="list-group-item font-size-sm p-1 border-0 ml-3 text-dark-50">
                    {{ 'change-password-comp.uppercase-character' | translate }}
                  </li>
                  <li class="list-group-item font-size-sm p-1 border-0 ml-3 text-dark-50">
                    {{ 'change-password-comp.number' | translate }}
                  </li>
                  <li class="list-group-item font-size-sm p-1 border-0 ml-3 text-dark-50">
                    {{ 'change-password-comp.special-character' | translate }}
                  </li>
                </ul>
              </ng-template>

              <div class="text-right border-top pt-10">
                <app-add-button class="btn" [value]="'button.change' | translate" (handle)="changePassword()">
                </app-add-button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</erp-shared-content>
