.bg-successTransparent {
	background-color: #effff9;
}

.bg-dangerTransparent {
	background-color: #ffe1e1;
}

.autoverified {
	background-color: #b9d9f98a !important;
	color: white !important;
}

.verified {
	background-color: #89e2c4ab !important;
	color: white !important;
}

.active-page {
	border-color: #F64E60 !important;
    background-color: white !important;
    color: #F64E60 !important;
}
