.dropdown-toggle::after {
    display:none;
}

tbody {
	tr {
		td {
			vertical-align: middle !important;
		}
	}
}

.mobile-table-dropdown-view {
	width: auto !important;
	transform: translate(-30px, -24px) !important;
}

.mobile-container-menu {
    display: none !important;
    @media screen and (max-width: 375px) {
        display: block !important;
    }
}

.pc-container-menu {
    display: none !important;
    @media screen and (min-width: 376px) {
        display: block !important;
    }
}