.image-config {
    background-image: url("../bg-4.jpg")
}

/* Login styles */
#kt_login_signin_form .form-group input {
    padding: 12px 15px;
}

#kt_login_signin_submit {
    font-size: 1.2em;
}

@media screen and (max-width: 576px) {
    #kt_login_signin_submit {
        width: 100%;
    }
}
/* End Login styles */
