<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" >
      <img src="../../../assets/logo.png" alt="..." class="img-thumbnail" style="max-height: 40px;">
    </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" >Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <div class="col">
        <div ngbDropdown class="d-inline-block float_left">
          <button type="button" class="btn btn-outline-success" ngbDropdownToggle>Profile</button>
          <div ngbDropdownMenu style="margin-left: -70px;">
            <button ngbDropdownItem [routerLink]="['../']">Login</button>
            <button ngbDropdownItem>Register</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</nav>
<!-- <img src="../../../assets/exam.png" class="img-fluid w-100 " style="background-size: cover;"> -->
<img src="../../../assets/5.jpg" class="img-fluid w-100" style="background-size: cover;" />
<div class="container-fluid py-4" style="background-color: #eff1f3; color: #142b3e; font-family: Georgia, serif;">
    <h1 class="text-center">About us</h1>
    <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sit amet mattis neque.
        Aenean interdum dui in ornare pretium. Praesent vel purus sit amet enim ultrices blandit et quis nisl.
        Phasellus ullamcorper vestibulum gravida. Aenean ut hendrerit magna. Ut accumsan feugiat nunc quis mattis.
        Fusce cursus lacus bibendum erat rutrum, sed pretium nulla maximus. Donec egestas nec nulla sit amet auctor.
    </p>
    <p class="text-justify">Duis quis risus dictum metus gravida venenatis pretium et nisl. Aenean sit amet massa
        lectus. In hac habitasse platea dictumst. Nam vitae turpis eu odio semper convallis vitae sed metus. Aliquam
        tempus laoreet diam eu faucibus. Nulla ultrices pellentesque mattis. Nam rutrum tempor tortor, sed rhoncus
        erat ultricies vel. Sed non porta elit. Nulla egestas feugiat ligula non tempus. Ut rutrum, ligula sit amet
        auctor tincidunt, dui urna pulvinar metus, sed blandit lorem eros nec nulla. Maecenas eu nisi non lorem
        congue pellentesque. Suspendisse lacinia lacus velit.</p>
    <p class="text-justify">In aliquam ut justo id vehicula. Donec euismod lectus at risus tincidunt vulputate.
        Phasellus tincidunt mollis dui a euismod. Morbi venenatis lobortis nulla a dictum. Vestibulum ante ipsum
        primis in faucibus orci luctus et ultrices posuere cubilia curae; Morbi tempor porttitor justo varius
        congue. Aliquam suscipit odio lorem, sed congue tortor mattis vitae. Pellentesque commodo, odio consectetur
        blandit pellentesque, orci dolor tincidunt urna, sit amet consectetur quam lorem ut metus. Fusce a posuere
        purus. Ut euismod dolor bibendum elementum faucibus. In vitae metus eget dui luctus mollis. Integer iaculis
        tempor nisl, sit amet sodales augue. Pellentesque sodales ipsum at quam vestibulum commodo.</p>
</div>

<div class="container-fluid" style="background-color: #eff1f3;">
    <div class="container py-4" style="font-family: Georgia, serif;">
        <h1 class="text-center mb-4">Our coordinates</h1>
        <div class="row p-3">
            <div class="col-sm"
                style="border: 1px solid #212529; border-radius: 9px; padding: 11px; margin-bottom: 7px;">
                <h4 class="text-center">Datele pentru inregistrare</h4>
                <form class="row g-3">
                    <div class="col-12">
                        <label for="inputAddress" class="form-label">Nume</label>
                        <input type="text" class="form-control" id="inputAddress">
                    </div>
                    <div class="col-12">
                        <label for="inputAddress" class="form-label">Prenume</label>
                        <input type="text" class="form-control" id="inputAddress">
                    </div>
                    <div class="col-12">
                        <label for="inputAddress" class="form-label">Patronimic</label>
                        <input type="text" class="form-control" id="inputAddress">
                    </div>
                    <div class="col-6">
                        <label for="inputEmail4" class="form-label">IDNP</label>
                        <input type="email" class="form-control" id="inputEmail4">
                    </div>
                    <div class="col-6">
                        <label for="inputEmail4" class="form-label">Email</label>
                        <input type="email" class="form-control" id="inputEmail4">
                    </div>
                    <div class="col-12">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck">
                            <label class="form-check-label" for="gridCheck">
                                Confirmati procesarea datelor cu caracter personal
                            </label>
                        </div>
                    </div>
                    <div class="col-12 text-center">
                        <button type="submit" class="btn btn-dark text-light px-2 ">Confirmati</button>
                    </div>
                </form>
            </div>
            <div class="col-sm">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2720.028347693455!2d28.836176615791832!3d47.020048579150114!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c97c307d536dd5%3A0x3aa9e3993d05a6c!2z0JzQuNC90LjRgdGC0LXRgNGB0YLQstC-INCy0L3Rg9GC0YDQtdC90L3QuNGFINC00LXQuw!5e0!3m2!1sru!2s!4v1647866771697!5m2!1sru!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-dark navbar-dark sticky-bottom">
    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
        </ul>
        <p class="text-center text-muted">&copy; 2021 Company, Inc</p>
    </footer>
</div>