<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>
  <nav class="topbar navbar navbar-expand-lg navbar-dark bg-dark p-0">
    <div class="container-fluid">
      <div class="d-flex pt-2">
        <img src="../../../assets/logo_2.png" alt="..." class="img-thumbnail" style="max-height: 40px;">
        <h2 style="color: white;" class="ml-3 pt-1 mb-3">
          {{'registration-page.registration-candidate-page' | translate }}</h2>
      </div>
      <div class=" d-flex justify-content-end" id="navbarSupportedContent">
        <div class="topbar">
          <div ngbDropdown #languageDropdown="ngbDropdown" class="dropdown">
            <div class="topbar-item mr-4" data-toggle="dropdown" data-offset="10px,0px" aria-expanded="false">
              <div ngbDropdownToggle id="languageDropdown" class="btn btn-light-primary px-3">
                {{ getLang() }}
              </div>
            </div>
            <div ngbDropdownMenu aria-labelledby="languageDropdown" class="dropdown-menu p-0 m-0 dropdown-menu-left dropdown-menu-anim-up">
              <ul class="navi navi-hover py-3">
                <li class="navi-item">
                  <a href="javascript:;" (click)="useLanguage('ro'); languageDropdown.close()"
                    class="navi-link text-decoration-none">
                    <span class="navi-text">Română</span>
                  </a>
                </li>
                <li class="navi-item">
                  <a href="javascript:;" (click)="useLanguage('en'); languageDropdown.close()"
                    class="navi-link text-decoration-none">
                    <span class="navi-text">English</span>
                  </a>
                </li>
                <li class="navi-item">
                  <a href="javascript:;" (click)="useLanguage('ru'); languageDropdown.close()"
                    class="navi-link text-decoration-none">
                    <span class="navi-text">Русский</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="topbar-item" style="white-space: nowrap; font-size: 14px; font-weight: 500">
            <button type="button" class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;"
              [routerLink]="['../']">{{ 'login.login' | translate }}</button>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <!-- <div class="container-fluid py-4" style="background-color: #eff1f3; color: #142b3e; font-family: Georgia, serif;"> -->
  <!-- <h1 class="text-center mb-10">{{ 'registration-page.about-us' | translate }}</h1> -->
  <!-- <div class="row">
      <div class="col"
        style="padding: 0.25rem; background-color: #fff; border: 1px solid #dee2e6; border-radius: 0.25rem; max-width: 100%; height: auto; margin-left: 4%">
        <div class="text-center">
          <ckeditor *ngIf="canEdit" [editor]="Editor" [(ngModel)]="textValue" (ready)="onReady($event)"></ckeditor>
          <ckeditor *ngIf="!canEdit" [editor]="Editor" [(ngModel)]="textValue" class="disabled-area"></ckeditor>
          <div class="row" style="margin-top: 2%;">
            <div *ngIf="canEdit" class="col">
              <button type="button" class="btn btn-success" (click)="editMessage()">{{'button.edit' |
                translate}}</button>
            </div>
          </div>
          <div class="row" style="margin-top: 2%;">
            <div class="col">
              <button type="button" class="btn btn-primary" (click)="openModal()">{{'button.watch' |
                translate}}</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="text-center">
          <img src="../../../assets/Step-By-Step-photo.png" class="img-fluid img-thumbnail" style="background-size: cover;" />
        </div>
      </div>
    </div> -->
  <!-- </div> -->

  <div class="container-fluid" style="background-color: #eff1f3; height: 100%;">
    <div class="container">
      <div class="row p-3 mt-4">
        <!-- <h1 class="text-center mb-4">{{ 'registration-page.registration' | translate }}</h1> -->
        <div *ngIf="!success" class="col-xl-12 col-lg-12 col-md-12 col-xs-12"
          style="padding: 2.25rem; background-color: #fff; border: 1px solid #dee2e6; border-radius: 0.25rem; max-width: 100%; height: auto;">
          <h2 class="text-center" style="margin-bottom: 2.25rem;">{{
            'registration-page.registration-datas' | translate
            }}</h2>
          <form [formGroup]="userForm">
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="inputPassword4">{{ 'table.lastName' | translate }}</label>
                <input class="form-control form-control-lg form-control-solid" name="lastName" type="text"
                  formControlName="lastName" [placeholder]="'table.lastName' | translate"
                  [ngClass]="{'is-invalid': hasErrors('lastName'), 'is-valid': userForm.get('lastName').valid}" />
                <div *ngIf="hasErrors('lastName')" class="fv-plugins-message-container">
                  <div *ngIf="hasError('lastName', 'required')" data-field="lastName" data-validator="notEmpty"
                    class="fv-help-block">
                    {{ 'user-profile.empty-name' | translate }}</div>
                  <div *ngIf="hasError('lastName', 'pattern')" data-field="lastName" data-validator="notEmpty"
                    class="fv-help-block">
                    {{ 'user-profile.wrong-name' | translate }}</div>
                </div>
              </div>
              <div class="form-group col-md-4">
                <label for="inputEmail4">{{ 'table.name' | translate }}</label>
                <input class="form-control form-control-lg form-control-solid" name="firstName" type="text"
                  formControlName="firstName" [placeholder]="'table.name' | translate"
                  [ngClass]="{'is-invalid': hasErrors('firstName'), 'is-valid': userForm.get('firstName').valid}" />
                <div *ngIf="hasErrors('firstName')" class="fv-plugins-message-container">
                  <div *ngIf="hasError('firstName', 'required')" data-field="firstName" data-validator="notEmpty"
                    class="fv-help-block">
                    {{ 'user-profile.empty-name' | translate }}</div>
                  <div *ngIf="hasError('firstName', 'pattern')" data-field="firstName" data-validator="notEmpty"
                    class="fv-help-block">
                    {{ 'user-profile.wrong-name' | translate }}</div>
                </div>
              </div>
              <div class="form-group col-md-4">
                <label for="inputPassword4">{{ 'table.father-name' | translate }}</label>
                <input class="form-control form-control-lg form-control-solid" name="fatherName" type="text"
                  formControlName="fatherName" [placeholder]="'table.father-name' | translate"
                  [ngClass]="{'is-invalid': hasErrors('fatherName'), 'is-valid': userForm.get('fatherName').valid}" />
                <div *ngIf="hasErrors('fatherName')" class="fv-plugins-message-container">
                  <div *ngIf="hasError('fatherName', 'required')" data-field="fatherName" data-validator="notEmpty"
                    class="fv-help-block">
                    {{ 'user-profile.empty-name' | translate }}</div>
                  <div *ngIf="hasError('fatherName', 'pattern')" data-field="fatherName" data-validator="notEmpty"
                    class="fv-help-block">
                    {{ 'user-profile.wrong-name' | translate }}</div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">{{ 'table.idnp' | translate }}</label>
                <input class="form-control form-control-lg form-control-solid"
                  [placeholder]="'table.idnp' | translate" name="idnp" maxlength="13" minlength="13"
                  onkeypress="return event.charCode >= 48 && event.charCode <= 57" autocomplete="off" type="text"
                  formControlName="idnp"
                  [ngClass]="{'is-invalid': hasErrors('idnp'), 'is-valid': userForm.get('idnp').valid }" />
                <div *ngIf="isIdnpLengthValidator('idnp')" class="invalid-feedback d-block">{{'user-profile.idnp-length'
                  | translate}}</div>
                <div *ngIf="hasErrors('idnp')" class="fv-plugins-message-container">
                  <div *ngIf="hasError('idnp', 'required')" data-field="idnp" data-validator="notEmpty"
                    class="fv-help-block">
                    {{ 'user-profile.idnp-length' | translate }}</div>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">{{ 'user.birthday' | translate }}</label>
                <!-- <app-date [isDisabled]="false" [isReverse]="false" [parent]="userForm" [date]="'birthday'"
                  [placeholder]="dd-mm-yyyy"></app-date> -->
                    <app-date [parent]="userForm" [date]="'birthday'"
                        [placeholder]="'user.birthday' | translate"></app-date>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputPassword4">{{ 'user.phone' | translate }}</label>
                <input class="form-control form-control-lg form-control-solid" name="phoneNumber" type="tel"
                  formControlName="phoneNumber" [placeholder]="'user.phone-full' | translate"
                  [ngClass]="{'is-invalid': hasErrors('phoneNumber'), 'is-valid': userForm.get('phoneNumber').valid}" />
                <div *ngIf="hasErrors('phoneNumber')" class="fv-plugins-message-container">
                  <div *ngIf="hasError('phoneNumber', 'required')" data-field="phoneNumber" data-validator="notEmpty"
                    class="fv-help-block">
                    {{ 'login.phone-is-required' | translate }}</div>
                  <div *ngIf="hasError('phoneNumber', 'phoneNumber')" data-field="phoneNumber" data-validator="notEmpty"
                    class="fv-help-block">
                    {{ 'login.phone-is-required' | translate }}</div>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">{{ 'table.email' | translate }}</label>
                <input class="form-control form-control-lg form-control-solid" name="email" type="email"
                  formControlName="email" [placeholder]="'table.email' | translate"
                  [ngClass]="{'is-invalid': hasErrors('email'), 'is-valid': userForm.get('email').valid}" />
                <div *ngIf="hasErrors('email')" class="fv-plugins-message-container">
                  <div *ngIf="hasError('email', 'required')" data-field="email" data-validator="notEmpty"
                    class="fv-help-block">
                    {{ 'login.email-is-required' | translate }}</div>
                  <div *ngIf="hasError('email', 'pattern')" data-field="email" data-validator="notEmpty"
                    class="fv-help-block">
                    {{ 'login.please-use-valid-email' | translate }}<br>
                    {{ 'login.invalid-mail-yandex-ru' | translate }}!</div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group photo-upload col-md-6">
                <label for="inputAddress">{{ 'table.profile-photo' | translate }}</label>
                <div>
                  <app-upload-avatar (handleFile)="checkFile($event)"></app-upload-avatar>
                </div>
              </div>
            </div>

            <!-- <div class="form-row">
              <div class="col-md-12">
                <label for="inputAddress">{{ 'registration-page.personal-file-msg' | translate }}</label>
                <button [disabled]="isLoadingButton" type="button" (click)="downloadFile()"
                  class="btn btn-success mb-5">
                  <i class="far fa-file-excel" *ngIf="!isLoadingButton"></i>
                  <span class="text-white ml-2 font-weight-bold font-size-lg"
                    *ngIf="!isLoadingButton">{{'registration-page.personal-file' | translate}}</span>
                  <span class="text-white mr-2 font-weight-bold font-size-lg"
                    *ngIf="isLoadingButton">{{'registration-page.is-downloading' | translate}}</span>
                  <div *ngIf="isLoadingButton" class="spinner-border spinner-border-sm text-white" role="status"></div>
                </button>
              </div>
            </div> -->
            <!-- <div class="form-row py-8">
              <div class="col-md-12">
                <ngx-dropzone (change)="onSelect($event)" class="font-weight-light justify-content-center"
                  [expandable]="true" [multiple]="true">
                  <ngx-dropzone-label>
                    <h4>{{ 'registration-page.upload-files' | translate }}</h4>
                  </ngx-dropzone-label>
                  <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files"
                    [removable]="true" (removed)="onRemove(f)" [file]="f">
                    <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                  </ngx-dropzone-image-preview>
                </ngx-dropzone>
              </div>
            </div> -->
            <div class="form-row">
              <div class="col-md-12">
                <div class="d-flex align-items-center gap-2">
                  <input type="checkbox" id="termsAndConditions" (change)="accept = !accept">
                  <label class="m-0" for="termsAndConditions">
                    {{ 'registration-page.accept-condition' | translate }}
                    <span class="p-0 btn btn-link" (click)="openAcceptConditionsModal()">{{ 'registration-page.registration-conditions' | translate }}
                    </span>.
                  </label>
                  </div>
              </div>
            </div>
            <button type="submit" [disabled]="!accept || userForm.invalid" class="btn btn-primary float-right mt-3 mt-sm-3 mt-md-0"
              (click)="verifyEmailCode()">{{ 'button.confirm' | translate }}</button>
          </form>
        </div>
        <div *ngIf="success && !isLoadingMedia" class="col-xl-12 col-lg-12 col-md-12 col-xs-12"
          style="border: 1px solid #212529; border-radius: 9px; padding: 11px; margin-bottom: 7px;">
          <div class="alert alert-dark" role="alert">
            {{ 'registration-page.success-message' | translate }}
          </div>
        </div>
        <div *ngIf="success && isLoadingMedia" class="col-xl-12 col-lg-12 col-md-12 col-xs-12">
          <div class="progress mt-2 h-25px">
            <div [style.width.%]="fileStatus.percent"
              class="progress-bar progress-bar-animated btn-light-warning font-size-h6" role="progressbar"
              aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
              {{ fileStatus.requestType }} {{ fileStatus.percent }}%
            </div>
          </div>
        </div>
        <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-xs-12">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2720.028347693455!2d28.836176615791832!3d47.020048579150114!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c97c307d536dd5%3A0x3aa9e3993d05a6c!2z0JzQuNC90LjRgdGC0LXRgNGB0YLQstC-INCy0L3Rg9GC0YDQtdC90L3QuNGFINC00LXQuw!5e0!3m2!1sru!2s!4v1647866771697!5m2!1sru!2s"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div> -->
      </div>
    </div>
  </div>

  <div class="d-none d-md-block footer container-fluid bg-dark navbar-dark py-2">
    <p class="text-center text-muted mt-1">&copy; {{ year }} Company, Inc</p>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
</body>

</html>
