<div class="container-xxl bg-white p-0">
  <div class="container-xxl position-relative p-0">
    <nav class="navbar navbar-expand-lg navbar-light p-4">
      <div class="row">
        <div class="col d-flex p-0" style="justify-content: center; align-items: center;">
          <img src="../../../assets/logo.png" alt="..." class="img-thumbnail" style="max-height: 40px;">
        </div>
        <div class="col pl-0">
          <h1 class="m-0">{{ 'right-sidebar.registration' | translate }}</h1>
        </div>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="fa fa-bars"></span>
      </button>
      <div class="collapse navbar-collapse" style="justify-content: end;" id="navbarCollapse">
        <a class="btn rounded-pill py-2 px-4 ms-3 d-none d-lg-block float-right" [routerLink]="['../']">{{ 'login.login'
          | translate}}</a>
      </div>
    </nav>
    <div class="container-xxl bg-info hero-header">
      <div class="container px-lg-5" *ngIf="!success">
        <div class="row g-5" style="justify-content: center;">
          <form style="min-width: 1000px;" [formGroup]="userForm">
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="inputEmail4">{{ 'table.name' | translate }}</label>
                <input class="form-control form-control-lg form-control-solid" name="name" type="text"
                  formControlName="name"
                  [ngClass]="{'is-invalid': hasErrors('name'), 'is-valid': userForm.get('name').valid}" />
                <div *ngIf="hasErrors('name')" class="fv-plugins-message-container">
                  <div *ngIf="hasError('name', 'required')" data-field="name" data-validator="notEmpty"
                    class="fv-help-block">
                    {{ 'user-profile.empty-name' | translate }}</div>
                  <div *ngIf="hasError('name', 'pattern')" data-field="name" data-validator="notEmpty"
                    class="fv-help-block">
                    {{ 'user-profile.wrong-name' | translate }}</div>
                </div>
              </div>
              <div class="form-group col-md-4">
                <label for="inputPassword4">{{ 'table.lastName' | translate }}</label>
                <input class="form-control form-control-lg form-control-solid" name="lastName" type="text"
                  formControlName="lastName"
                  [ngClass]="{'is-invalid': hasErrors('lastName'), 'is-valid': userForm.get('lastName').valid}" />
                <div *ngIf="hasErrors('lastName')" class="fv-plugins-message-container">
                  <div *ngIf="hasError('lastName', 'required')" data-field="lastName" data-validator="notEmpty"
                    class="fv-help-block">
                    {{ 'user-profile.empty-name' | translate }}</div>
                  <div *ngIf="hasError('lastName', 'pattern')" data-field="lastName" data-validator="notEmpty"
                    class="fv-help-block">
                    {{ 'user-profile.wrong-name' | translate }}</div>
                </div>
              </div>
              <div class="form-group col-md-4">
                <label for="inputPassword4">{{ 'table.father-name' | translate }}</label>
                <input class="form-control form-control-lg form-control-solid" name="fatherName" type="text"
                  formControlName="fatherName"
                  [ngClass]="{'is-invalid': hasErrors('fatherName'), 'is-valid': userForm.get('fatherName').valid}" />
                <div *ngIf="hasErrors('fatherName')" class="fv-plugins-message-container">
                  <div *ngIf="hasError('fatherName', 'required')" data-field="fatherName" data-validator="notEmpty"
                    class="fv-help-block">
                    {{ 'user-profile.empty-name' | translate }}</div>
                  <div *ngIf="hasError('fatherName', 'pattern')" data-field="fatherName" data-validator="notEmpty"
                    class="fv-help-block">
                    {{ 'user-profile.wrong-name' | translate }}</div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">{{ 'table.idnp' | translate }}</label>
                <input class="form-control form-control-lg form-control-solid" name="idnp" maxlength="13" minlength="13"
                  onkeypress="return event.charCode >= 48 && event.charCode <= 57" autocomplete="off" type="text"
                  formControlName="idnp"
                  [ngClass]="{'is-invalid': hasErrors('idnp'), 'is-valid': userForm.get('idnp').valid }" />
                <div *ngIf="isIdnpLengthValidator('idnp')" class="invalid-feedback d-block">{{'user-profile.idnp-length'
                  | translate}}</div>
                <div *ngIf="hasErrors('idnp')" class="fv-plugins-message-container">
                  <div *ngIf="hasError('idnp', 'required')" data-field="idnp" data-validator="notEmpty"
                    class="fv-help-block">
                    {{ 'user-profile.idnp-length' | translate }}</div>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">{{ 'table.email' | translate }}</label>
                <input class="form-control form-control-lg form-control-solid" name="email" type="email"
                  formControlName="email"
                  [ngClass]="{'is-invalid': hasErrors('email'), 'is-valid': userForm.get('email').valid}" />
                <div *ngIf="hasErrors('email')" class="fv-plugins-message-container">
                  <div *ngIf="hasError('email', 'required')" data-field="email" data-validator="notEmpty"
                    class="fv-help-block">
                    {{ 'login.email-is-required' | translate }}</div>
                  <div *ngIf="hasError('email', 'email')" data-field="email" data-validator="notEmpty"
                    class="fv-help-block">
                    {{ 'login.please-use-valid-email' | translate }}</div>
                </div>
              </div>
            </div>
            <div class="form-group photo-upload">
              <label for="inputAddress">{{ 'table.profile-photo' | translate }}</label>
              <div *ngIf="fileId">
                <app-add-edit-media-file [fileId]="fileId" (handleFile)="checkFile($event)" (disableBtn)="disableBtn">
                </app-add-edit-media-file>
              </div>
              <div *ngIf="!fileId">
                <app-add-edit-media-file (handleFile)="checkFile($event)" (disableBtn)="disableBtn">
                </app-add-edit-media-file>
              </div>
            </div>
            <button type="submit" class="btn btn-primary" (click)="addUser()">{{ 'button.confirm' | translate
              }}</button>
          </form>
        </div>
      </div>
      <div *ngIf="success">
        <div class="alert alert-dark" role="alert">
          You have successfully registered, your password has been sent to your email !!
        </div>
      </div>
    </div>
  </div>
  <div class="container-xxl py-5">
    <div class="container py-5 px-lg-5">
      <div class="row g-5 align-items-center">
        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s"
          style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">

          <h1 class=" mb-4 animated slideInDown">About Us</h1>
          <p class=" pb-3 animated slideInDown">Tempor rebum no at dolore lorem clita rebum rebum ipsum rebum stet dolor
            sed justo kasd. Ut dolor sed magna dolor sea diam. Sit diam sit justo amet ipsum vero ipsum clita lorem</p>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque non eveniet reiciendis voluptatibus
            dicta temporibus tenetur, soluta distinctio culpa beatae nobis, nam magnam. Temporibus quibusdam quasi,
            exercitationem accusamus architecto beatae.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ipsam esse, eveniet saepe suscipit commodi
            quis maxime sapiente dolorum, expedita nostrum enim iure exercitationem repudiandae omnis. Est harum quae
            voluptatem!
          </p>
        </div>
        <div class="col-lg-6">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2720.028347693455!2d28.836176615791832!3d47.020048579150114!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c97c307d536dd5%3A0x3aa9e3993d05a6c!2z0JzQuNC90LjRgdGC0LXRgNGB0YLQstC-INCy0L3Rg9GC0YDQtdC90L3QuNGFINC00LXQuw!5e0!3m2!1sru!2s!4v1647866771697!5m2!1sru!2s"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid bg-info text-light footer wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5 px-lg-5">
      <div class="row g-5">
        <div class="col-md-6 col-lg-3">
          <p class="section-title text-white h5 mb-4">Address<span></span></p>
          <p><i class="fa fa-map-marker-alt me-3 mr-4"></i>Bulevardul Ștefan cel Mare și Sfînt 75,</p>
          <p><i class="fa fa-phone-alt me-3 mr-4"></i>022225333</p>
          <p><i class="fa fa-envelope me-3 mr-4"></i>http://www.mai.gov.md/</p>
          <div class="d-flex pt-2">
            <a class="btn btn-outline-light btn-social mr-4" href=""><i class="fab fa-twitter"></i></a>
            <a class="btn btn-outline-light btn-social mr-4" href=""><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-outline-light btn-social mr-4" href=""><i class="fab fa-instagram"></i></a>
            <a class="btn btn-outline-light btn-social mr-4" href=""><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <p class="section-title text-white h5 mb-4">Quick Link<span></span></p>
          <a class="btn btn-link" href="">About Us</a>
          <a class="btn btn-link" href="">Contact Us</a>
          <a class="btn btn-link" href="">Privacy Policy</a>
          <a class="btn btn-link" href="">Terms & Condition</a>
          <a class="btn btn-link" href="">Career</a>
        </div>
        <div class="col-md-6 col-lg-3">
          <p class="section-title text-white h5 mb-4">Newsletter<span></span></p>
          <p>Lorem ipsum dolor sit amet elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit non vulpu</p>
          <div class="position-relative w-100 mt-3">
            <input class="form-control border-0 rounded-pill w-100 ps-4 pe-5" type="text" placeholder="Your Email"
              style="height: 48px;">
            <button type="button" class="btn shadow-none position-absolute top-0 end-0 mt-1 me-2"><i
                class="fa fa-paper-plane text-primary fs-4"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>