.dropdown-toggle::after {
    display:none;
}

tbody {
	tr {
		td {
			vertical-align: middle !important;
		}
	}
}

.faq-header-title {
	cursor: pointer;
	max-height: 72px;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
}