::ng-deep .accordion {
  .card {
    border-radius: 5px;

    .card-header {
      background: white;
      border-bottom: 1px solid #e2e2e2;

      button {
        height: auto !important;
        text-decoration: none;
        label {
          cursor: pointer;
          color: #3f4254;
          margin-bottom: 0px;
        }
      }
    }
  }
}
