.shadow-input {
  position: absolute;
  bottom: -3px;
  width: 0px;
  height: 0px;
  border: none;
}

.example-additional-selection {
  width: 100%;
  background-color: #F3F6F9;
  border-color: #F3F6F9;
  color: #3F4254;
  border-radius: 15px;
}

::ng-deep .mat-form-field-flex {
  display: none;
}

.shadow-input {
  position: absolute;
  width: 0px;
  height: 0px;
  border: none;
}
