<app-page-title [title]="'dashboard.title' | translate" [subTitle]="'dashboard.subtitle' | translate">
</app-page-title>
 
<erp-shared-content>
    <div class="col-xl-12 col-12">
        <div class="card card-custom card-stretch gutter-b">
            <div class="card-header border-0 pt-5">
                <h3 class="card-title font-weight-bolder">{{ 'graph-evaluations.name' | translate }}</h3>
            </div>
            <div class="card-body d-flex flex-column">
                <apx-chart
                    [series]="evaluationsChartOptions.series"
                    [chart]="evaluationsChartOptions.chart"
                    [xaxis]="evaluationsChartOptions.xaxis"
                    [stroke]="evaluationsChartOptions.stroke"
                    [tooltip]="evaluationsChartOptions.tooltip"
                    [dataLabels]="evaluationsChartOptions.dataLabels"
                ></apx-chart>
                <div class="pt-5">
                    <p class="text-center font-weight-normal font-size-lg pb-7">
                        {{'graph-evaluations.note' | translate}}</p>
                </div>
            </div>
        </div>
    </div>
</erp-shared-content>