<app-loading-spinner *ngIf="isLoading" [contentHeight]="'80vh'" [height]="'5rem'" [width]="'5rem'"
[colorClass]="'text-primary'">
</app-loading-spinner>

<div *ngIf="!isLoading" class="content d-flex flex-column flex-column-fluid" id="kt_content">
  <div class="subheader subheader-transparent py-5" id="kt_subheader">
    <div class="container d-flex align-items-center">
      <h3 class="subheader-title text-dark font-weight-bolder mb-0">
        {{ 'pages.roles.management' | translate }}
      </h3>
      <div class="subheader-separator subheader-separator-ver mx-3 bg-gray-200"></div>
      <h4 class="text-muted mb-0" *ngIf="roleId">
        {{ 'button.edit-role' | translate }}
      </h4>
      <h4 class="text-muted mb-0" *ngIf="!roleId">
        {{'button.add-role' | translate}}
      </h4>
    </div>
  </div>
  <div class="d-flex flex-column-fluid">
    <div class="container">
      <div class="card card-custom gutter-b">
        <div class="card-body p-0">
          <div class="wizard wizard-1" id="kt_contact_add" data-wizard-state="step-first" data-wizard-clickable="true">
            <div class="row justify-content-center my-10 px-8 my-lg-15 px-lg-10">
              <div class="col-xl-12 col-xxl-7">
                <form class="form" id="kt_contact_add_form" [formGroup]="roleForm">
                  <div class="pb-5" data-wizard-type="step-content" data-wizard-state="current">
                    <h3 class="mb-10 font-weight-bold text-dark">{{ 'pages.roles.details' | translate }}:</h3>
                    <div class="row">
                      <div class="col-xl-12">
                        <div class="form-group row">
                          <label class="col-xl-3 col-lg-3 col-form-label">{{ 'pages.roles.name' | translate }}:</label>
                          <div class="col-lg-9 col-xl-9">
                            <input class="form-control form-control-lg form-control-solid" name="name" type="text"
                              [ngClass]="{'is-invalid': hasErrors('name'), 'is-valid': roleForm.get('name').valid}" 
                              formControlName="name"/>
                            <div *ngIf="hasErrors('name')" class="fv-plugins-message-container">
                              <div *ngIf="hasError('name', 'required')" data-field="name" data-validator="notEmpty"
                                class="fv-help-block">
                                {{ 'user-profile.empty-name' | translate }}</div>
                              <div *ngIf="hasError('name', 'pattern')" data-field="name" data-validator="notEmpty"
                                class="fv-help-block">
                                {{ 'user-profile.wrong-name' | translate }}</div>
                            </div>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-xl-3 col-lg-3 col-form-label">{{ 'pages.roles.use-as-default' | translate }}:</label>
                          <div class="col-lg-9 col-xl-9">
                            <input class="form-control form-control-lg form-control-solid" style="width: 25px;"
                              name="isAssignByDefault" type="checkbox" formControlName="isAssignByDefault" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="text-right border-top pt-10">
                    <app-button class="btn mr-2" [value]="'button.back' | translate" (click)="back()"></app-button>
                    <app-add-button class="btn" [value]="'button.confirm' | translate" (handle)="submit()">
                    </app-add-button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
