.mobile-container-menu {
    display: none !important;
    @media screen and (max-width: 487px) {
        display: block !important;
    }
}

.pc-container-menu {
    display: none !important;
    @media screen and (min-width: 488px) {
        display: block !important;
    }
}