<div class="card card-custom card-stretch">
    <div class="card-header py-3">
        <div class="card-title align-items-start flex-column">
            <h3 class="card-label font-weight-bolder">{{'personal.list-documents-held' | translate}}</h3>
            <span class="text-muted font-weight-bold font-size-sm mt-1">{{'personal.view-account-details' | translate}}</span>
        </div>
        <div class="card-toolbar justify-content-between row w-250px">
            <select class="form-control mr-2 w-150px" [(ngModel)]="selectedType" (ngModelChange)="retrieveDocuments()">
                <option value="1">{{'document-fileType.1' | translate}}</option>
                <option value="3">{{'document-fileType.3' | translate}}</option>
                <option value="4">{{'document-fileType.4' | translate}}</option>
                <option value="5">{{'document-fileType.5' | translate}}</option>
            </select>
            <span title="View mode" class="svg-icon svg-icon-success svg-icon-3x">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <rect x="0" y="0" width="24" height="24"/>
                      <path d="M3,12 C3,12 5.45454545,6 12,6 C16.9090909,6 21,12 21,12 C21,12 16.9090909,18 12,18 C5.45454545,18 3,12 3,12 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
                      <path d="M12,15 C10.3431458,15 9,13.6568542 9,12 C9,10.3431458 10.3431458,9 12,9 C13.6568542,9 15,10.3431458 15,12 C15,13.6568542 13.6568542,15 12,15 Z" fill="#000000" opacity="0.3"/>
                  </g>
                </svg>
              </span>
        </div>
    </div>
    <div class="card-body">
        <app-loading-spinner *ngIf="isLoading" [contentHeight]="'20rem'" [height]="'5rem'" [width]="'5rem'"
            [colorClass]="'text-primary'">
        </app-loading-spinner>
        <div *ngIf="!isLoading && !isNotFound"
            class="datatable datatable-bordered datatable-head-custom datatable-default datatable-primary datatable-loaded"
            id="kt_datatable" [ngClass]="{'datatable-error': !documents || !documents.length}">
            <table class="datatable-table" style="display: block;">
                <thead class="datatable-head">
                    <tr class="datatable-row" style="left: 0px;">
                        <th class="datatable-cell datatable-cell-sort" style="width: 5%;">
                            <span>
                                #
                            </span>
                        </th>
                        <th class="datatable-cell datatable-cell-sort" style="width: 35%;">
                            <span>
                                {{'entity.document.name' | translate}}
                            </span>
                        </th>
                        <th class="datatable-cell datatable-cell-sort" style="width: 10%;">
                            &nbsp;
                        </th>
                    </tr>
                </thead>
                <tbody class="datatable-body">
                    <tr *ngFor="let item of documents; let i = index; let even = even" data-row="0" class="datatable-row"
                        [ngClass]="{'datatable-row-even': event}" style="left: 0px;">
                        <td class="datatable-cell" style="width: 10%;">
                            <span class="svg-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                      <polygon points="0 0 24 0 24 24 0 24"/>
                                      <path d="M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
                                      <rect fill="#000000" x="6" y="11" width="9" height="2" rx="1"/>
                                      <rect fill="#000000" x="6" y="15" width="5" height="2" rx="1"/>
                                  </g>
                                </svg>
                              </span>
                        </td>
                        <td class="datatable-cell" style="width: 35%;">
                            <span>
                                {{item.name || '-'}}
                            </span>
                        </td>
                        <td data-autohide-disabled="false" aria-label="null" class="datatable-cell d-flex justify-content-end">
                            <span style="overflow: visible;">
                                <a [title]="'button.download' | translate" (click)="downloadFile(item)" class="btn btn-sm btn-default btn-text-primary btn-hover-primary btn-icon mr-2"> 
                                  <span class="svg-icon svg-icon-md svg-icon-primary">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <polygon points="0 0 24 0 24 24 0 24"/>
                                                <path d="M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
                                                <path d="M14.8875071,11.8306874 L12.9310336,11.8306874 L12.9310336,9.82301606 C12.9310336,9.54687369 12.707176,9.32301606 12.4310336,9.32301606 L11.4077349,9.32301606 C11.1315925,9.32301606 10.9077349,9.54687369 10.9077349,9.82301606 L10.9077349,11.8306874 L8.9512614,11.8306874 C8.67511903,11.8306874 8.4512614,12.054545 8.4512614,12.3306874 C8.4512614,12.448999 8.49321518,12.5634776 8.56966458,12.6537723 L11.5377874,16.1594334 C11.7162223,16.3701835 12.0317191,16.3963802 12.2424692,16.2179453 C12.2635563,16.2000915 12.2831273,16.1805206 12.3009811,16.1594334 L15.2691039,12.6537723 C15.4475388,12.4430222 15.4213421,12.1275254 15.210592,11.9490905 C15.1202973,11.8726411 15.0058187,11.8306874 14.8875071,11.8306874 Z" fill="#000000"/>
                                            </g>
                                        </svg>
                                    </span> 
                                </a>
                                <a [title]="'word.sign' | translate" href="javascript:;" appSign *permission="'P02002401'" [id]="item.id" [name]="item.name" class="btn btn-sm btn-default btn-text-primary btn-hover-primary btn-icon mr-2"> 
                                    <span class="svg-icon svg-icon-md svg-icon-primary">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24"/>
                                            <path d="M4.875,20.75 C4.63541667,20.75 4.39583333,20.6541667 4.20416667,20.4625 L2.2875,18.5458333 C1.90416667,18.1625 1.90416667,17.5875 2.2875,17.2041667 C2.67083333,16.8208333 3.29375,16.8208333 3.62916667,17.2041667 L4.875,18.45 L8.0375,15.2875 C8.42083333,14.9041667 8.99583333,14.9041667 9.37916667,15.2875 C9.7625,15.6708333 9.7625,16.2458333 9.37916667,16.6291667 L5.54583333,20.4625 C5.35416667,20.6541667 5.11458333,20.75 4.875,20.75 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
                                            <path d="M2,11.8650466 L2,6 C2,4.34314575 3.34314575,3 5,3 L19,3 C20.6568542,3 22,4.34314575 22,6 L22,15 C22,15.0032706 21.9999948,15.0065399 21.9999843,15.009808 L22.0249378,15 L22.0249378,19.5857864 C22.0249378,20.1380712 21.5772226,20.5857864 21.0249378,20.5857864 C20.7597213,20.5857864 20.5053674,20.4804296 20.317831,20.2928932 L18.0249378,18 L12.9835977,18 C12.7263047,14.0909841 9.47412135,11 5.5,11 C4.23590829,11 3.04485894,11.3127315 2,11.8650466 Z M6,7 C5.44771525,7 5,7.44771525 5,8 C5,8.55228475 5.44771525,9 6,9 L15,9 C15.5522847,9 16,8.55228475 16,8 C16,7.44771525 15.5522847,7 15,7 L6,7 Z" fill="#000000"/>
                                        </g>
                                    </svg></span>
                                </a>
                            </span>
                        </td>
                    </tr>
                    <span *ngIf="!documents || !documents.length" class="datatable-error">
                        {{'word.there-are-no-records-at-the-moment' | translate}}
                        <div class="text-center">
                            <span class="svg-icon svg-icon-primary svg-icon-10x">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <rect x="0" y="0" width="24" height="24"/>
                                    <path d="M11.1669899,4.49941818 L2.82535718,19.5143571 C2.557144,19.9971408 2.7310878,20.6059441 3.21387153,20.8741573 C3.36242953,20.9566895 3.52957021,21 3.69951446,21 L21.2169432,21 C21.7692279,21 22.2169432,20.5522847 22.2169432,20 C22.2169432,19.8159952 22.1661743,19.6355579 22.070225,19.47855 L12.894429,4.4636111 C12.6064401,3.99235656 11.9909517,3.84379039 11.5196972,4.13177928 C11.3723594,4.22181902 11.2508468,4.34847583 11.1669899,4.49941818 Z" fill="#000000" opacity="0.3"/>
                                    <rect fill="#000000" x="11" y="9" width="2" height="7" rx="1"/>
                                    <rect fill="#000000" x="11" y="17" width="2" height="2" rx="1"/>
                                </g>
                            </svg>
                            </span>
                          </div>
                    </span>
                </tbody>
            </table>
            <div pagination [page]="pagedSummary.currentPage" [total]="pagedSummary.totalPages"
                class="datatable-pager datatable-paging-loaded" (sizeChange)="retrieveDocuments({ page: pagedSummary.currentPage, itemsPerPage: $event })" (pageChange)="retrieveDocuments({ page: $event })">
            </div>
        </div>
        <app-documents-not-found [selectedType]="selectedType" *ngIf="isNotFound && !isLoading"></app-documents-not-found>
    </div>
</div>
