<div class="input-group">
    <input class="form-control form-control-solid" 
          [placeholder]="placeholder" 
          container="body" 
          ngbDatepicker
          [minDate]="{year: 1920, month: 1, day: 1}"
          #d="ngbDatepicker"
          [ngModel]="dateModel"
          [ngClass]="{'is-invalid': isPatternError}"
          (ngModelChange)="handleChange($event)">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
        <i class="flaticon-calendar-1"></i>
      </button>
    </div>
    <div *ngIf="isPatternError" class="invalid-feedback">
      Please provide a valid format ZZ.LL.AAAA
    </div>
  </div>
