<div class="card card-custom">
    <div class="card-header py-3">
        <div class="card-title align-items-start flex-column">
        <h3 class="card-label font-weight-bolder text-dark">{{'personal.ranks' | translate}}</h3>
        <span class="text-muted font-weight-bold font-size-sm mt-1">{{'personal.change-your-account-details' | translate}}</span>
    </div>
    <div class="card-toolbar">
        <button class="btn btn-success" matStepperNext *ngIf="militaryObligationData != null"
            (click)="addRegistrationFluxStep()">{{'stepper.button-next' | translate}}</button>
    </div>
</div>
    <form *ngIf="militaryObligationForm" class="col" [formGroup]="militaryObligationForm">
        <app-loading-spinner *ngIf="isLoadingMilitaryObligation" contentHeight="20rem" height="5rem" width="5rem"
            colorClass="text-primary"></app-loading-spinner>
        <div *ngIf="!isLoadingMilitaryObligation">
            <div formArrayName="obligations">
                <div class="d-sm-none d-flex flex-column gap-4">
                    <div class="row" [ngClass]="{'more': militaryObligationForm.controls.obligations.controls.length > 1  &&
                        (militaryObligationForm.controls.obligations.controls.length - 1) !== i}"
                        *ngFor="let obligation of militaryObligationForm.controls.obligations.controls; let i = index"
                        [formGroupName]="i">
                            <div class="col d-flex flex-column gap-4">
                                <div class="row">
                                    <div class="col"><p class="font-weight-bolder">{{'table.number' | translate}}</p></div>
                                    <div class="col"><p class="font-weight-bolder text-center">{{i + 1}}</p></div>
                                </div>
                                <div class="row required">
                                    <div class="col"><p class="font-weight-bolder">{{ 'military-obligation.name' | translate}}</p></div>
                                    <div class="col-12">
                                        <select class="form-control" 
                                            formControlName="militaryObligationType"
                                            [ngClass]="inputValidator(obligation, 'militaryObligationType')"
                                            (change)="studyTypeFieldsValidator(i)">
                                            <option value="null">{{'module-access.select' | translate}}</option>
                                            <option *ngFor="let item of militaryObligationTypeEnum" [value]="item.value">
                                                {{ 'militaryObligationType.' + item.label | translate }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row required" *ngIf="enableNameAndAdressField(obligation.value)">
                                    <div class="col"><p class="font-weight-bolder">{{'military-obligation.institution-name'  | translate}}</p></div>
                                    <div class="col-12">
                                        <input formControlName="institutionName" autocomplete="off"
                                            class="form-control form-control-solid" type="text"
                                            [placeholder]="'military-obligation.institution-name' | translate"
                                            [ngClass]="inputValidator(obligation, 'institutionName')" />
                                        <div *ngIf="isInvalidPattern(obligation, 'institutionName')"
                                            class="invalid-feedback d-block">
                                            {{'validations.only-letters-and-dash' | translate}}</div>
                                    </div>
                                </div>
                                <div class="row required" *ngIf="enableNameAndAdressField(obligation.value)">
                                    <div class="col"><p class="font-weight-bolder">{{'military-obligation.institution-adress'  | translate}}</p></div>
                                    <div class="col-12">
                                        <input formControlName="institutionAdress" autocomplete="off"
                                            class="form-control form-control-solid" type="text"
                                            [placeholder]="'military-obligation.institution-adress' | translate"
                                            [ngClass]="inputValidator(obligation, 'institutionAdress')" />
                                        <div *ngIf="isInvalidPattern(obligation, 'institutionAdress')"
                                            class="invalid-feedback d-block">
                                            {{'validations.only-letters-numbers-and-dash' | translate}}</div>
                                    </div>
                                </div>
                                <div class="row required" *ngIf="enableYearsField(obligation.value)">
                                    <div class="col"><p class="font-weight-bolder">{{'military-obligation.year-of-mobilization' | translate}}</p></div>
                                    <div class="col-12">
                                        <app-stepper-date-time [parent]="obligation" [date]="'mobilizationYear'"
                                        [placeholder]="'military-obligation.year-of-mobilization' | translate"></app-stepper-date-time>
                                    </div>
                                </div>
                                <div class="row required" *ngIf="enableYearsField(obligation.value)">
                                    <div class="col"><p class="font-weight-bolder">{{'military-obligation.year-of-withdrawal' | translate}}</p></div>
                                    <div class="col-12">
                                        <app-stepper-date-time [parent]="obligation" [date]="'withdrawalYear'"
                                        [placeholder]="'military-obligation.year-of-withdrawal' | translate"></app-stepper-date-time>
                                    </div>
                                </div>
                                <div class="row required" *ngIf="enablePeriodField(obligation.value)">
                                    <div class="col">
                                        <p class="font-weight-bolder">{{'military-obligation.period' | translate}}</p>
                                        <div class="d-none d-md-none d-lg-block">
                                            <div class="row">
                                                <div class="col-6">
                                                    <app-stepper-date-time [parent]="obligation" [date]="'startObligationPeriod'"
                                                    [placeholder]="'military-obligation.start-obligation-period' | translate"></app-stepper-date-time>
                                                </div>
                                                <div class="col-6">
                                                    <app-stepper-date-time [parent]="obligation" [date]="'endObligationPeriod'"
                                                    [placeholder]="'military-obligation.end-obligation-period' | translate"></app-stepper-date-time>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-block d-md-block d-lg-none">
                                            <div class="row">
                                                <div class="col-12">
                                                    <app-stepper-date-time [parent]="obligation" [date]="'startObligationPeriod'"
                                                    [placeholder]="'military-obligation.start-obligation-period' | translate"></app-stepper-date-time>
                                                </div>
                                                <div class="col-12 mt-2">
                                                    <app-stepper-date-time [parent]="obligation" [date]="'endObligationPeriod'"
                                                    [placeholder]="'military-obligation.end-obligation-period' | translate"></app-stepper-date-time>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row required" *ngIf="enableDegreeAndMilitarySpecialtyAndEfectiveField(obligation.value)">
                                    <div class="col"><p class="font-weight-bolder">{{'military-obligation.efectiv' | translate}}</p></div>
                                    <div class="col-12">
                                        <input formControlName="efectiv" autocomplete="off"
                                            class="form-control form-control-solid" type="text"
                                            [placeholder]="'military-obligation.efectiv' | translate"
                                            [ngClass]="inputValidator(obligation, 'efectiv')" />
                                        <div *ngIf="isInvalidPattern(obligation, 'efectiv')"
                                            class="invalid-feedback d-block">
                                            {{'validations.only-letters-numbers-and-dash' | translate}}</div>
                                    </div>
                                </div>
                                <div class="row required" *ngIf="enableDegreeAndMilitarySpecialtyAndEfectiveField(obligation.value)">
                                    <div class="col"><p class="font-weight-bolder">{{'military-obligation.military-specialty' | translate}}</p></div>
                                    <div class="col-12">
                                        <input formControlName="militarySpecialty" autocomplete="off"
                                            class="form-control form-control-solid" type="text"
                                            [placeholder]="'military-obligation.military-specialty' | translate"
                                            [ngClass]="inputValidator(obligation, 'militarySpecialty')"  />
                                        <div *ngIf="isInvalidPattern(obligation, 'militarySpecialty')"
                                            class="invalid-feedback d-block">
                                            {{'validations.only-letters-numbers-and-dash' | translate}}</div>
                                    </div>
                                </div>
                                <div class="row required" *ngIf="enableDegreeAndMilitarySpecialtyAndEfectiveField(obligation.value)">
                                    <div class="col"><p class="font-weight-bolder">{{'military-obligation.degree' | translate}}</p></div>
                                    <div class="col-12">
                                        <input formControlName="degree" autocomplete="off"
                                        class="form-control form-control-solid" type="text"
                                        [placeholder]="'military-obligation.degree' | translate"
                                        [ngClass]="inputValidator(obligation, 'degree')" />
                                        <div *ngIf="isInvalidPattern(obligation, 'degree')"
                                            class="invalid-feedback d-block">
                                            {{'validations.only-letters-numbers-and-dash' | translate}}</div>
                                    </div>
                                </div>
                                <div class="row required" *ngIf="enableMilitaryBookletField(obligation.value)">
                                    <div class="col">
                                        <p class="font-weight-bolder" *ngIf="!enableMilitaryBookletNameField(obligation.value)">{{'military-obligation.military-booklet' | translate}}</p>
                                        <p class="font-weight-bolder" *ngIf="enableMilitaryBookletNameField(obligation.value)">{{'military-obligation.recruitment-booklet' | translate}}</p>
                                    </div>
                                </div>
                                <div class="row required" *ngIf="enableMilitaryBookletField(obligation.value)">
                                    <div class="col"><p>{{'military-obligation.series' | translate}}</p></div>
                                    <div class="col-12">
                                        <input formControlName="militaryBookletSeries" autocomplete="off"
                                            class="form-control form-control-solid" type="text"
                                            [placeholder]="'military-obligation.series' | translate"
                                            [ngClass]="inputValidator(obligation, 'militaryBookletSeries')"/>
                                            <div *ngIf="isInvalidPattern(obligation, 'militaryBookletSeries')"
                                                class="invalid-feedback d-block">
                                                {{'validations.only-letters-numbers-and-dash' | translate}}</div>
                                    </div>
                                </div>
                                <div class="row required" *ngIf="enableMilitaryBookletField(obligation.value)">
                                    <div class="col"><p>{{'military-obligation.number' | translate}}</p></div>
                                    <div class="col-12">
                                        <input formControlName="militaryBookletNumber" autocomplete="off"
                                            class="form-control form-control-solid" type="number"
                                            [placeholder]="'military-obligation.number' | translate"
                                            [ngClass]="inputValidator(obligation, 'militaryBookletNumber')" />
                                            <div *ngIf="isInvalidPattern(obligation, 'militaryBookletNumber')"
                                                class="invalid-feedback d-block">
                                                {{'validations.only-numbers' | translate}}</div>
                                    </div>
                                </div>
                                <div class="row required" *ngIf="enableMilitaryBookletField(obligation.value)">
                                    <div class="col"><p>{{'military-obligation.relase-day' | translate}}</p></div>
                                    <div class="col-12">
                                        <app-stepper-date-time [parent]="obligation" [date]="'militaryBookletReleaseDay'"
                                            [placeholder]="'military-obligation.relase-day' | translate"></app-stepper-date-time>
                                    </div>
                                </div>
                                <div class="row pt-4" *ngIf="i > 0">
                                    <div class="col">
                                        <button class="btn btn-icon float-right" (click)="removeMilitaryObligation(i)">
                                            <span class="font-size-h2">&times;</span>
                                        </button>
                                    </div>
                                </div>
                                <div *ngIf="militaryObligationForm.controls.obligations.controls.length > 1" class="separator separator-dashed"></div>
                            </div>
                    </div>
                </div>
                <div class="table-responsive d-sm-block d-none">
                    <table class="table table-bordered border-dark mb-10" [ngClass]="{'more': militaryObligationForm.controls.obligations.controls.length > 1  &&
                        (militaryObligationForm.controls.obligations.controls.length - 1) !== i}"
                        *ngFor="let obligation of militaryObligationForm.controls.obligations.controls; let i = index"
                        [formGroupName]="i">
                        <tbody>
                            <tr>
                                <th>{{ 'table.number' | translate}}</th>
                                <td>
                                    {{i + 1}}
                                </td>
                            </tr>
                            <tr>
                                <th>{{ 'military-obligation.name' | translate}}</th>
                                <td>
                                    <select class="form-control" 
                                        formControlName="militaryObligationType" 
                                        [ngClass]="inputValidator(obligation, 'militaryObligationType')"
                                        (change)="studyTypeFieldsValidator(i)">
                                        <option value="null">{{'module-access.select' | translate}}</option>
                                        <option *ngFor="let item of militaryObligationTypeEnum" [value]="item.value">
                                            {{ 'militaryObligationType.' + item.label | translate }}
                                        </option>
                                    </select>
                                </td>
                            </tr>
                            <tr *ngIf="enableNameAndAdressField(obligation.value)">
                                <th>{{'military-obligation.institution-name' | translate}}</th>
                                <td>
                                    <input formControlName="institutionName" autocomplete="off"
                                        class="form-control form-control-solid" type="text"
                                        [placeholder]="'military-obligation.institution-name' | translate"
                                        [ngClass]="inputValidator(obligation, 'institutionName')" />
                                        <div *ngIf="isInvalidPattern(obligation, 'institutionName')"
                                            class="invalid-feedback d-block">
                                            {{'validations.only-letters-and-dash' | translate}}</div>
                                </td>
                            </tr>
                            <tr *ngIf="enableNameAndAdressField(obligation.value)">
                                <th>{{'military-obligation.institution-adress' | translate}}</th>
                                <td>
                                    <input formControlName="institutionAdress" autocomplete="off"
                                        class="form-control form-control-solid" type="text"
                                        [placeholder]="'military-obligation.institution-adress' | translate"
                                        [ngClass]="inputValidator(obligation, 'institutionAdress')" />
                                        <div *ngIf="isInvalidPattern(obligation, 'institutionAdress')"
                                            class="invalid-feedback d-block">
                                            {{'validations.only-letters-numbers-and-dash' | translate}}</div>
                                </td>
                            </tr>
                            <tr *ngIf="enableYearsField(obligation.value)">
                                <th>{{'military-obligation.year-of-mobilization' | translate}}</th>
                                <td>
                                    <app-stepper-date-time [parent]="obligation" [date]="'mobilizationYear'"
                                        [placeholder]="'military-obligation.year-of-mobilization' | translate"></app-stepper-date-time>
                                </td>
                            </tr>
                            <tr *ngIf="enableYearsField(obligation.value)">
                                <th>{{'military-obligation.year-of-withdrawal' | translate}}</th>
                                <td>
                                    <app-stepper-date-time [parent]="obligation" [date]="'withdrawalYear'"
                                        [placeholder]="'military-obligation.year-of-withdrawal' | translate"></app-stepper-date-time>
                                </td>
                            </tr>
                            <tr *ngIf="enablePeriodField(obligation.value)">
                                <th>{{'military-obligation.period' | translate}}</th>
                                <td>
                                    <div class="d-none d-md-none d-lg-block">
                                        <div class="row">
                                            <div class="col">
                                                <app-stepper-date-time [parent]="obligation" [date]="'startObligationPeriod'"
                                                [placeholder]="'military-obligation.start-obligation-period' | translate"></app-stepper-date-time>
                                            </div>
                                            <div class="col">
                                                <app-stepper-date-time [parent]="obligation" [date]="'endObligationPeriod'"
                                            [placeholder]="'military-obligation.end-obligation-period' | translate"></app-stepper-date-time>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-block d-md-block d-lg-none">
                                        <div class="row">
                                            <div class="col-9">
                                                <app-stepper-date-time [parent]="obligation" [date]="'startObligationPeriod'"
                                                [placeholder]="'military-obligation.start-obligation-period' | translate"></app-stepper-date-time>
                                            </div>
                                            <div class="col-9 mt-2">
                                                <app-stepper-date-time [parent]="obligation" [date]="'endObligationPeriod'"
                                            [placeholder]="'military-obligation.end-obligation-period' | translate"></app-stepper-date-time>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr *ngIf="enableDegreeAndMilitarySpecialtyAndEfectiveField(obligation.value)">
                                <th>{{'military-obligation.efectiv' | translate}}</th>
                                <td>
                                    <input formControlName="efectiv" autocomplete="off"
                                        class="form-control form-control-solid" type="text"
                                        [placeholder]="'military-obligation.efectiv' | translate"
                                        [ngClass]="inputValidator(obligation, 'efectiv')" />
                                        <div *ngIf="isInvalidPattern(obligation, 'efectiv')"
                                            class="invalid-feedback d-block">
                                            {{'validations.only-letters-numbers-and-dash' | translate}}</div>
                                </td>
                            </tr>
                            <tr *ngIf="enableDegreeAndMilitarySpecialtyAndEfectiveField(obligation.value)">
                                <th>{{'military-obligation.military-specialty' | translate}}</th>
                                <td>
                                    <input formControlName="militarySpecialty" autocomplete="off"
                                        class="form-control form-control-solid" type="text"
                                        [placeholder]="'military-obligation.military-specialty' | translate"
                                        [ngClass]="inputValidator(obligation, 'militarySpecialty')"  />
                                        <div *ngIf="isInvalidPattern(obligation, 'militarySpecialty')"
                                            class="invalid-feedback d-block">
                                            {{'validations.only-letters-numbers-and-dash' | translate}}</div>
                                </td>
                            </tr>
                            <tr *ngIf="enableDegreeAndMilitarySpecialtyAndEfectiveField(obligation.value)">
                                <th>{{'military-obligation.degree' | translate}}</th>
                                <td>
                                    <input formControlName="degree" autocomplete="off"
                                        class="form-control form-control-solid" type="text"
                                        [placeholder]="'military-obligation.degree' | translate"
                                        [ngClass]="inputValidator(obligation, 'degree')" />
                                        <div *ngIf="isInvalidPattern(obligation, 'degree')"
                                            class="invalid-feedback d-block">
                                            {{'validations.only-letters-numbers-and-dash' | translate}}</div>
                                </td>
                            </tr>
                            <tr class="d-lg-table-row d-none" *ngIf="enableMilitaryBookletField(obligation.value)">
                                <th rowspan="4" *ngIf="!enableMilitaryBookletNameField(obligation.value)">{{'military-obligation.military-booklet' | translate}}</th>
                                <th rowspan="4" *ngIf="enableMilitaryBookletNameField(obligation.value)">{{'military-obligation.recruitment-booklet' | translate}}</th>
                                <td>
                                    <div class="row">
                                        <div class="col-2 text-center p-3">
                                            {{'military-obligation.series' | translate}}
                                        </div>
                                        <div class="col-10">
                                            <input formControlName="militaryBookletSeries" autocomplete="off"
                                                class="form-control form-control-solid" type="text"
                                                [placeholder]="'military-obligation.series' | translate"
                                                [ngClass]="inputValidator(obligation, 'militaryBookletSeries')"/>
                                                <div *ngIf="isInvalidPattern(obligation, 'militaryBookletSeries')"
                                                        class="invalid-feedback d-block">
                                                        {{'validations.only-letters-numbers-and-dash' | translate}}</div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="d-lg-none d-table-row" *ngIf="enableMilitaryBookletField(obligation.value)">
                                <th colspan="2" *ngIf="!enableMilitaryBookletNameField(obligation.value)">{{'military-obligation.military-booklet' | translate}}</th>
                                <th colspan="2" *ngIf="enableMilitaryBookletNameField(obligation.value)">{{'military-obligation.recruitment-booklet' | translate}}</th>
                            </tr>
                            <tr class="d-lg-none d-table-row" *ngIf="enableMilitaryBookletField(obligation.value)">
                                <td colspan="2">
                                    <div class="row">
                                        <div class="col-sm col-12 text-center p-3">
                                            {{'military-obligation.series' | translate}}
                                        </div>
                                        <div class="col-sm col-12">
                                            <input formControlName="militaryBookletSeries" autocomplete="off"
                                                class="form-control form-control-solid" type="text"
                                                [placeholder]="'military-obligation.series' | translate"
                                                [ngClass]="inputValidator(obligation, 'militaryBookletSeries')" />
                                                <div *ngIf="isInvalidPattern(obligation, 'militaryBookletSeries')"
                                                        class="invalid-feedback d-block">
                                                        {{'validations.only-letters-numbers-and-dash' | translate}}</div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="d-lg-table-row d-none" *ngIf="enableMilitaryBookletField(obligation.value)">
                                <td>
                                    <div class="row">
                                        <div class="col-2 text-center p-3">
                                            {{'military-obligation.number' | translate}}
                                        </div>
                                        <div class="col-10">
                                            <input formControlName="militaryBookletNumber" autocomplete="off"
                                                class="form-control form-control-solid" type="number"
                                                [placeholder]="'military-obligation.number' | translate"
                                                [ngClass]="inputValidator(obligation, 'militaryBookletNumber')" />
                                                <div *ngIf="isInvalidPattern(obligation, 'militaryBookletNumber')"
                                                        class="invalid-feedback d-block">
                                                        {{'validations.only-numbers' | translate}}</div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="d-lg-none d-table-row" *ngIf="enableMilitaryBookletField(obligation.value)">
                                <td colspan="2">
                                    <div class="row">
                                        <div class="col-sm col-12 text-center p-3">
                                            {{'military-obligation.number' | translate}}
                                        </div>
                                        <div class="col-sm col-12">
                                            <input formControlName="militaryBookletNumber" autocomplete="off"
                                                class="form-control form-control-solid" type="number"
                                                [placeholder]="'military-obligation.number' | translate"
                                                [ngClass]="inputValidator(obligation, 'militaryBookletNumber')"  />
                                                <div *ngIf="isInvalidPattern(obligation, 'militaryBookletNumber')"
                                                        class="invalid-feedback d-block">
                                                        {{'validations.only-numbers' | translate}}</div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="d-lg-table-row d-none" *ngIf="enableMilitaryBookletField(obligation.value)">
                                <td>
                                    <div class="row">
                                        <div class="col-2 text-center p-3">
                                            {{'military-obligation.relase-day' | translate}}
                                        </div>
                                        <div class="col-10">
                                            <app-stepper-date-time [parent]="obligation" [date]="'militaryBookletReleaseDay'"
                                                [placeholder]="'military-obligation.relase-day' | translate"></app-stepper-date-time>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="d-lg-none d-table-row" *ngIf="enableMilitaryBookletField(obligation.value)">
                                <td colspan="2">
                                    <div class="row">
                                        <div class="col-sm col-12 text-center p-3">
                                            {{'military-obligation.relase-day' | translate}}
                                        </div>
                                        <div class="col-sm col-12">
                                            <app-stepper-date-time [parent]="obligation" [date]="'militaryBookletReleaseDay'"
                                                [placeholder]="'military-obligation.relase-day' | translate"></app-stepper-date-time>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr *ngIf="i > 0">
                                <td>
                                    <div class="d-flex justify-content-end">
                                        <button class="btn btn-icon" (click)="removeMilitaryObligation(i)">
                                            <span class="font-size-h2">&times;</span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row justify-content-between ml-10">
                    <button class="btn btn-icon" (click)="addMilitaryObligation()"><span
                            class="font-size-18px">+</span></button>
                </div>
                <div class="row justify-content-end m-7">
                    <app-stepper-arrow-hint *ngIf="militaryObligationData == null && 
                        !militaryObligationsButtonValidator(militaryObligationForm.controls.obligations.controls)" 
                        [description]="'military-obligation.military-obligation-add-button-hint' | translate">
                    </app-stepper-arrow-hint>
                    <button class="btn btn-success h-35px" *ngIf="addOrEditMilitaryObligationButton"
                        [disabled]="militaryObligationsButtonValidator(militaryObligationForm.controls.obligations.controls)"
                        (click)="createMilitaryObligations()">{{'stepper.button-update' | translate}}
                    </button>
                    <button class="btn btn-outline-success h-35px" *ngIf="!addOrEditMilitaryObligationButton"
                        [disabled]="militaryObligationsButtonValidator(militaryObligationForm.controls.obligations.controls)"
                        (click)="createMilitaryObligations()">{{'stepper.button-add' | translate}}
                    </button>
                </div>
            </div>
        </div>
    </form>
