<input class="form-control form-control-solid"  
                type="text" 
                [editable]='false'
                [placeholder]="'entity.employee-functions.search-funciton' | translate"
                [(ngModel)]="selectedFunction"
                (ngModelChange)="selectFunction($event)"
                [ngModelOptions]="{ standalone: true }"
                [ngbTypeahead]="searchFunction" 
                (focus)="focus$.next($any($event).target.value)"
                (click)="click$.next($any($event).target.value)"
                #instance="ngbTypeahead"
                container="body"
                [inputFormatter]="formatter" 
                [resultFormatter]="formatter" >