<app-page-title [title]="'dashboard.title' | translate" [subTitle]="'dashboard.subtitle' | translate">
</app-page-title>

<erp-shared-content>
  <div class="row">
    <div class="col">
      <div class="card card-custom gutter-b">
        <div class="card-header border-0 mt-5 pr-5" style="min-height: 100%;">
          <div class="row w-100">
            <div class="col">
              <div class="input-group input-group-sm input-group-solid">
                <select class="form-control h-35px" name="selectedStatus" id="selectedStatus"
                  (change)="atachProject($event)" (change)="getLoggingValues($event.target.value)">
                  <option class="default-option text-muted" selected value="">{{ 'dashboard.project' | translate }}
                  </option>
                  <option *ngFor="let item of projects" [value]="item">
                    {{ item }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col">
              <erp-shared-search-input 
                (handleSearch)="getLoggingValues({eventName: $event})"
                [placeholder]="'dashboard.event' | translate" #eventName>
              </erp-shared-search-input>
            </div>
            <div class="col">
              <erp-shared-search-input 
                (handleSearch)="getLoggingValues({userName: $event})"
                [placeholder]="'dashboard.user-name' | translate" #userName>
              </erp-shared-search-input>
            </div>
            <div class="col">
              <erp-shared-search-input 
                (handleSearch)="getLoggingValues({eventMessage: $event})"
                [placeholder]="'dashboard.event-message' | translate" #eventMessage>
              </erp-shared-search-input>
            </div>
            <div class="col">
              <button type="button" class="btn btn-danger" style="width: 100%;" (click)="openDeleteModal()">{{
                'dashboard.delete-logs' | translate }}</button>
            </div>
          </div>
          <div class="row w-100" style="margin-top: 1%;">
            <div class="col">
              <div class="input-group input-group-sm input-group-solid">
                <input id="from" [owlDateTime]="fromDate" [placeholder]="'dashboard.from' | translate"
                  class="shadow-input" name="date" [(ngModel)]="dateTimeFrom"
                  (ngModelChange)="getLoggingValues({fromDate: $event})" autocomplete="off" />
                <input id="from" [owlDateTimeTrigger]="fromDate" [placeholder]="'dashboard.from' | translate"
                  autocomplete="off" class="form-control form-control-lg form-control-solid"
                  [value]="dateTimeFrom | dateFilter:'dd/MM/yy HH:mm'" />
                <i class="fas fa-calendar-alt mr-2"></i>
                <owl-date-time #fromDate></owl-date-time>
              </div>
            </div>
            <div class="col">
              <div class="input-group input-group-sm input-group-solid">
                <input id="from" [owlDateTime]="toDate" [placeholder]="'dashboard.to' | translate" class="shadow-input"
                  name="date" [(ngModel)]="dateTimeTo" (ngModelChange)="getLoggingValues({toDate: $event})"
                  autocomplete="off" />
                <input id="from" [owlDateTimeTrigger]="toDate" [placeholder]="'dashboard.to' | translate"
                  autocomplete="off" class="form-control form-control-lg form-control-solid"
                  [value]="dateTimeTo | dateFilter:'dd/MM/yy HH:mm'" />
                <i class="fas fa-calendar-alt mr-2"></i>
                <owl-date-time #toDate></owl-date-time>
              </div>
            </div>
            <div class="co">
              <erp-shared-search-input 
                (handleSearch)="getLoggingValues({userIdentifier: $event})"
                [placeholder]="'dashboard.user-identifier' | translate" #userIdentifier>
              </erp-shared-search-input>
            </div>
            <div class="col">
              <erp-shared-search-input 
                (handleSearch)="getLoggingValues({jsonMessage: $event})"
                [placeholder]="'dashboard.json-message' | translate" #jsonMessage>
              </erp-shared-search-input>
            </div>
            <div class="col-1">
              <button class="btn btn-secondary reset" (click)="initFilters()">
                {{'button.reset' | translate }}
              </button>
            </div>
            <div class="col">
              <app-confirm-button [value]="'button.search' | translate" (click)="getLoggingValues()">
              </app-confirm-button>
            </div>
          </div>
        </div>
        <app-loading-spinner *ngIf="!isLoading" [contentHeight]="'80vh'" [height]="'5rem'" [width]="'5rem'"[colorClass]="'text-primary'"></app-loading-spinner>
        <div class="card-body">
          <div
            class="datatable datatable-bordered datatable-head-custom datatable-default datatable-primary datatable-loaded"
            id="kt_datatable">
            <table class="datatable table font-size-lg" style="overflow: visible">
              <thead class="text-uppercase text-muted">
                <tr>
                  <th scope="col" class="text-center">{{'dashboard.project' | translate }}</th>
                  <th scope="col" class="text-center">{{'dashboard.user-name' | translate }} {{'dashboard.npp' |translate }}</th>
                  <th scope="col" class="text-center">{{'dashboard.user-identifier' | translate }}</th>
                  <th scope="col" class="text-center">{{'dashboard.event' | translate }}</th>
                  <th scope="col" class="text-center">{{'dashboard.event-message' | translate }}</th>
                  <th scope="col" class="text-center">{{'dashboard.json-message' | translate }}</th>
                  <th scope="col" class="text-center">{{'dashboard.date' | translate }}</th>
                </tr>
              </thead>
              <tbody class="datatable-body" *ngIf="loggingValues.length">
                <tr *ngFor="let item of loggingValues">
                  <td class="text-center">{{ item.project }}</td>
                  <td class="text-center">{{ item.userName }}</td>
                  <td class="text-center">{{ item.userIdentifier }}</td>
                  <td class="text-center">{{ item.event }}</td>
                  <td class="text-center">{{ item.eventMessage }}</td>
                  <td class="text-center">
                    <p class="mb-0 text-wrapper font-size-sm cursor-pointer" (click)="viewJSON(item.id, loggingValues)" *ngIf="item.jsonMessage">
                      {{ item.jsonMessage }}
                    </p>
                  </td>
                  <td class="text-center">{{ item.date | date: 'dd/MM/yyyy, HH:mm'}}</td>
                </tr>
              </tbody>
              <tbody class="datatable-body">
                <tr>
                  <td colspan="10" class="text-center" *ngIf="!loggingValues.length">
                    {{ 'message.no-record' | translate }}
                  </td>
                </tr>
              </tbody>
            </table>
            <div pagination class="datatable-pager datatable-paging-loaded" [page]="pagination.currentPage"
              [total]="pagination.totalPages" [totalRecords]="pagination.totalCount" [size]="pagination.pageSize"
              (sizeChange)="getLoggingValues({ page: 1, itemsPerPage: $event })"
              (pageChange)="getLoggingValues({ page: $event, itemsPerPage: pagination.pageSize })">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</erp-shared-content>