<app-page-title [title]="'dashboard.title' | translate" [subTitle]="'dashboard.subtitle' | translate">
</app-page-title>
 
<erp-shared-content>
  <div class="d-flex flex-row">
    <div class="col">
      <div class="card card-custom gutter-b">
        <div class="card-header border-0 mt-5 pr-0" style="min-height: 100%;" *ngIf="showFilters">
          <div class="card-title py-3">
            <h3 class="card-label" id="title">{{'dashboard.title' | translate}}</h3>
          </div>
          <div class="card-toolbar d-md-flex d-none">
            <div class="card-toolbar py-3 mr-8" (click)="getHeaders(getTitle())">
              <erp-shared-export-button lass="mr-3">
                {{'button.export' | translate}}
              </erp-shared-export-button>
            </div>
          </div>
          <div class="card-toolbar d-md-none d-flex flex-column w-90">
            <div class="my-auto py-3 mr-8 pt-2" (click)="getHeaders(getTitle())">
              <erp-shared-export-button lass="w-100">
                {{'button.export' | translate}}
              </erp-shared-export-button>
            </div>
          </div>
          <div class="row w-100">
            <div class="col-lg col-md-6 col-12 pt-md-0 pt-2">
              <app-search-module (filter)="setFilter('projectName', $event)">
              </app-search-module>
            </div>
            <div class="col-lg col-md-6 col-12 pt-lg-0 pt-2">
              <erp-shared-search-input (handleSearch)="setFilter('eventName', $event)"
                [placeholder]="'dashboard.event' | translate">
              </erp-shared-search-input>
            </div>
            <div class="col-lg col-md-6 col-12 pt-lg-0 pt-2">
              <erp-shared-search-input (handleSearch)="setFilter('userName', $event)"
                [placeholder]="'dashboard.user-name' | translate">
              </erp-shared-search-input>
            </div>
            <div class="col-lg col-md-6 col-12 pt-lg-0 pt-2">
              <erp-shared-search-input (handleSearch)="setFilter('eventMessage', $event)"
                [placeholder]="'dashboard.event-message' | translate">
              </erp-shared-search-input>
            </div>
            <div class="col-lg col-md-6 col-12 pt-lg-0 pt-2 d-lg-block d-md-none d-none">
              <button type="button" class="btn btn-danger p-0" style="width: 100%;" (click)="openDeleteModal()">{{
                'dashboard.delete-logs' | translate }}</button>
            </div>
          </div>
          <div class="row w-100 mt-lg-3 mt-0">
            <div class="col-lg col-md-6 col-12 pt-lg-0 pt-2">
              <div class="input-group input-group-sm input-group-solid">
                <input id="from" [owlDateTime]="fromDate" [placeholder]="'dashboard.from' | translate"
                  class="shadow-input" name="date" [(ngModel)]="dateTimeFrom"
                  (ngModelChange)="getLoggingValues({fromDate: $event})" autocomplete="off" />
                <input id="from" [owlDateTimeTrigger]="fromDate" [placeholder]="'dashboard.from' | translate"
                  autocomplete="off" class="form-control form-control-lg form-control-solid"
                  [value]="dateTimeFrom | dateFilter:'dd/MM/yy HH:mm'" />
                <i class="fas fa-calendar-alt mr-2"></i>
                <owl-date-time #fromDate></owl-date-time>
              </div>
            </div>
            <div class="col-lg col-md-6 col-12 pt-lg-0 pt-2">
              <div class="input-group input-group-sm input-group-solid">
                <input id="from" [owlDateTime]="toDate" [placeholder]="'dashboard.to' | translate" class="shadow-input"
                  name="date" [(ngModel)]="dateTimeTo" (ngModelChange)="getLoggingValues({toDate: $event})"
                  autocomplete="off" />
                <input id="from" [owlDateTimeTrigger]="toDate" [placeholder]="'dashboard.to' | translate"
                  autocomplete="off" class="form-control form-control-lg form-control-solid"
                  [value]="dateTimeTo | dateFilter:'dd/MM/yy HH:mm'" />
                <i class="fas fa-calendar-alt mr-2"></i>
                <owl-date-time #toDate></owl-date-time>
              </div>
            </div>
            <div class="col-lg col-md-6 col-12 pt-lg-0 pt-2">
              <erp-shared-search-input (handleSearch)="setFilter('userIdentifier', $event)"
                [placeholder]="'dashboard.user-identifier' | translate">
              </erp-shared-search-input>
            </div>
            <div class="col-lg col-md-6 col-12 pt-lg-0 pt-2">
              <erp-shared-search-input (handleSearch)="setFilter('jsonMessage', $event)"
                [placeholder]="'dashboard.json-message' | translate">
              </erp-shared-search-input>
            </div>
            <div class="col-auto d-lg-block d-none pt-lg-0 pt-2">
              <div class="text-right">
                <button class="btn btn-secondary reset" (click)="resetFilters()">
                  {{'button.reset' | translate }}
                </button>
              </div>
            </div>
            <div class="col-auto d-lg-block d-none pt-lg-0 pt-2">
              <div class="text-right">
                <app-confirm-button [value]="'button.search' | translate" (click)="getLoggingValues()">
                </app-confirm-button>
              </div>
            </div>
            <div class="col-12 pc-container-menu pt-lg-0 mt-3">
              <div class="d-flex m-0">
                <button class="btn btn-secondary reset mr-2 w-100" style="border-color: #B5B5C3;" (click)="resetFilters()">
                  {{'button.reset' | translate }}
                </button>
                <app-confirm-button class="w-100 mr-2" [value]="'button.search' | translate" (click)="getLoggingValues()">
                </app-confirm-button>
                <button type="button" class="btn btn-danger w-100" (click)="openDeleteModal()">{{
                  'dashboard.delete-logs' | translate }}</button>
              </div>
            </div>
            <div class="col-12 mobile-container-menu pt-lg-0 pt-2">
              <div class="d-flex flex-column">
                <div class="d-flex m-0 w-100">
                  <app-confirm-button class="w-100 mr-1" [value]="'button.search' | translate" (click)="getLoggingValues()">
                  </app-confirm-button>
                  <button class="btn btn-secondary reset ml-1 w-100" (click)="resetFilters()">
                    {{'button.reset' | translate }}
                  </button>
                </div>
                <button type="button" class="btn btn-danger mt-2 w-100" (click)="openDeleteModal()">{{
                  'dashboard.delete-logs' | translate }}</button>
              </div>
            </div>
          </div>
        </div>

        <div class="card-body">
          <app-loading-spinner *ngIf="isLoading || downloadFile" [contentHeight]="'20vh'" [height]="'5rem'"
            [width]="'5rem'" [colorClass]="'text-primary'"></app-loading-spinner>
          <h4 class="text-center text-primary" *ngIf="downloadFile"> {{'print.print-table' | translate}} </h4>
          <div *ngIf="!isLoading && !downloadFile"
            class="table-responsive datatable datatable-bordered datatable-head-custom datatable-default datatable-primary datatable-loaded"
            id="kt_datatable">
            <table class="datatable table font-size-lg" style="overflow: visible">
              <thead class="text-uppercase text-muted">
                <tr>
                  <th scope="col" class="text-center">{{'dashboard.module' | translate }}</th>
                  <th scope="col" class="text-center">{{'dashboard.user-name' | translate }} {{'dashboard.npp'
                    |translate }}</th>
                  <th scope="col" class="text-center">{{'dashboard.user-identifier' | translate }}</th>
                  <th scope="col" class="text-center">{{'dashboard.event' | translate }}</th>
                  <th scope="col" class="text-center">{{'dashboard.event-message' | translate }}</th>
                  <th scope="col" class="text-center">{{'dashboard.json-message' | translate }}</th>
                  <th scope="col" class="text-center">{{'dashboard.date' | translate }}</th>
                </tr>
              </thead>
              <tbody class="datatable-body" *ngIf="loggingValues.length">
                <tr *ngFor="let item of loggingValues">
                  <td class="text-center">{{ item.project }}</td>
                  <td class="text-center">{{ item.userName }}</td>
                  <td class="text-center">{{ item.userIdentifier }}</td>
                  <td class="text-center">{{ item.event }}</td>
                  <td class="text-center">{{ item.eventMessage }}</td>
                  <td class="text-center">
                    <p class="mb-0 text-wrapper font-size-sm cursor-pointer" (click)="viewJSON(item.id, loggingValues)"
                      *ngIf="item.jsonMessage">
                      {{ item.jsonMessage }}
                    </p>
                  </td>
                  <td class="text-center">{{ item.date | date: 'dd/MM/yyyy, HH:mm'}}</td>
                </tr>
              </tbody>
              <tbody class="datatable-body">
                <tr>
                  <td colspan="10" class="text-center" *ngIf="!loggingValues.length">
                    {{ 'message.no-record' | translate }}
                  </td>
                </tr>
              </tbody>
            </table>
            <div pagination class="datatable-pager datatable-paging-loaded" [page]="pagination.currentPage"
              [total]="pagination.totalPages" [totalRecords]="pagination.totalCount" [size]="pagination.pageSize"
              (sizeChange)="getLoggingValues({ page: 1, itemsPerPage: $event })"
              (pageChange)="getLoggingValues({ page: $event, itemsPerPage: pagination.pageSize })">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</erp-shared-content>