<app-loading-spinner *ngIf="isLoading && !isStartAddingUsers" [contentHeight]="'20rem'" [height]="'5rem'" [width]="'5rem'"
  [colorClass]="'text-primary'">
</app-loading-spinner>

<div *ngIf="isStartAddingUsers" class="w-100">
  <div class="progress mt-2 h-25px">
    <div [style.width.%]="toolBarValue" class="progress-bar progress-bar-animated btn-light-warning font-size-h6"
      role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
      {{ toolBarValue }}%
    </div>

  </div>
</div>

<div class="w-100 text-center" style="margin-top: 1%;" *ngIf="isStartAddingUsers">
  <div class="text-center">
    <p class="text-center"> {{'user.please-wait' | translate}}  <span class="svg-icon svg-icon-primary svg-icon-2x"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-05-14-112058/theme/html/demo5/dist/../src/media/svg/icons/Code/Loading.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g>
              <polygon points="0 0 24 0 24 24 0 24"/>
          </g>
          <path d="M12,4 L12,6 C8.6862915,6 6,8.6862915 6,12 C6,15.3137085 8.6862915,18 12,18 C15.3137085,18 18,15.3137085 18,12 C18,10.9603196 17.7360885,9.96126435 17.2402578,9.07513926 L18.9856052,8.09853149 C19.6473536,9.28117708 20,10.6161442 20,12 C20,16.418278 16.418278,20 12,20 C7.581722,20 4,16.418278 4,12 C4,7.581722 7.581722,4 12,4 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(12.000000, 12.000000) scale(-1, 1) translate(-12.000000, -12.000000) "/>
      </g>
  </svg><!--end::Svg Icon--></span></p>
    
  </div>
</div>

<div class="table-responsive datatable datatable-bordered datatable-head-custom datatable-default datatable-primary datatable-loaded"
  id="kt_datatable">
  <table class="datatable table font-size-lg erp-shared-table" *ngIf="!isLoading && !isLoadingMedia">
    <thead class="text-uppercase text-muted">
      <tr>
        <th scope="col" class="w-50px"></th>
        <th scope="col"> {{ 'table.username' | translate }} ({{ 'table.npp' | translate }}) / {{ 'table.idnp' | translate }}</th>
        <th scope="col" class="d-none"></th>
        <th scope="col" class="d-none"></th>
        <th scope="col" class="d-none"></th>
        <th scope="col" class="d-none"> {{ 'table.idnp' | translate }} </th>
        <th scope="col"> {{ 'table.email' | translate }} </th>
        <th scope="col"> {{ 'departments.department' | translate }} </th>
        <th scope="col" class="d-none"></th>
        <th scope="col"> {{ 'user-roles.role' | translate }} </th>
        <th scope="col" class="d-none"></th>
        <th scope="col"> {{ 'user-roles.employee-function' | translate }} </th>
        <th scope="col" class="d-none"></th>
        <th scope="col" class="d-none"></th>
        <th scope="col" class="d-none"></th>
        <th scope="col" style="text-align: center;"> {{ 'table.posture' | translate }} </th>
        <th scope="col" style="text-align: center;"> {{ 'user-profile.access-mode' | translate }} </th>
        <th scope="col" style="text-align: center; vertical-align: middle">
          {{ 'table.status' | translate }}
        </th>
        <th scope="col" class="w-100px">{{ 'table.actions' | translate }}</th>
      </tr>
    </thead>
    <tbody class="datatable-body" *ngIf="users">
      <tr *ngFor="let user of users" (dblclick)="navigateToDetails(user.id)">
        <td [class.no-actions]="!viewDetails" class="text-center w-50px">
          <div class="symbol symbol-35 symbol-sm-s symbol-light-success">
            <span class="font-size-h4 symbol-label font-weight-boldest">{{ renderText(user) }}</span>
          </div>
        </td>
        <td [class.no-actions]="!viewDetails">
          <p class="font-size-lg cursor-pointer text-hover-primary mb-0"
              [routerLink]="['../../user-profile', user.id, 'overview']">
              {{ user.userName }}
              <br>
              <span class="text-dark-50 font-size-lg font-weight-light">{{ user.idnp }}</span>
          </p>
        </td>
        <td [class.no-actions]="!viewDetails"> {{ user.email }} </td>
        <td [class.no-actions]="!viewDetails">
          <span class="font-size-lg" *ngIf="user.departmentName">{{ user.departmentName }}</span>
          <span class="font-size-lg" *ngIf="!user.departmentName">-</span>
        </td>
        <td [class.no-actions]="!viewDetails">
          <span class="font-size-lg" *ngIf="user.roleName">{{ user.roleName }}</span>
          <span class="font-size-lg" *ngIf="!user.roleName">-</span>
        </td>
        <td [class.no-actions]="!viewDetails">
          <span class="font-size-lg" *ngIf="user.functionName">{{ user.functionName }}</span>
          <span class="font-size-lg" *ngIf="!user.functionName">-</span>
        </td>
        <td style="text-align: center;" [class.no-actions]="!viewDetails">{{'user-profile.' + userStatusEnum[user.userStatusEnum] | translate}}</td>
        <td style="text-align: center;" [class.no-actions]="!viewDetails">{{'statuses.' + accessMode[user.accessModeEnum] | translate}}</td>

        <td style="text-align: center">
          <div [class.no-actions]="!viewDetails">
            <div *ngIf="user.isActive === false" style="width: 25px; display: inline-block">
              <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 50 50"
                style="enable-background: new 0 0 50 50" xml:space="preserve">
                <circle style="fill: #d75a4a" cx="25" cy="25" r="25" />
                <polyline
                  style="fill: none; stroke: #ffffff; stroke-width: 2; stroke-linecap: round; stroke-miterlimit: 10"
                  points="16,34 25,25 34,16 " />
                <polyline
                  style="fill: none; stroke: #ffffff; stroke-width: 2; stroke-linecap: round; stroke-miterlimit: 10"
                  points="16,16 25,25 34,34" />
              </svg>
            </div>
            <div *ngIf="user.isActive === true" style="width: 25px; display: inline-block">
              <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 50 50"
                style="enable-background: new 0 0 50 50" xml:space="preserve">
                <circle style="fill: #25ae88" cx="25" cy="25" r="25" />
                <polyline style="
										fill: none;
										stroke: #ffffff;
										stroke-width: 2;
										stroke-linecap: round;
										stroke-linejoin: round;
										stroke-miterlimit: 10;
									" points="38,15 22,33 12,25 " />
              </svg>
            </div>
          </div>
        </td>
        <td data-field="Actions" data-autohide-disabled="false" class="datatable-cell datatable-cell-sort w-100px px-10">
          <div style="overflow: visible; position: relative; width: 0px">
            <div ngbDropdown class="dropdown dropdown-inline" container="body">
              <div class="btn btn-sm btn-default btn-hover-default btn-icon mr-2">
                <span class="svg-icon svg-icon-md" [id]="'action' + i" ngbDropdownToggle>
                  <svg _ngcontent-pkv-c106="" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24"
                    version="1.1">
                    <g _ngcontent-pkv-c106="" stroke="none" stroke-width="1">
                      <rect _ngcontent-pkv-c106="" x="14" y="9" width="6" height="6" rx="3" fill="black"></rect>
                      <rect _ngcontent-pkv-c106="" x="3" y="9" width="6" height="6" rx="3" fill="black"
                        fill-opacity="0.7"></rect>
                    </g>
                  </svg>
                </span>
              </div>
              <div class="dropdown-menu dropdown-menu-sm dropdown-menu-left">
                <div ngbDropdownMenu aria-labelledby="action1" class="p-0">
                  <button (click)="navigateToEvaluation(user.id)"
                    class="navi-link align-items-center py-2 px-6 my-2" ngbDropdownItem *permission="'P00000020'">
                    {{ 'button.view-user' | translate }} ({{ 'modules.evaluation' | translate}})
                  </button>
                  <button [routerLink]="['../../user-profile', user.id, 'overview']"
                    class="navi-link align-items-center py-2 px-6 my-2" ngbDropdownItem *permission="'P00000020'">
                    {{ 'button.view-user' | translate }}
                  </button>
                  <button (click)="getUserDataSheet(user.id)"
                    class="navi-link align-items-center py-2 px-6 my-2" ngbDropdownItem *permission="'P00000020'">
                    {{ 'button-downloand-excell.user-sheet' | translate }}
                  </button>
                  <button [routerLink]="['../edit', user.id]" class="navi-link align-items-center py-2 px-6 my-2"
                    ngbDropdownItem *permission="'P00000014'">
                    {{ 'button.edit-user' | translate }}
                  </button>
                  <button [routerLink]="['../set', user.id]" class="navi-link align-items-baseline py-2 px-6 my-2"
                    ngbDropdownItem *permission="'P00000015'">
                    {{ 'change-password-comp.title' | translate }}
                  </button>
                  <button (click)="openConfirmModal(user.id, user.firstName, user.lastName, 'reset-password')" class="navi-link align-items-baseline py-2 px-6 my-2"
                    ngbDropdownItem *permission="'P00000016'">
                    {{ 'reset-password.title' | translate }}
                  </button>
                  <span *permission="'P00000017'" class="font-size-lg">
                    <button *ngIf="user.isActive === false" (click)="openConfirmModal(user.id, user.firstName, user.lastName, 'activate-user')"
                      class="navi-link align-items-center py-2 px-6 my-2" ngbDropdownItem>
                      {{ 'button.activate-user' | translate }}
                    </button>
                  </span>
                  <span *permission="'P00000018'" class="font-size-lg">
                    <button *ngIf="user.isActive === true" (click)="openConfirmModal(user.id, user.firstName, user.lastName, 'deactivate-user')"
                      class="navi-link align-items-center py-2 px-6 my-2" ngbDropdownItem>
                      {{ 'button.deactivate-user' | translate }}
                    </button>
                  </span>
                  <button class="navi-link align-items-center py-2 px-6 my-2" ngbDropdownItem
                    [routerLink]="['../../user-profile', user.id, 'module-access']" *permission="'P00000021'">
                    {{ 'pages.user-details.module-access' | translate }}
                  </button>
                  <button [routerLink]="['../remove', user.id]" class="navi-link align-items-center py-2 px-6 my-2"
                    ngbDropdownItem *permission="'P00000019'">
                    {{ 'button.delete-user' | translate }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
    <tbody class="datatable-body" *ngIf="!users.length">
      <tr *ngIf="!users.length">
        <td colspan="10" class="text-center">
          {{ 'messages.no-records' | translate }}
        </td>
      </tr>
    </tbody>
  </table>
  <div class="justify-content-center my-10 px-8 my-lg-15 px-lg-10" *ngIf="isLoadingMedia">
    <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
    <div class="progress mt-2 h-25px">
      <div [style.width.%]="fileStatus.percent"
        class="progress-bar progress-bar-animated btn-light-warning font-size-h6" role="progressbar"
        aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
        {{ fileStatus.requestType }} {{ fileStatus.percent }}%
      </div>
    </div>
  </div>
  <div pagination class="datatable-pager datatable-paging-loaded" [page]="pagination.currentPage"
    [total]="pagination.totalPages" [totalRecords]="pagination.totalCount" [size]="pagination.pageSize"
    (sizeChange)="list({ page: 1, itemsPerPage: $event })"
    (pageChange)="list({ page: $event, itemsPerPage: pagination.pageSize })">
  </div>
</div>
