.avatar-img {
    position: absolute !important;
    margin-top: -10px !important;
    margin-left: -10px !important;
}

.mobile-container-menu {
    display: none;
    @media screen and (max-width: 992px) {
        display: flex;
    }
}

.custom-scrollbar-visible{
    overflow-x: scroll !important;
    &::-webkit-scrollbar {  
        height: 3px !important;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background: rgb(192,192,192);
    }
}