<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>RERU Login Page</title>
    <meta name="description" content="Login page" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link href="~/assets/css/pages/login/classic/login-2.css" rel="stylesheet" type="text/css" />
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/assets//media//bg/bg-4.jpg" />

    <link href="~/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />

    <link rel="shortcut icon" href="~/logo_transparent.png" />
</head>
<body class="header-mobile-fixed subheader-enabled aside-enabled aside-fixed aside-secondary-enabled page-loading" >
    <partial name="_Nav" />

        @RenderBody()

    <script src="~/lib/jquery/dist/jquery.slim.min.js"></script>
    <script src="~/assets/js/view-password-toggler.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>


    @RenderSection("scripts", required: false)
</body>
</html>
