@if (ViewContext.ModelState.IsValid == false)
{
    <div class="alert alert-danger">
        <strong>Eroare</strong>
        <div class="danger">
            <ul>
                <li>Email-ul sau parola au fost introduse incorect</li>
            </ul>
        </div>
       
        @*<div asp-validation-summary="All" class="danger"></div>*@
    </div>
}